[2018-02-04 19:46] olivergg commented on #528
This is a known issue. See https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=645

[2018-02-05 00:10] uli42 commented on #599
If that is the entire log then nxagent has never been suspended properly. It that situation it might help to send one SIGHUP to the nxagent process. The log file should then contain a "suspended" message. Afterwards reconnect should work. In theory...

[2018-02-05 13:14] Ionic commented on #640
Reopening until #645, #648 and #650 have been merged (as per the comment in the obsolete #641 PR).

[2018-02-05 15:40] uli42 commented on #640
Why are you re-opening? the fb fix is sufficient for the x11perf issue, I have tested that!

[2018-02-05 16:25] Ionic commented on #640
Because, in, #641, you explicitly said

If fb is really sufficient for this bug report to be closed, closing again...

[2018-02-05 16:25] #640 closed, assigned to nobody

[2018-02-05 22:05] uli42 commented on #640
Ah, right. That was only valid for the #641 patch series. Now that
they are all separated that statement is obsolete.

Uli

[2018-02-08 23:49] Ionic opened #656 "Connection speed != LAN leads to missing icon, background images and other issues"
Currently, starting a MATE session with the connection speed set to ADSL leads to this "output": ![MATE ADSL Debian Stretch x86_64](https://i.imgur.com/CSVWJ1b.png)

Some icons and the desktop background are missing, other colors are not showing up etc.

Putting the slider to LAN looks (almost) okay, although there are still some icon issues when navigating in drop-down menus (activated through th

[2018-02-09 02:46] #656 closed, assigned to nobody

[2018-02-09 11:46] Hybrid512 opened #657 "Make MagicPixel behaviour optional"
In fullscreen mode, there is a "MagicPixel" behaviour that minimize the session by clicking in the top right corner of the screen.

This behaviour should be made optional since, in TCE mode, it makes the desktop disappear and there is no way to get it back apart by rebooting the client and restore the suspended session.

This is troubling for users and absolutely not wanted.

It would be great to

[2018-02-16 21:37] Ionic commented on #83
Fixed by f76d4b54118627adb13dd896537c01033d989158.

[2018-02-16 21:37] #83 closed, assigned to Ionic

[2018-02-21 10:58] sunweaver opened #659 "Magic Pixel behaves inaccurately under i3"
Under i3 desktop on the client host, the Magic Pixel feature in nxagent behaves inaccurate:

  * in SwitchAllScreens mode:

    - after hitting the magic pixel, the session is frozen
    - a SIGHUP wakes up the session shortly, then suspends it

  * in SwitchFullScreen mode:

    - magic pixel not working at all

[2018-02-21 16:59] Hybrid512 commented on #631
Duplicate of this one : https://github.com/ArcticaProject/nx-libs/issues/301
Workaround there : https://github.com/atom/atom/issues/4360

I can confirm that ATOM and VSCode works after the workaround is applied ... it's slow ( as any other Chrome based apps under X2Go) but it works.

[2018-02-21 22:58] sunweaver commented on #625
This is intended behaviour. If autotools' Makefiles are non-existent, they get created, so autoreconf comes into play.

Closing...

[2018-02-21 22:58] #625 closed, assigned to sunweaver

[2018-02-21 23:00] Ionic opened #661 "FTBFS on non-ELF platforms"
Forcefully enabling new ELF dtags for RUNPATH works fine... on ELF-based systems.

It doesn't work so well on non-ELF-based systems, like Windows or OS X.

[2018-02-21 23:15] sunweaver commented on #568
@uli42: don't we have to live with this as legacy?

[2018-02-21 23:17] sunweaver commented on #564
I also think that we should leave this in, as it changes the "API" of nxagent/nxproxy tremendously.

Thus, closing...

[2018-02-21 23:17] #564 closed, assigned to nobody

[2018-02-23 00:24] sunweaver opened #662 "Xinerama bounding box issue"
Try this...

  * do this on a system with only one output head!!! Like a notebook.

  * start nxagent in windowed desktop mode
  * start LXDE, MATE, XFCE inside
  * move the nxagent window to the left of the screen, so parts of it are outside the visible area
  * resize the window
  * watch the desktop's panel and everything else
  * move the nxagent window back into the visible area

-> The left

[2018-02-25 14:04] #661 closed, assigned to nobody

[2018-02-26 00:10] #657 closed, assigned to sunweaver

[2018-02-27 00:10] #639 closed, assigned to nobody

[2018-02-27 00:10] #653 closed, assigned to nobody

[2018-02-27 06:36] #630 closed, assigned to uli42

[2018-02-27 06:38] realsimix opened #664 "Remove empty line at head of nxagent.1"
The empty line at the head of nxagent.1 prevents tools like `less` to display the file correctly:

[code]

Thanks,
Simon

[2018-02-27 06:41] #664 closed, assigned to nobody

[2018-02-27 06:50] #617 closed, assigned to nobody

[2018-02-27 07:01] sunweaver commented on #574
@vatral: @narenas: ping on this! Do you really use auxPort in TheQVD? It seems that using the ChannelEndPoint class for auxPort is fundamentally wrong. It is more like a boolean enabling the auxPort or keeping it disabled. Right?

[2018-02-27 07:03] sunweaver commented on #565
Blocked by #551. The documentation should fully describe the options string's format. This, however, is still a matter of negotiation and implementation.

[2018-02-27 07:05] sunweaver commented on #490
Won't fix.

The mesa-quilt script is easy to handle...

[code]

If you build the Debian package, then it is these steps:

[code]
No need to change this for now.

[2018-02-27 07:05] #490 closed, assigned to nobody

[2018-02-27 08:26] sunweaver commented on #462
@mikedep333: nx-libs build on epel-7 on ppc64le seem to be ok as of today:
https://japsand.x2go.org:8443/view/All%20ppc64le%20(nightly)/job/nx-libs+ppc64le+nightly+epel-7/

Thus, closing this issue.

[2018-02-27 08:26] #462 closed, assigned to nobody

[2018-02-27 08:28] sunweaver commented on #459
Funnily, commit 26c371b80cea388207cba3e8741240ff2837818b did not close this issue report. Doing it manually now.

[2018-02-27 08:28] #459 closed, assigned to nobody

[2018-02-27 08:33] sunweaver opened #665 "FTBFS on Fedora rawhide/pre-28: fatal error: rpc/rpc.h: No such file or directory"
In nxagent...

[code]

[2018-02-27 08:35] Ionic commented on #665
I'm aware of this.

This needs more work, I've committed some initial one in 6449b554837e0c8c566a00a7342fd787711d57ca, but more code changes are necessary since tirpc is not a direct drop-in replacement for the deprecated SUN-RPC glibc headers.

[2018-02-27 08:38] sunweaver commented on #665
https://fedoraproject.org/wiki/Changes/SunRPCRemoval

[2018-02-27 08:39] sunweaver commented on #665
oha... then we should revert my recent commit on nx-libs.spec.

[2018-02-27 08:41] sunweaver commented on #665
From the above document, I don't see anything about ABI/API changes.

[2018-02-27 08:43] Ionic commented on #665
Your recent commit is already included in nx-libs.spec... and since it's been there for a few weeks already, but the builds are still not working, it needs other changes.

Hopefully/mostly just adding the `tirpc/` prefix to the include path for some distro versions, but I'll have to try and see how that goes.

I'll work on it eventually, but this isn't a highly pressing issue for me right now sinc

[2018-02-27 08:49] sunweaver commented on #231
@uli42: I'd say this is covered now by jenkins.x2go.org. On the jenkins.arctica-project.org, I will stay with DEB-only builds, as it is much easier to maintain.

[2018-02-27 08:49] #231 closed, assigned to sunweaver

[2018-02-27 08:52] sunweaver commented on #179
now at XFixes proto version 4.0. By merge commit https://github.com/ArcticaProject/nx-libs/commit/b40dec982d17b010cedc183ebdc4c75ca7de785f

[2018-02-27 08:53] sunweaver commented on #158
This issue seems to have been a temporary phenomenon and has not occurred for a while. If anyone sees it again, please reopen.

[2018-02-27 08:55] sunweaver commented on #107
@stefanbaur: can you retest the above issue once nxagent 3.5.99.14 has been released (before the week is over)?

[2018-02-27 08:59] sunweaver commented on #5
I would like to bring up this discussion once more, so we maybe can quickly close this issue report.

As we are currently moving forward towards inclusion of nx-libs in all the major distros, I vote against a name change. At least not at this point or any near future point.

The term is coined and is associated with low bandwidth X11 connections. People have noticed, that we have been doing a shit

[2018-02-27 09:00] sunweaver commented on #5
@Ionic: @uli42: @mikedep33: @stefanbaur: @narenas: please take notice of https://github.com/ArcticaProject/nx-libs/issues/5#issuecomment-368794327

And comment, if needed... Thanks!

[2018-02-27 09:00] sunweaver commented on #5
@mikedep333:  please take notice of #5 (comment)

And comment, if needed... Thanks!

[2018-02-27 09:04] stefanbaur commented on #5
cf. https://en.wikipedia.org/wiki/Bicycle_shed_effect

TL;DR: Keep the name and close this report; or at least postpone the decision until the next major release.

[2018-02-27 09:05] Ionic commented on #5
Rebranding would take a lot of additional (packaging) work, so... probably not wise.

[2018-02-27 09:06] Ionic commented on #5
Do we have another entry? BSE?

[2018-02-27 09:14] stefanbaur commented on #107
I'm not quite sure if it was the same issue I had with Icedove/Thunderbird a while later; the latter one was fixed by setting
X2GO_NXAGENT_DEFAULT_OPTIONS+=" -extension BIG-REQUESTS"
in
/etc/x2go/x2goagent.options

So to test it again I would have to install a new test system, switch it to heuler or the arctica repo, I guess, and run these tests ... unlikely to happen in the next 3-4 weeks, due to

[2018-02-27 11:39] uli42 commented on #158
I see it daily on Ubuntu 16.0.4

[2018-02-27 13:38] sunweaver commented on #107
On  Di 27 Feb 2018 10:14:04 CET, Stefan Baur wrote:

This should really be made the default in x2goserver-x2goagent's
x2goagent.options:

X2GO_NXAGENT_DEFAULT_OPTIONS+="-extension BIG-REQUESTS"

As big requests are currently really broken in nxcomp [1].

Mike

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=766299
(currently closed by mistake)

--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24

[2018-02-27 22:16] uli42 opened #666 "manpage: add options from xnest"
nxagent is derived from xnest and therefore also has some of xnest's command line options. They are documented in the xnest manpage but not in the nxagent manpage.

Example:
[code]

Further options are `-display`, `-full`, `-class`, `-depth`, `-geometry`, ... Basically most of the nxagent manpage can be cloned.

[2018-02-27 22:48] uli42 commented on #662
I have played around and found a possible fix. However, I must rethink about what is happening here exactly. Can you please check if this patch fixes the issue for you?

[code]

[2018-02-28 10:36] sunweaver commented on #662
Hi Uli,

On  Di 27 Feb 2018 23:48:37 CET, Ulrich Sibiller wrote:

Nope, this is not the expected behaviour. With your patch above the
session window behaves as if NXAGENT_RANDR_XINERAMA_CLIPPING is defined.

The expected result should be:

   * I move the nxagent window partly out of the real Xserver's
visible area (to the left or up)
   * I resize the nxagent window (bottom right corner)
   * the

[2018-02-28 10:40] uli42 commented on #662
Can you provide some screenshots to ensure I understand correctly? From
your explanation I am still thinking that y patch fixes exactly that.

Am 28.02.2018 11:36 schrieb "Mike Gabriel" <notifications@github.com>:

[2018-03-01 05:44] realsimix opened #668 "Change default DPI to 96 inline with current Xorg"
Seems like Xorg has settled down to use 96 DPI (PPI) as default density if it can't find anything better.
At least that's what my searches for `Xorg 96 DPI` told me. That's also inline with the defaults of other DE's.

May I propose the patch below:
[code]
Regards,
Simon

[2018-03-01 07:24] sunweaver commented on #662
Hi Uli,

the below patch fixes things for me on a 1-output system.

[code]

I need to fire up my dual head system and check it there. Can you also test? It would be nice, getting this fixes for Ubuntu 18.04 (which means: today before 21.00 UTC)

[2018-03-01 07:27] Ionic commented on #662
Coordinates might be negative in multi-display setups with the origin (0,0) being on the primary display. (That's the case on Windows IIRC, no idea how X.Org handles this.)

Be careful with that.

[2018-03-01 07:29] Ionic commented on #662
When testing, make sure to put the primary display on both the left and right hand side of the secondary displays (plus for the y axis top/bottom).

[2018-03-01 07:30] sunweaver commented on #662
Hi,

On  Do 01 Mär 2018 08:27:54 CET, Mihai Moldovan wrote:

Those coordinates are coordinates in the NX session AFAIU.

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2018-03-01 07:32] #668 closed, assigned to nobody

[2018-03-01 08:45] uli42 commented on #662
Highly improbable that I can look at this today before 9pm, sorry

Am 01.03.2018 08:24 schrieb "Mike Gabriel" <notifications@github.com>:

[2018-03-01 08:49] uli42 commented on #662
I doubt the change being at the correct location. Intersect is a general
purpose function. It should be replaced by x11 box functions.

Am 01.03.2018 08:54 schrieb Ulrich Sibiller <uli42@gmx.de>:

[2018-03-01 20:26] mjtrangoni opened #669 "cppcheck static code analysis"
I found this tool [cppcheck](https://en.wikipedia.org/wiki/Cppcheck) and I think this could be something for the CI.

See for example,
[code]

[2018-03-01 20:43] sunweaver commented on #669
Please propose it as PR.

[2018-03-01 20:45] sunweaver commented on #337
@Hybrid512: can you please check, if this issue still persists for you with nx-libs 3.5.99.14? I have upgraded my Debian buster test rig (running MATE 1.20) and the issue is gone.

[2018-03-01 23:13] Hybrid512 commented on #337
As you can see, this doesn't fix the issue (Ubuntu 16.04 / MATE Desktop 1.12)

Regards.

De: "Mike Gabriel" <notifications@github.com>
À: "ArcticaProject/nx-libs" <nx-libs@noreply.github.com>
Cc: "Walid Moghrabi" <walid.moghrabi@lezard-visuel.com>, "Mention" <mention@noreply.github.com>
Envoyé: Jeudi 1 Mars 2018 21:45:09
Objet: Re: [ArcticaProject/nx-libs] White background instead of transparency

[2018-03-02 08:36] mjtrangoni commented on #622
Travis is working now.

[2018-03-02 08:36] #622 closed, assigned to nobody

[2018-03-03 11:18] Hybrid512 commented on #337
Hi,

my sense is that this got fixed in MATE 1.20. I'll set up a bionic test system and check...

Mike

On Friday, March 2, 2018, Walid Moghrabi wrote:

--
Sent from my Fairphone 2 (running Sailfish OS)

[2018-03-03 18:28] uli42 commented on #292
One application using the GenericEventExtension is atom. I have tried with this path today and atom does not work but crash weirdly... Also nxagent is behaving strange, w.g. you can run nxagent :55 and open an xterm on that server. But you can not enter any keys before also running window manager. Without this patch that's working fine. Also mouse events do not seem to work.

[2018-03-05 06:42] Ionic opened #671 "nxagent entering high CPU load while session is suspended."
With 3.5.99.14 on a Debian Unstable box, I started up a MATE session with one maximized `mate-terminal`, a running `firefox` instance showing the default first-run page (https://www.mozilla.org/en-US/firefox/54.0/firstrun/) and detached from it.

While at first nothing happened, after an hour I was able to reproduce nxagent producing high CPU load.

This seems to be consistent with reports from ot

[2018-03-05 08:00] Ionic commented on #671
`perf`:

[code]

Looks like it's caused by the screensaver and the code changes related to that.

[2018-03-05 08:03] uli42 commented on #671
GetTimeInMillis could also be related to the new logging code. Although nxagent is not using it explicitely it is still using nxcomp.

[2018-03-05 08:05] Ionic commented on #671
Yeah, but the screensaver timeout and DPMS stuff? I remember having merged code changes for that between 3.5.99.13 and 3.5.99.14, maybe something is amiss with that.

It's spinning in these functions way too often and never sleeping, so will need to look into this more carefully.

I'll also try disabling MATE screensaver in the session, then disconnect and see how nxagent behaves then.

[2018-03-05 08:53] Hybrid512 commented on #671
Hi,

I got some strange issues with screensaver stuff too.
At first, I thought it was triggered by openbox (for my TCEs) but as I read your reports, it's not only in that situation.
I had to step back to previous release, once my users were leaving their desktop for more than 10mn, they were unable to resume their session, nothing was working correctly and we had to kill their session one by one.

[2018-03-05 10:57] Ionic commented on #671
Disabling both the screensaver and DPMS makes nxagent behave sanely again. At least the issue didn't show up for 1.5 hours.

It seems to be difficult actually provoke this, though. So far, neither setting DPMS power modes forcefully nor enabling the screensaver forcefully provoked nxagent to go into this mode.

After setting both timeouts to a minute and detaching, waiting for almost 50 minutes, n

[2018-03-05 11:17] uli42 commented on #671
Suggestion: reduce the default timeouts in the code

[2018-03-05 11:47] 4nanook commented on #671
To see if this stops it from happening, I put in my .profile:

      /usr/bin/xset -dpms s off s noblank s 0 0 s noexpose -dpms

      And I have screen saver disabled in the start ups.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees o

[2018-03-05 14:02] uli42 commented on #662
I have checked what's happening again: The existing code tries to cover cases where part of the window is outside the visible area, and it does that fine. But it fails to do so for the resizing case.

[2018-03-05 15:21] LinuxPersonEC commented on #671
Would [this change](https://forums.linuxmint.com/viewtopic.php?t=171724#p943135) do the same thing?

One option is to edit the vlc.desktop file in the `/usr/share/applications `folder.

Replace the original command
`Exec=/usr/bin/vlc –started-from-file %U`

with the following line:
`Exec=sh -c “xscreensaver-command -exit; /usr/bin/vlc –started-from-file %U; xscreensaver -nosplash”`

[2018-03-05 16:04] Hybrid512 commented on #671
Are we talking about screensaver/dpms on the server side or the client side ?
I tried with updated libs on both and encountered the problem.
Reverted back to previous release on the client side and got problem too.
Only reverting both sides to previous release fixed my problem.

[2018-03-05 17:56] Hybrid512 commented on #671
okay ... seems really server side ....
Just leave a session alone for 10mn and you'll loose connection.
Once disconnected, you won't be able to resume the session.

[2018-03-05 20:02] Ionic commented on #671
More testing results:

Timeouts set to 1 minute each (if enabled).

[✘] MATE Screensaver [✘] Display Power Saving: no CPU spike
[✔️] MATE Screensaver [✔️] Display Power Saving: 100% CPU after 30 - 40 minutes
[✔️] MATE Screensaver [✘] Display Power Saving: 100% CPU after ~30 minutes
[✘] MATE Screensaver [✔️] Display Power Saving: 100% CPU after unknown time. Left it running for about 7h, CPU time c

[2018-03-05 20:03] Ionic commented on #671
If you're running `xscreensaver`, yes. The better option would to be to disable the screensaver and DPMS in your desktop environment's settings.

Definitely server-side (only).

[2018-03-05 20:08] h31 commented on #161
Any news on this issue? Still happens with x2go server 4.1.0.0.

[2018-03-05 20:26] LinuxPersonEC commented on #671
I wanted to apply this to all users so I followed [this suggestion](https://unix.stackexchange.com/a/50483/180291),
In your `/etc/X11/xorg.con`f file, add this section:
[code]
And the [command below](https://unix.stackexchange.com/a/422862/180291) that worked without any warning/error.

`gconftool-2 --direct   --config-source xml:readwrite:/etc/gconf/gconf.xml.mandatory   --type bool   --set /apps

[2018-03-05 20:33] Ionic commented on #671
That won't do anything useful for nxagent. It's not using a server config file, and certainly even less this one. You can safely revert this change.

That will work if you're using GNOME/GNOME screensaver. Other DEs will be unaffected by that case. Some DEs might not even have a global configuration file, but I figure most should have. MATE for instance doesn't have something like that directly, b

[2018-03-05 20:54] Ionic commented on #671
This is getting weird. Disabling both MATE screensaver and DPMS in MATE power settings, then restarting the session and disconnecting lead to 100% CPU usage after ~30 minutes.

Previously that seems to have worked for 1.5 hours, but maybe I've been also poking directly with forcing DPMS power modes that might have done something.

Guess I'll have to dig into screensaver and DPMS code and find out

[2018-03-05 21:03] 4nanook commented on #671
I disabled both screen saver and DPMS and left a server connected via
x2go up all night and the connection stayed up all night and was still
servicable this morning.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.

[2018-03-05 21:04] 4nanook commented on #671
Actually I disabled screen savering in System->Preferences->Screensaver
and then added this to my .profile:

/usr/bin/xset -dpms s off s noblank s 0 0 s noexpose -dpms

      This worked, system stayed connected all night.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable hu

[2018-03-05 21:46] Ionic commented on #671
That's what I thought as well, but I cannot reproduce nxagent running fine with both DPMS and MATE Screensaver disabled, which is weird.

Theoretically, that should do the same thing, but maybe MATE is messing up here. I'll see how that goes in a new session.

[2018-03-05 21:50] uli42 commented on #161
No, sorry. I still cannot reproduce that because I don't use Windows.

[2018-03-05 22:24] 4nanook commented on #671
I am using Mate.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206) 812-0051 or (800) 246-6874.

On Mon, 5 Mar 2018, Mihai Moldovan wrote:

[2018-03-06 00:32] Ionic commented on #671
Turning off everything through `xset` directly like you did seems to alleviate the problem. I don't quite understand why the MATE GUI settings don't do exactly this as well, but alright.

I've noticed that some code backports are missing, will test to see if that helps.

[2018-03-06 09:17] Ionic commented on #671
Thanks to @sunweaver, I figured out (probably) that disabling DPMS support completely within nxagent also works around that issue.

This is not really what I had in mind though, so will continue digging.

[2018-03-06 11:59] nkrepo commented on #600
I have a similar issue with screen Flickering and Ubuntu mate.
It happens almost all the time while the window is maximized.
It happens for about 1 second every time the window is resized.

If the mouse is moved over the top-left corner after the client window is resized (no clicking) the flickering continues for a few more seconds.

Setup details are:
Client
Windows 10 build 1709 (Fall creators u

[2018-03-06 19:41] pongraczi commented on #671
I also experienced this kind of issue, under latest x2goserver + Linuxmint 18.3 + Mate
I try to solve the issue with the xset command as shown above.
Otherwise, in mate control panel I already turned off dpms and screensaver, but seems there was no effect.

[2018-03-07 00:50] 4nanook commented on #671
The problems with the Mate control panel not working are not new or
specific to x2go.  It doesn't work locally on my machine and hasn't for years.
Oddly, it only blanks several times after a reboot then behaves, but the xet
command fixes the issue.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hos

[2018-03-07 05:50] sunweaver commented on #671
On  Mi 07 Mär 2018 01:50:17 CET, Robert Dinse wrote:

Have you reported your observed MATE issue (the non-related-to-X2Go
part) upstream (MATE upstream that is)?
e.g. at https://github.com/mate-desktop/mate-control-center

If not, please do.

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A

[2018-03-07 06:33] pongraczi commented on #671
So, xset on command line (or in .profile) did the trick, x2go session is up and running. Thanks.

[2018-03-07 06:41] 4nanook commented on #671
I put it in .profile but ran into a problem, the connection started the
ssh session before the x-server was running and it failed and blew up.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http:

[2018-03-07 06:42] 4nanook commented on #671
No and beofre I do so I want to try it with another desktop to make sure
it is only Mate.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206) 812-0051 or (800) 246-6874.

[2018-03-07 13:41] tkossak commented on #86
Same here:
Connecting from Windows 7 x64, X2Go client v4.1.1.1 (Qt - 4.8.6)
To: Linux Mint 18.3 Cinamon x64, X2Go server v4.1.0.0

Everything is fine while connecting from Linux to the same server.

[2018-03-07 16:53] #671 closed, assigned to nobody

[2018-03-07 17:08] uli42 commented on #671
What exactly is a "mode" in this context?

Am 07.03.2018 17:53 schrieb "Mihai Moldovan" <notifications@github.com>:

[2018-03-07 17:09] Ionic commented on #671
The DPMS display mode, i.e., on (default state), standby, suspend, off (increasing power reduction but also response time from left to right).

[2018-03-07 18:59] nkrepo commented on #600
Tested also with Centos 6.9 with Gnome 2.28.2 and the flickering can be also triggered. I am appending the session log bellow.

Setup details are:
Client
Windows 10 build 1709 (Fall creators update)
x2go client 4.1.1.1 with Arctica nx-libs

Server
Centos 5.9 with Gnome 2.28.2

[code]

[code]

[2018-03-07 20:17] #662 closed, assigned to nobody

[2018-03-07 22:34] mjtrangoni commented on #669
@sunweaver ok, I will be looking at this, and pushing some fixes.

I found these "errors", but I still have to check if they are false positives or not.
[code]

[2018-03-08 11:04] nkrepo commented on #600
More testing is done trying to identify if the 1 pixel hack is responsible for the flickering

[1-pixal hack](https://code.x2go.org/gitweb?p=x2goclient.git;a=blob;f=src/onmainwindow.cpp;h=eca9451c6f2c3efb713cb407338f79ad31b34633;hb=HEAD#l11248)

Flickering also occurs when the the nx-nxagent is manually started
Started putty with x-forwarding and run
`nxagent -ac :1`
Started a second putty and run

[2018-03-08 11:39] nkrepo commented on #600
I build the Ubuntu packages from the latest source from nx-libs.git and enabled DEBUG and TEST in
nx-X11/programs/Xserver/hw/nxagent/Screen.c
nx-X11/programs/Xserver/hw/nxagent/test.c
and attached the log file from the nxagent.

[nxagent_debug.log.gz](https://github.com/ArcticaProject/nx-libs/files/1792985/nxagent_debug.log.gz)

Modified nx-X11/programs/Xserver/hw/nxagent/Screen.c  by removing
[co

[2018-03-08 21:02] uli42 opened #673 "improve xinerama once more?"
I have found another problem with the xinerama code, see attached image.

The light blue area in the lower left screen of the screenshot is invisible in reality on my setup because the left screen is only 1080 in height. That's all ok. The problem is, that our (fixed in #670) xinerama code should increase the xinerama height of the left screen to the full 900 because is partly in the invisible are

[2018-03-08 21:04] uli42 commented on #600
@nkrepo: please find a version printing more debugging output in this branch: https://github.com/uli42/nx-libs/tree/tst_flicker Can you please compile this version and supply another debug log?

[2018-03-08 21:45] uli42 opened #674 "qt wireshark leads to nxagent using 100% cpu"
(20:57:51) kryojenik: Trying to track down an issue.  Ubuntu 16.04, x2go 4.1.0.0 nxlibs 3.5.99.15.  Trying to launch QT version of wireshark produces no window and nxagent spins at 100% cpu.  GTK version works fine.
(20:58:17) kryojenik: I see no error messages.  Any place to start looking for the hangup?
(21:23:37) uli42: kryojenik: I can confirm that - unfortunately...
(21:26:39) kryojenik: :)

[2018-03-09 08:27] nkrepo commented on #600
@uli42 : I build and run the tst_flicker branch. I am attaching the log file bellow.

[nxagent-tst_flicker.log](https://github.com/ArcticaProject/nx-libs/files/1796086/nxagent-tst_flicker.log)

[VCXSrv.0.log](https://github.com/ArcticaProject/nx-libs/files/1796094/VCXSrv.0.log)

[2018-03-09 10:29] nkrepo commented on #600
Run nxagent with -sync option, attaching the new log, the same flicker loop happens when the window is maximized.

[nxagent-tst_flicker-sync.log](https://github.com/ArcticaProject/nx-libs/files/1796476/nxagent-tst_flicker-sync.log)

[2018-03-09 19:35] sunweaver opened #677 "nxagent crashes when moving the session window into another screen"
I have played with a Xinerama setup with unequal outputs today.

I observed nxagent crashes regularly, whenever I moved thr agent window into the other outout. The crashes always occurred once the window was completely in the other output.

While the agent window was half on this, half on that output, no crash. Window fully moved over... Boom.

This was on i3's window manager...

[2018-03-09 19:48] uli42 commented on #677
Hmm this works for me with kwin

Mike Gabriel <notifications@github.com> schrieb am Fr., 9. März 2018, 20:35:

[2018-03-10 09:55] nkrepo commented on #600
I did a little more testing with different X-Servers
With latest Cygwin-X  the flicker loop can be triggered when maximizing but not every time.
With Vcxsrv integrated with x2go the flicker loop can be triggered when maximizing but not not every  time.
With Vcxsrv 1.17.0.0-3 the flicker loop is triggered every time when maximizing.

[2018-03-10 10:21] uli42 commented on #601
Can you trigger that? Then please attach nxagent's output.

Do you think this could be the same bug as #600?

[2018-03-12 13:23] pgotch opened #679 "Coredump of nxagent when connecting"
When connecting to x2goserver running on Ubuntu 16.04 with

nxagent:amd64/xenial 2:3.5.99.15-0~201803072246~ubuntu16.04.1 uptodate

I get a crash of nxagent and a coredump. The backtrace is shown below

[code]

The coredump is attached.

[core.gz](https://github.com/ArcticaProject/nx-libs/files/1802883/core.gz)

[2018-03-12 14:42] uli42 commented on #679
Phhh - the code here is a cascade of macro expansions.. A quick view with gdb shows this:

[code]

[2018-03-13 04:45] ngaywood commented on #677
I'm seeing this as well on Fedora 27.  Happened after these (among others) updates:
nxproxy-3.5.99.15-0.0build1.1.git20180308.2971.main.fc27.x86_64 Mon 12 Mar 2018 09:14:38 AEDT
nxagent-3.5.99.15-0.0build1.1.git20180308.2971.main.fc27.x86_64 Mon 12 Mar 2018 09:14:38 AEDT
libXcompshad3-3.5.99.15-0.0build1.1.git20180308.2971.main.fc27.x86_64 Mon 12 Mar 2018 09:14:37 AEDT
libXcomp3-3.5.99.15-0.0build

[2018-03-13 08:55] Muschelpuster commented on #161
We used X2Go for 1 year at Mint XFCE with Windows-Clients and had no problems. Now we have the same issue since 1 week at all clients. I can't reproduce whats happend, but I guess it was triggerd by a Mint-Update. But not on full-screen, only on maximized screen. Full-screen is very unsatisfying, because it's reloading the complete screen on every change between local and remote screen.
I tried to

[2018-03-13 12:22] pgotch commented on #679
[x2gosession.gz](https://github.com/ArcticaProject/nx-libs/files/1806810/x2gosession.gz)

[2018-03-13 12:24] pgotch commented on #679
[x2gosession.gz](https://github.com/ArcticaProject/nx-libs/files/1806813/x2gosession.gz)

[2018-03-13 12:28] pgotch commented on #679
With Xinerama enabled the backtrace is different you get

[code]

Core dump attached
[core.gz](https://github.com/ArcticaProject/nx-libs/files/1806825/core.gz)

[2018-03-14 08:02] nkrepo commented on #600
I did some more tests asked by @uli42 .
I tested with nxagent -rrxinerama, it made no difference, the flickering still happens, I am attaching the log bellow.
[nxagent-rrxinerama.log](https://github.com/ArcticaProject/nx-libs/files/1810088/nxagent-rrxinerama.log)
I figured out that the parameters "+bs -wm" have to be used with the vcxsrv to enable the backing store, but flickering still happens.

[2018-03-14 20:17] uli42 commented on #677
I can confirm this, here's the backtrace:

#0  0x000055db185705fb in nxagentMoveCorruptedRegion (pWin=pWin@entry=0x55db1a9b2b30, mask=mask@entry=131072) at Drawable.c:1797
#1  0x000055db1857733b in nxagentConfigureWindow (pWin=0x55db1a9b2b30, mask=131072) at Window.c:1312
#2  0x000055db18577918 in nxagentFlushConfigureWindow () at Window.c:3510
#3  0x000055db185652a7 in nxagentBlockHandler (data=<

[2018-03-14 21:14] uli42 commented on #677
Interestingly I can provoke this on my two-monitor setup on Ubuntu 16.04 when using x2goclient and connect to localhost (starting a new desktop session with /usr/bin/xterm as the desktop enviroment). Running an nxagent standalone or via =testscripts/run-nxproxy2nxagent-on-localhost= (original or modified to use the same options as in the x2go case) does not provoke the behaviour.

Update: Used the

[2018-03-15 00:09] sunweaver commented on #677
Hi Uli,

On Wednesday, March 14, 2018, Ulrich Sibiller wrote:

This is indeed very interesting and explains while I failed to spot the issue during all my tests while working on the bounding box patch.

Hmmm...

Mike

--
Sent from my Fairphone 2 (running Sailfish OS)

[2018-03-15 00:13] Ionic commented on #677
I haven't been able to reproduce this with an Ubuntu 16.04 VM (both as client and server) with two emulated displays using spice.

nxagent never crashed on me, and I have been resizing and dragging like crazy.

[2018-03-15 06:46] ngaywood commented on #677
@Ionic Were the 2 emulated displays of different size? It seems this might be a requirement for a crash.

[2018-03-15 07:02] Ionic commented on #677
No, they weren't. Different sizes make nxagent crash indeed. Looking into it.

[2018-03-15 07:46] #677 closed, assigned to nobody

[2018-03-15 08:48] Ionic commented on #679
Are you still seeing this with the current X2Go nightlies?

[2018-03-15 08:50] Ionic commented on #679
Current, for Ubuntu 16.04, would mean `2:3.5.99.15-0~201803150745~ubuntu16.04.1`. Just in case launchpad takes a while to actually publish the binaries...

[2018-03-15 09:26] Ionic commented on #677
@ngaywood please test the current X2Go nightly packages on your dev box and see if that issue is gone for you, too.

[2018-03-15 12:17] Ionic commented on #679
Duplicate of #677.

[2018-03-15 12:17] #679 closed, assigned to nobody

[2018-03-15 20:32] #665 closed, assigned to nobody

[2018-03-15 21:17] troffasky opened #680 "Colour-shift in Qt apps since x2go 4.1"
Since 4.1 I have noticed strange colour shifts in Qt applications.
For example, Qupzilla:

![farbplatten](https://user-images.githubusercontent.com/13175177/37491273-2820ca2c-2895-11e8-82ad-447f592b0a84.png)

The "Image Viewer" window with the screenshot of Qupzilla shows the UI it as it should be but the rendered page colours wrong, and beneath that window is how Qupzilla appears without a screen

[2018-03-15 21:21] uli42 commented on #680
also happens on my test build of nxagent-3.5.99-10 with mesa 7.7 included

[2018-03-15 21:22] uli42 commented on #680
the url of the page shown in the screenshot is https://wiki.selfhtml.org/wiki/Grafik/Farbpaletten#Farbnamen

[2018-03-15 23:06] mpuzio commented on #677
I am experiencing this problem too (with two screens of different size), the difference being that I am unable to start the x2go session at all - the session window briefly appears and then disappears. However, the underlying issue seems to be the same. I installed the nightly packages on my test VM and I am happy to report that the problem appears to be solved.

For the reference, related reports

[2018-03-16 00:21] ngaywood commented on #677
:+1:
Installing the nightly build fixed it for me :-)
That is, moving my x2goclient window across 2 different size displays no longer causes a SEGV in nxagent on the x2goserver.

[2018-03-16 03:30] Ionic opened #681 "Image corruption with xinerama"
![nxagent-xinerama-corruption2](https://user-images.githubusercontent.com/1229578/37502299-6463b732-28d2-11e8-8f28-ecdd69b0e2e9.png)

This was created by dragging the display utility window inside of the session around.

Dragging the `nxagent` window around usually forces a refresh and eliminates the corruption.

[2018-03-16 07:35] uli42 commented on #681
Have you added your second screen AFTER the x2go session start?

Mihai Moldovan <notifications@github.com> schrieb am Fr., 16. März 2018,
04:30:

[2018-03-16 07:39] Ionic commented on #681
Nope, it's been there all the time. The only thing I did was dragging the monitor preferences window around within the session.

What you cannot properly see is that behind that window, there is a MATE control center window which also shows up corrupted.

This is how it looks like after a forced refresh by dragging the nxagent window a bit:
![nxagent-xinerama-corruption3](https://user-images.githu

[2018-03-16 23:50] troffasky commented on #680
X2GO_NXAGENT_DEFAULT_OPTIONS+=" -extension GLX"
seems not to be a fix, actually. I made the change, tested it by starting a new session as a new user and the colour shift issue was not present. I assumed that meant I had found a fix, but what I have actually found is that a fresh user account doesn't have the issue. So now it seems like the issue is actually caused by something in the user's profi

[2018-03-17 00:25] uli42 commented on #680
But me and sunweaver see the colour problems, too.

troffasky <notifications@github.com> schrieb am Sa., 17. März 2018, 00:50:

[2018-03-17 09:51] sunweaver commented on #680
Nope, I couldn't reproduce them here... Neither with stretch nor buster...

Mike

On Saturday, March 17, 2018, Ulrich Sibiller wrote:

--
Sent from my Fairphone 2 (running Sailfish OS)

[2018-03-18 22:33] uli42 commented on #600
I did some tests, too. And I could see that the _x position_ of the nxagent window is changing back and forth between 0 and 8 while the _y position_ is flapping between 23 and 31 (again 8 pixels) between those many ConfigureNotify events the nxagent receives. Searching for "windows 10 8pixels" lead me to this insane Windows 10 behaviour: https://stackoverflow.com/questions/42473554/windows-10-scre

[2018-03-18 22:44] uli42 commented on #600
The other theory: Windows 10 changes the size of the window title bar when maximizing. The height is reduced and the program`s icon is moving a bit closer to the left edge. On my slow VM it looks like this done using multiple operations one after the other (move the icon to the left, reduce the height, move the window; I cannot define the order for sure). If every operation is causing an event thi

[2018-03-19 06:01] sunweaver commented on #600
What happens if you disable all visual effects in Windows???

Mike

On Sunday, March 18, 2018, Ulrich Sibiller wrote:

--
Sent from my Fairphone 2 (running Sailfish OS)

[2018-03-19 06:27] uli42 commented on #600
Unfortunately I haven't found where to do this yet. I have found some
instructions but they were not valid anymore. Looks like MS has dropped
that feature with one of the Win10 releases.

Mike Gabriel <notifications@github.com> schrieb am Mo., 19. März 2018,
07:01:

[2018-03-19 06:49] nkrepo commented on #600
@uli42 , yes of course, I will produce the new logs until tomorrow.
@sunweaver , I did a test with "Desktop Composition" , "Menu and window animation" and "Visual styles disabled", the flickering still occurs.

I have to note that after every client window resize (not maximizing), an extraneous client window resize event occurs to same geometry every time. It may worth to start looking for that fi

[2018-03-19 07:13] nkrepo commented on #600
@uli42 , run the `sysdm.cpl`, you can find the visual settings in advance tab. I tested running x2go both locally and while connected to another windows machine via RDP with all effects disabled.

[2018-03-19 08:02] uli42 commented on #600
@nkrepo: Thx. But unfortunately switching to "performance" here has no
impact on the flickering.

On Mon, Mar 19, 2018 at 8:13 AM, nkrepo <notifications@github.com> wrote:

[2018-03-19 08:06] uli42 commented on #600
@nkrepo: I can not confirm getting two resize events! I get only one!

On Mon, Mar 19, 2018 at 7:49 AM, nkrepo <notifications@github.com> wrote:

[2018-03-19 08:13] sunweaver commented on #600
Hi,

On  Mo 19 Mär 2018 09:02:26 CET, Ulrich Sibiller wrote:

Finally, I had a chance to try out X2Go under Windows yesterday at a
customer's. The flickering issue also occurs under Windows 7 and
doesn't seem to stop (we were not very patient, as in "minutes").

 From recent posts, I get the feeling that you guys limit it to
occurring under Windows 10. That is not the case, so Windows-10-only
spec

[2018-03-19 12:23] sunweaver opened #683 "Firefox freeze on drop down menu click"
Weird phenomenon... Setup:

### Client

  * X2Go for Windows, version 4.0.5.1 -> 4.1.1.1 (all the same...)
  * Windows 7 64bit

### Server

  *  X2Go Server 4.1.0.0
  * nxagent 3.5.99.16
  * Firefox 52.7.2esr-1~deb9u1

When clicking on a drop down menu in a homepage rendered via Firefox, the Firefox processes freezes. Kill -9 frees it again. Reproducible on various home pages that have those drop

[2018-03-19 12:27] uli42 commented on #683
please add some URLs

[2018-03-19 12:28] sunweaver opened #684 "[packaging] Warn about still running nxagent processes"
I upgraded an X2Go Server yesterday that had still running nxagent/x2goagent processes on it.

I wonder, if we should change our packaging in a way, so that it warns the sysadmin about still running sessions.

[2018-03-19 12:30] Ionic commented on #684
I don't know of any other software that would do so?

[2018-03-19 12:33] sunweaver commented on #684
I forgot to mention why...

The sessions got resumed after the upgrade, the window size looked minimal (not minimized). Only the borders were visible (resuming happened on Windows), but session starts presumably happened from a Windows system, too.

I then had to switch the sessions to fullscreen (CTRL+ALT+F) and could then resize the window so that the session became visible again.

Maybe, we sho

[2018-03-19 12:34] sunweaver commented on #684
@Ionic: that's no reason for us not doing it...

[2018-03-19 12:34] sunweaver commented on #684
@Ionic: plus... I have seen some packages do that, forgotten which, right now...

[2018-03-19 13:36] uli42 commented on #684
I don't really see what upgrading x2goserver should change for running
sessions. The running nxagents still have their (old) binary running
and their (old) libs opened, so nothing really changes for them.

On Mon, Mar 19, 2018 at 1:34 PM, Mike Gabriel <notifications@github.com> wrote:

[2018-03-19 13:38] Ionic commented on #684
But potentially different options as passed through X2Go scripts (when resuming for instance), although I've been careful to maintain compatibility in such a case.

Not sure what the breakage potential is here either and why it behaved like that.

[2018-03-19 15:38] valeryvdr commented on #161
Same flickering started few days ago for me. I connect from Windows 10 x2go Client to Debian Stretch x2go server. The issue started right away after I installed updates on Debian. The Debian runs MATE desktop. Besides flickering there is another symptom, I run Windows client off a laptop with a display extended to an external monitor, so the x2go cleint window opens on laptops monitor, if I drug t

[2018-03-19 16:21] uli42 commented on #161
Please update again, the crash is fixed in nx-libs 3.5.99.15. Regarding the
flickering see #600 (no fix yet, I am still analyzing)

valeryvdr <notifications@github.com> schrieb am Mo., 19. März 2018, 16:38:

[2018-03-19 17:12] valeryvdr commented on #161
Confirm, updated Debian just now and the crush does not happen anymore, thanks! Waiting eagerly for the solution for flickering, in a mean time instead of maximising I just resize the window manually to the desktop size, which works fine.

[2018-03-20 08:32] sunweaver commented on #683
On  Mo 19 Mär 2018 13:27:57 CET, Ulrich Sibiller wrote:

I saw this in a local install of BackupPC and in some other local
PHP/HTML application I can't remember right now.

Unfortunately, I don't have regular access to the (Windows) machine
that I tested with. Need to verify the issue from Linux still (which
is doable over the customer's VPN network).

Mike

--

DAS-NETZWERKTEAM
mike gabriel, herw

[2018-03-20 08:43] sunweaver commented on #600
On  Mo 19 Mär 2018 09:06:13 CET, Ulrich Sibiller wrote:

@nkrepo: can you rebuild a different nxagent branch and give feedback,
if that also has the flickering flaw?

The branch is this: bugfix/xinerama-crtcs on Ionic's nx-libs clone.

   $ git remote origin add gh-Ionic https://github.com/Ionic/nx-libs
   $ git fetch gh-Ionic
   $ git checkout bugfix/xinerama-crtcs

For details, see:
https://gith

[2018-03-20 08:52] Ionic commented on #600
Testing with this branch is not necessary. There are no differences from the main branch currently. It will behave exactly the same.

[2018-03-21 08:18] nkrepo commented on #600
I did more testing with the workaround patch provided by @uli42.
It was applied   (in Screen.c, line 2303):
[code]

There was no flickering loop. It seemed stable, I did notice any issues, unfortunately the testing was done remotely and was a bit slow and I might missed something.

I am attaching the log file generated by nxagent with with `return 0;`
[nxagent-debug-return-0.log](https://github.co

[2018-03-21 08:29] uli42 commented on #600
Thx! At least we have something to offer (although I still consider this a workaround only).

Did you notice any difference between "return 0" and "return 1"?

The return value should only really matter on systems with multiple monitors on windows and rrxinerama activated. Do you have two monitors available for testing?

[2018-03-21 18:56] mjtrangoni commented on #669
@sunweaver I found [coverity-scan](https://docs.travis-ci.com/user/coverity-scan/), and would be interesting too. By the way, I have no review at #678.

[2018-03-21 22:24] uli42 commented on #600
I have now tracked this issue down to a single line in =Screen.c:nxagentResizeScreen()=. The call of =XSetWMNormalHints()= is causing the flickering. We could leave it out if the =clientos= is Windows but there must be a better way...

[2018-03-21 23:47] mirco1000 commented on #161
Same issue x2go server on debian 9 and x2go client win10 please waiting for your help !
thank you

[2018-03-22 05:49] realsimix commented on #683
Does it really freeze completely, or does it only go VERY slow? I've seen similar issues with Firefox where I still try to find good ways to reproduce it.

In my case the whole session is almost dead but if I manage to close the affected Firefox window, the session continues properly.

[2018-03-22 06:47] sunweaver commented on #600
On  Mi 21 Mär 2018 23:24:41 CET, Ulrich Sibiller wrote:

I presume, you mean the XSetWMNormalHints() call in nxagetResizeScreen().

The nxagent code has its own function for that:
nxagentSetWMNormalHints() (also in Screen.c). Maybe that one needs to
be called instead?

Mike

--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG

[2018-03-22 07:26] sunweaver commented on #683
On  Do 22 Mär 2018 06:49:39 CET, Simon Matter wrote:

In my case, it was only Firefox that was dead. I could use xkill
inside the agent session to get the session back to speed.

I can't say, if it was just really really slow, as at the customer, I
could not take time to play with that.

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (435

[2018-03-22 07:57] uli42 commented on #600
On Thu, Mar 22, 2018 at 7:47 AM, Mike Gabriel <notifications@github.com>
wrote:

​Yes, as I wrote above ;-)​

​I have seen this function. It is very similar, but not the same (there's
room for improvement anyway). I have also tried calling
​nxagentSetWMNormalHints() but it did not change anything.

The "interesting" thing here is that the specific values passed to
XSetWMNormalHints() do not seem t

[2018-03-22 08:10] uli42 opened #685 "Re-check build flags for Redhat"
https://developers.redhat.com/blog/2018/03/21/compiler-and-linker-flags-gcc/

[2018-03-22 09:50] Ionic commented on #685
These should be applied automatically through the default optflags setting? The build logs look fine, e.g.: https://japsand.x2go.org:8443/view/NX/job/nx-libs+nightly+epel-7/lastSuccessfulBuild/consoleText

[2018-03-22 22:52] uli42 commented on #600
I have been playing around the whole evening on this...

One thing I learned:

1. on Windows 10: open `vcxsrv.exe -multiwindow -ac :3`
2. on Linux: open `DISPLAY=<windows-ip>:3.0 ./nxagent :55 +xinerama -rrxinerama -sync`
3. on Linux: run `DISPLAY=<windows-ip>:3.0 xdotool windowmove 0x20004e 0 31`

This will move the nxagent window on the Windows desktop to the left border. But only until you ente

[2018-03-27 22:53] uli42 commented on #600
I have tested more. I now think that the problem is that we call XMoveWindow() and XMoveResizeWindow() at some places in the code and assume that the nx window will be placed at exactly the position we pass to those calls. But the window managers will place it as they like.  Now, if we get a ConfigureNotify event it contains x,y coordinates. We compare them to the ones where we think the window sh

[2018-03-28 04:59] sunweaver commented on #600
Oh well, I really need to look into this. Thanks for all the research!!!

Mike

On Wednesday, March 28, 2018, Ulrich Sibiller wrote:

--
Sent from my Fairphone 2 (running Sailfish OS)

[2018-03-29 21:18] MattWeatherford commented on #161
We are also seeing this, but only on higher latency connections... connections from on campus to campus servers dont seem to have the problem.  Off campus connections from home ISP's see it more

We are on Debian 9 with all latest everything:

root@nori:~# uname -a
Linux nori 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u2 (2018-02-21) x86_64 GNU/Linux

root@nori:~# apt-show-versions | grep -iE '(nx|x

[2018-04-04 02:33] mbajam commented on #161
so I made it up - having same issue (Debian 8 / XP) right after we update our PCs so installed new x2go from reps.. signed there NoMachine label appears in upper left corner instead of x2go (lol guys) and all these happened.. now made purge remove the server, added Saimaa ESR links instead, and it works as should, and without NoMachine label too.. wanted to ask - is there any way to roll back / in

[2018-04-14 20:09] uli42 commented on #600
I have been looking at this over and over again. Meanwhile I think this is a bug in VcXsrv's handling of WM_NORMAL_HINTS. The minimal code below also triggers the behaviour on VcXsrv. Note that is does not change any value of WM_NORMAL_HINTS. Nevertheless, removing the SetXWMNormalHints() call fixes the flickering:

[code]

[2018-04-14 20:47] uli42 commented on #600
I have opened a bug for VcXSrv on SourceForge: https://sourceforge.net/p/vcxsrv/bugs/71/

[2018-04-14 20:53] sunweaver commented on #600
On  Sa 14 Apr 2018 22:47:29 CEST, Ulrich Sibiller wrote:

The statement about Windows 7 in that bug report is wrong. I have seen
it happen on Win7.

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwe

[2018-04-14 20:57] uli42 commented on #600
Thanks. I have added that information to the bug. It was mentioned above but I seem to have forgotten about that.

[2018-04-14 21:35] sunweaver commented on #600
Hi Uli,

On  Sa 14 Apr 2018 22:10:01 CEST, Ulrich Sibiller wrote:

If I get this right, the problem is caused by x,y,width and height
being set in the size hints.

 From
https://tronche.com/gui/x/xlib/ICC/client-to-window-manager/wm-normal-hints.html I read that those params are obsolete and should be left
out.

IIRC, the XWin code when -multiwindow is given fires up some minimal
internal window m

[2018-04-14 22:04] uli42 commented on #600
No. My example code does not set ANY hint and it still happens. I have
also tested exactly your suggestion in nxagent but the problems
remains.

Besides: x,y,width and height are obsolete, but nevertheless are being
used by some window managers.

On Sat, Apr 14, 2018 at 11:35 PM, Mike Gabriel <notifications@github.com> wrote:

[2018-04-16 07:17] uli42 commented on #683
Did you have graphics.xrender enabled in Firefox?

[2018-04-19 08:08] uli42 commented on #600
@mikedep333 Hi Mike#2, can you please examine what happens in the vcxsrv code when my example code from above is executed? Maybe you can even find a fix! Thx!

[2018-04-19 21:50] uli42 commented on #600
Good news everyone: vcxsrv 1.19.6.4 got released today and the release notes mention "Solved some flickering problems". An indeed: It works!

[2018-04-19 21:52] uli42 commented on #601
Can you please install vcxsrv 1.19.6.4 on Windows and check if it still happens?

[2018-04-19 21:52] attzonko commented on #600
Does this mean next release of the client will have the fix, or is there some steps we can take to update the current installation?

[2018-04-19 22:00] uli42 commented on #600
@attzonko: I guess that next client release will contain the new vcxsrv version but I don't know if there are other reasons why x2go does still ship an older version.

Meanwhile I suggest you download the the current vcxsrv from sourceforge, install it and configure x2goclien to use that version (Menu =Options/Settings=, Tab =Xorg Server Settings=)

[2018-04-19 22:37] Ionic commented on #600
Our vcxsrv version is patched, which means that it must be rebased for every new version and then built.

That takes @mikedep333 quite a bit of time and generally any fixes in vcxsrv are considered non-security-related, since the software is not running with elevated privileges on Windows.

[2018-04-19 22:40] uli42 opened #688 "Improve Handling of ConfigureNotify events"
According to ICCCM ConfigureNotify events  need special treatment reagrding window position, see https://tronche.com/gui/x/icccm/sec-4.html#WM_NORMAL_HINTS

Our code does not apply this special treatment.

Also, in HandleConfigureNotifyEvent we have a loop that consumes all outstanding ConfigureNotify events (which is/was an optimization for window resizing where we get lots of ConfigureNotify eve

[2018-04-19 22:42] uli42 commented on #600
In that case it should be possible to backport that single commit to
our current patched version.

Out of curiosity: what patches are included?

On Fri, Apr 20, 2018 at 12:37 AM, Mihai Moldovan
<notifications@github.com> wrote:

[2018-04-20 01:02] Ionic commented on #600
It's probably easier to fully upgrade this time, no idea what other stuff was changed.

Mostly build fixes, but also other stuff. See [the commit history](https://github.com/ArcticaProject/vcxsrv/commits/release/1.17.0.0-x) for details and especially the x2go/arctica release notes.

[2018-04-20 13:02] sunweaver commented on #600
Thus, closing. The issue is not an nx-libs issue, but burried in old versions of VcXsrv. Please upgrade VcXsrv to vcxsrv 1.19.6.4 or newer, if you encounter this issue.

[2018-04-20 13:02] #600 closed, assigned to sunweaver, Ionic, mikedep333

[2018-04-20 13:02] sunweaver commented on #161
Thus, closing. The issue is not an nx-libs issue, but burried in old versions of VcXsrv. Please upgrade VcXsrv to vcxsrv 1.19.6.4 or newer, if you encounter this issue.

[2018-04-20 13:02] #161 closed, assigned to sunweaver

[2018-04-20 13:03] sunweaver commented on #161
... see #600, for more info...

[2018-05-03 07:29] uli42 commented on #76
What exactly is "v6" referring to? The GLX extension has 1.something versioning with 1.4 being the most current one.

[2018-05-05 06:28] sunweaver commented on #76
On  Do 03 Mai 2018 09:29:53 CEST, Ulrich Sibiller wrote:

Yeah... Don't know that anymore. The v6 probably comes from some time
when I had less a clue than nowadays...

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.d

[2018-05-07 16:41] soportecasator commented on #600
Good morning every one, Can someone tell me how to configure the new  vcxsrv with the x2goclient?

[2018-05-07 16:46] soportecasator opened #690 "Desktop flashing when maximizing window on second screen with Windows client X2go"
Hello everybody, Can someone tell me how to configure the current vcxsrv  with the x2go client?

[2018-05-07 19:08] uli42 commented on #600
On Mon, May 7, 2018 at 6:41 PM, soportecasator <notifications@github.com> wrote:

1. install latest vcxsrv from sourceforge.
2. open x2goclient
3. in x2goclient's configuration menu (_not_ the confguration dialog
for a single connection) change the xserver configuration to the
freshly installed vcxsrv

Hope that helps,

Uli

[2018-05-08 22:09] uli42 opened #691 "Weird 64bit brokenness comment"
In `hw/nxagent/Screen.c` we find this:
[code]

There are two things I'd like to discuss here:

First, storing `attributes.event_mask` in line 1680 makes no sense to me since `nxagentGetDefaultEventMask()` will overwrite it.

Next:
`Mask` is `unsigned long` for 32bit and `CARD32` for 64bit (which is `unsigned int`; see `Xmd.h`)

`attributes` is `struct XSetWindowAttributes` and its member `event_ma

[2018-05-09 03:58] Ionic commented on #691
That's explained in the [commit message](https://github.com/ArcticaProject/nx-libs/commit/2d68caca72bd36b168b36b252c8035643c69e692).

The original problem was that `nxagentGetDefaultEventMask()` took a `Mask` pointer and wrote its magic into that location.

In X server context, `Mask` is always a 32 bit value (`CARD32`; hence `unsigned int` on 64 bit platforms and `unsigned long` on 32 bit platfor

[2018-05-09 07:52] uli42 commented on #691
Are you really sure this isn't over-engineered? I mean, in the current code I have a value of some type A and write that value to a location of another type B. I'd say the compiler is supposed to implicitely cast the value to type B. The endianess should not matter here.

I agree that there was a problem with the previous code, but wouldn't it have been easier (and clearer) to change `nxagentGetDe

[2018-05-09 15:35] Ionic commented on #691
Yeah, the issue was really a consequence of using a pointer as an output parameter and casting a memory location around to a different type.

By having `nxagentGetDefaultEventMask()` and `nxagentGetEventMask()` return `Mask` values directly and assigning them that shouldn't come up any longer.

Back then, I didn't want to change internals too much, but since this is strictly an NX addition, maybe

[2018-05-12 21:39] sunweaver opened #693 "cannot resume session in fullscreen mode"
I noticed a peculariaty when playing with Arctica Greeter's Remote Logon feature.

With X2Go, at least, it is currently not possible to resume a session in fullscreen mode. This is, although the nxagent configuration (options file in X2Go) is fullscreen=1.

After some code reading, I am sure this needs to be addressed in nxagent itself, as the underlying framework (X2Go, client-side and server-sid

[2018-05-14 10:03] uli42 commented on #693
In `Reconnect.c` we set `nxagentResizeDesktopAtStartup = False`.

[code]

This will disable fullscreen if the display size of the connecting client does not match the fullscreen size used by the previous client's display.

[2018-05-14 10:23] sunweaver commented on #693
Hi,

On  Mo 14 Mai 2018 12:03:51 CEST, Ulrich Sibiller wrote:

But that is not what we might want, is it? I'll do some tests around this.

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2018-05-14 10:37] uli42 commented on #693
Hmm, if the user does not allow resizing we cannot provide a fullscreen session. I have shadow sessions in mind where you surely do not want to resize.

[2018-05-17 12:59] uli42 opened #694 "running nxagent without window manager breaks xinerama"
If you run nxagent agains an X server without window manager it ignores the xinerama config.

(this is currently being discussed on the x2go-dev mailing list)

[code]

[2018-05-17 21:16] uli42 commented on #694
I have done some research:
1. run Xvfb +xinerama :56
2. run DISPLAY=:56 nxagent +xinerama :55

-> no xinerama in nx

In a session with a (reparenting) window manager nxagent receives a ConfigureNotifyEvent from the window manager right at the start (informing about (initial) size/position changes). This events triggers nxagent's code that finally updates the xinerama information.

In a session wit

[2018-05-18 07:06] ninsbl commented on #600
@sunweaver Will an updated VcXsrv be shipped with x2go Windows client? And if it is supposed to happen, is this evtl. scheduled already?
On https://github.com/ArcticaProject/vcxsrv latest version is 1.17.0.0...

[2018-05-24 07:12] sunweaver opened #696 "Travis CI: E: Unable to locate package clang-5.0"
@mjtrangoni: Hi! The clang-5.0 Travis CI job fails to build. Could you check, what is happening here? If you don't have time for this right now, please let me know and I dig myself through Travis CI.

Would it make sense to bump the CI chroots to 18.04? Or even Debian testing?

Thanks+Greets,
Mike

[code]

[2018-05-24 09:16] #694 closed, assigned to uli42

[2018-05-24 09:19] sunweaver commented on #690
The quick answer is: get latest VcXsrv and install it. Then replace X2Go Client's vcxsrv/ subfolder by the one you just installed.

If you have further questions, please consult the x2go-user mailing list with this question. This issue tracker is neither for user questions nor about X2Go.

[2018-05-24 09:19] #690 closed, assigned to nobody

[2018-05-25 12:41] Hybrid512 opened #697 "Chrome/Chromium browser stuck in front (_NET_ACTIVE_WINDOW)"
Hi,

With Chrome/Chromium browser > v49, there is a very annoying bug when running on MATE Desktop in an X2Go session.

Bug is highly reproducible and occures on Ubuntu 16.04/MATE 1.12 and Ubuntu 18.04/MATE 1.20 with latest NX-libs (3.5.99.16).

How to reproduce :
* Start a windowed or fullscreen remote MATE X2Go session
* Install Chrome/Chromium web browser
* Open Chrome/Chromium and maximize it

[2018-05-25 12:45] Hybrid512 commented on #337
Hi,

Still not fixed with MATE 1.20 (Ubuntu 18.04).
In fact it is even worst : now there is not a white background but the icons are trashed at each change (for example switching between different keaboard layouts) with random background color.
See this little screen capture attached.

![capture du 2018-05-25 14-42-51](https://user-images.githubusercontent.com/18528623/40544949-4550af14-602a-11e8-

[2018-05-25 13:18] uli42 commented on #697
Looks like this bug: https://bugs.freedesktop.org/show_bug.cgi?id=39367 There's a patch for libX11 included. Must check if we have that in our libX11 (probably yes). We should also check if it is included in the system's libX11 of the affected systems.

[2018-05-25 13:24] uli42 commented on #697
Can you please change the window manager in the Mate session to something else and retry)?

[2018-05-28 16:19] uli42 commented on #697
Chrome complains about missing GLX 1.3 in the nx session. So how to you manage getting it started?

[2018-05-29 07:38] Hybrid512 commented on #697
Chrome adapts itself when it lacks any feature/extension quite well.
This is true that it complains at startup but it starts anyway.
I created a policy with these values to mute these error messages :
* "HardwareAccelerationModeEnabled": false
* "Disable3DAPIs": true

But for sure, having a more up to date GLX support would probably help but I doubt this is related to this specific problem.

[2018-05-30 15:40] kryojenik commented on #674
Only starting to dig in here, thanks to some help from uli42.  Looks like the issue is narrowed down to nxagent.

$ nxagent -geometry 800x600 -ac :55 &
$ DISPLAY=:55 wireshark

Results in nxagent at 100%

$ top -cb -p $(pidof nxagent)
top - 08:26:27 up 22:02,  2 users,  load average: 1.29, 0.96, 0.61
Tasks:   1 total,   1 running,   0 sleeping,   0 stopped,   0 zombie
%Cpu(s): 12.0 us,  6.8 sy,  0

[2018-06-02 13:27] mjtrangoni commented on #696
Hi @sunweaver,

Sorry for the delay. I can`t see where this is failing. Was that temporally unavailable?

I was checking again about the Ubuntu 16.04 and 18.04 support, and there is nothing new about it, see [#5821](https://github.com/travis-ci/travis-ci/issues/5821). The available Build Environments are [here](https://docs.travis-ci.com/user/reference/overview/#Virtualisation-Environment-vs-Opera

[2018-06-02 20:32] sunweaver commented on #696
Hi,

On  Sa 02 Jun 2018 15:27:48 CEST, Mario Trangoni wrote:

Maybe the failures have been temporary. If none of the recent PRs are
in failing state for Travis, then the issue might be resolved without
work on our side.

So, they do CI on rotten old Ubuntu versions. This is not so appealing...

We still have the nightly builds on jenkins.arctica-project.org for
merged PRs (i.e. for branch 3.6.x) a

[2018-06-05 08:59] uli42 opened #698 "Consolidate nxagentWMIsRunning variable"
This variable is a Bool but is treated as integer at many places. While this is technically correct it is not very clean. Use `TRUE` and `FALSE` (or `True` and `False`) everywhere.

Might be the case for other Booleans, too.

[code]

[2018-06-05 11:55] uli42 commented on #632
Still broken with 3.5.99.16 on RHEL7

[2018-06-05 14:32] uli42 commented on #263
The default for screensaving in 3.5.99.16 is this:

[code]

While this looks ok it does not blank the screen for me. I need to manually call
`xset s noblank`. Then I get the screensaver after $timeout seconds (black screen with moving X logo). Maybe the "blank" parameter requires some internal (ddx specific) mechanism that we do no have in NX. DPMS is not available, BTW:
[code]

[2018-06-05 14:37] uli42 commented on #95
I have a fullscreen session. Screenblanking on the native display is disabled (`xset q` reports a timeout of 0. Activating the screen blanker there by calling `xset s 10` results in a blank screen after 10s, and pressing any key unblanks the screen again. I am wondering how the original problem you describe might happen.

[2018-06-05 14:46] uli42 opened #699 "investigate DPMS"
In 3.5.99.16 `xset q` reports:
[code]
while `xdpyinfo | grep DPMS` reports that the extension is there.

We should find a way to make it usable. I think, we should pass through to the display read X server for fullscreen sessions.

[2018-06-05 14:51] uli42 opened #700 "disable screensaver in rootless mode"
In 3.5.99.16 I see this behavour:

1. run a rootless session
2. `xset q` reports:
[code]
3. `xset s noblank`
4. `xset s 10`

-> screensaver will start after 10s and vanish immediately.

Expected: screensaving should not be available in rootless mode

[2018-06-05 15:16] uli42 opened #701 "Clipboard.c needs to include Utils.h"
because it is using `validateString()`

[2018-06-05 15:28] uli42 commented on #632
In a single rootless session with only an xterm started I mark something in the xterm and try to paste it locally. The nxagent (compiled with TEST and DEBUG) reports this:
[code]

[2018-06-05 15:45] uli42 commented on #632
`xdpyinfo -queryExtensions ` reports that 86 is the base event code for the XKB extension:

[code]

I also noticed that this is working if the nxagent is run without nx transport:
[code]

[2018-06-05 20:15] uli42 commented on #632
Turns out  that is independent from from clipboard problems. The problem seen here is the result of passing an invalid string via `keyboard=` in the options string (in my case it was `keyboard=null`). We're entering a codepath KeyboardProc in Keyboard. c where `XkbQueryExtension()` is never called and so `nxagentXkbInfo.EventBase` is still -1, which in turn makes `nxagentHandleXkbKeyboardStateEven

[2018-06-06 07:38] uli42 opened #703 "XkbQueryExtension is never called if keyboard= contains invalid string"
see #632 for details

[2018-06-06 07:47] uli42 opened #704 "Backport XKB.h fix"
https://cgit.freedesktop.org/xorg/proto/kbproto/commit/XKB.h?id=2306fcd4c511d41ae4b31b9cbd9f79cf69287730

[2018-06-06 08:23] #701 closed, assigned to nobody

[2018-06-08 08:25] uli42 commented on #632
Some further observations: These problems seems to happen in parallel to strange keyboard behaviour (shift or ctrl key getting lost, keyboard hangs). And it is NOT occuring with a custom build based on  d1d859dfdec4b4665e06401383ab71926e4e731c
Using the 3.5.99.16 nxagent with lib(NX_)X11, libXcomp and libXcompshad from the custom build mentioned above does not make the problems go away.

I am begi

[2018-06-14 17:11] leoluk commented on #384
Any progress on this?

[2018-06-14 18:34] uli42 commented on #384
Well, not really. You can try but be prepared to step over bugs. Depending
on your local window manager it can also work quite smoothly! The main
problem are intermediate switches to full screen. If you do not need them
it is really usable.

Uli

Leopold Schabel <notifications@github.com> schrieb am Do., 14. Juni 2018,
19:11:

[2018-06-14 20:18] uli42 commented on #688
The second part is fixed via f9bae755424cc413707e9657c8baf84a6cd8effe

[2018-06-19 20:00] uli42 opened #708 "Makefile broken regarding Xfont2"
running `make` in the main directory on a system that has libXfont2 works fine for the first run. But it creates several `Makefile`s that still refer to libXfont1:
[code]

With those files in place subsequent builds in the same tree (without cleaning up everything - my usual workflow when debugging) fail with xfont related problems as some files are compiled with/for xfont2 and the changed ones ar

[2018-06-21 19:01] uli42 opened #711 "Uninialised Value in ProcGetKeyboardControl"
[code]

[2018-06-24 21:49] uli42 commented on #632
The base of the whole problem is that XkbGetKeyboard() fails when run against an nxagent display. But it does not fail when run against a current Xorg server display. We have to find out why that is.

The non-working clipboard is a side effect of this.

[2018-07-03 14:21] #711 closed, assigned to nobody

[2018-07-03 14:36] #708 closed, assigned to nobody

[2018-07-03 20:35] #704 closed, assigned to nobody

[2018-07-05 13:29] realsimix opened #714 "JEdit issues with showing certain lines of text with latest snapshot"
Today I've opened a text file in JEdit and was a bit shocked because some lines of the text was just shown as empty lines. A quick test with vi showed that the file was correct, only showing it in JEdit was affected.

In the end I found the culprit: it's the latest nx-libs snapshot from Jul 3 which I compiled yesterday and used today. So, the issue comes from a change which was committed between J

[2018-07-05 15:05] uli42 commented on #714
On Thu, Jul 5, 2018 at 3:29 PM, Simon Matter <notifications@github.com> wrote:

Thanks for reporting that!

Yes, for sure we need to repair this one, brackets need to be
introduced here (before one line, now three lines in the if clause):

--- a/nx-X11/programs/Xserver/mi/mizerline.c
+++ b/nx-X11/programs/Xserver/mi/mizerline.c
@@ -158,7 +158,9 @@ miZeroLine(pDraw, pGC, mode, npt, pptInit)
     ps

[2018-07-05 16:05] realsimix commented on #714
I can confirm that reverting 913fcf1 resolves the issue.

[2018-07-05 20:31] uli42 opened #715 "XKB paths are a mess"
We define XKB_BASE_DIRECTORY at 3 locations
- xkb/Makefile (which is using $LIBDIR which in turn comes from Imake)
- hw/nxagent/Keyboard.c
- xkb/ddxLoad.c

The first problem with this is that in the two C-files we use different defaults. The second problem is that these defaults are ignored in xkb because the xkb/Makefile defines XKB_BASE_DIRECTORY. But in hw/nxagent the Makefile does NOT define X

[2018-07-06 07:02] Hybrid512 commented on #697
How can I and which WM do you propose ?

[2018-07-06 07:28] uli42 commented on #697
I don't know MATE in detail. But generally you can replace a running WM by starting another one with `--replace`. Try openbox for example.

Regarding that freedesktop bug: our libNX_X11 has the patches from the that bug incorporated.

I have not been able to start chrome due to OpenGL issues when I tried last time. Can you give me a pointer how to setup a chroem profile as you mentioned above?

[2018-07-19 17:01] antoinetran commented on #683
In my case, Firefox was really slow, to the point of waiting maybe a minute for the menu to appear. Then it continues to work as usual. The workaround for me was to disable audio.

[2018-07-19 23:11] mbecroft commented on #599
Had another failure similar to above, but did not generate a core dump. However it refers to the same line in XlibInt.c.

This occurred after connectivity from x2goclient to the x2goserver was lost for about half an hour. Instead of timing out and allowing for reconnection, nxagent exited after an assertion failure.

[code]

[2018-07-20 14:25] maddin200 opened #716 "logical condition always true"
[/nx-X11/lib/src/xcms/cmsColNm.c:317]  always true: EXPR != '\n' || EXPR != '\0'

[2018-08-05 19:15] dcb314 opened #719 "cmsColNm.c:317]: (warning) Logical disjunction always evaluates to true: EXPR != '\n' || EXPR != '\0'."
Source code is

      if ((*pBuf != '\n') || (*pBuf != '\0')) {

maybe better code
      if ((*pBuf != '\n') && (*pBuf != '\0')) {

[2018-08-05 22:50] uli42 commented on #719
isn't that the same as #716?

[2018-08-21 14:59] uli42 opened #720 "CVEs in lib(NX_)X11 (X,Org security advisory)"
We should upgrade our libX11 to 1.6.6

X.Org security advisory: August 21, 2018

Multiple issues in libX11
=========================

The functions XGetFontPath, XListExtensions and XListFonts from libX11
are vulnerable to three different issues:

Off-by-one writes (CVE-2018-14599).
-----------------------------------

The functions XGetFontPath, XListExtensions, and XListFonts are
vulnerable to a

[2018-08-22 13:36] #691 closed, assigned to Ionic

[2018-08-22 21:09] uli42 opened #723 "Files missing in libNX_X11"
The following files are existing libX11 1.6.6 but not in our tree:
[code]

Check what's the reason (if any)

[2018-08-22 21:20] uli42 commented on #715
I have done that (minus the imake magic) in #717

[2018-08-22 21:20] uli42 commented on #703
fix is included in #717

[2018-08-22 21:22] uli42 commented on #714
Fixed via 9926731 and 15f6948

[2018-08-22 21:22] #714 closed, assigned to uli42

[2018-08-23 22:05] uli42 commented on #609
combine with #608

[2018-08-24 21:49] uli42 opened #726 "derive product type from options string"
I have noticed that the options string can contain "product=something". We could/should use this to determine if we are running in x2go mode instead of the program name. x2go would simply have to extend the options string by "product=x2go".

Comments?

[2018-09-11 20:33] uli42 opened #727 "invisible window on reconnect"
I have observed the following:
1. run a fullscreen session
2. if there's some trouble with the network the proxy will complain after some time and shut down the connection
3. reconnection is possible, but the resulting window is not fullscreen. What's worse: it does not have any visible content. I have not found a way to revive the session and make it visible again. With xwininfo -tree you can see

[2018-09-11 20:36] uli42 commented on #673
Ionic reimplemented xinerama to solve just that (and similar) problem(s), see #682

[2018-09-24 18:53] uli42 commented on #727
I have now observed that this is only happening on Ubuntu Unity. So it is probably a window manager bug. I could successfukky reconnect such a session after switching to xfce on the client side.

[2018-09-24 18:53] #727 closed, assigned to nobody

[2018-10-08 14:51] uli42 commented on #697
I have been unable to trigger this behaviour on Ubuntu 16.04 with
- google-chrome-stable  57.0.2987.133-1
- mate-desktop 1.12.1-1

I could run chrome with a new policy (google-chrome --user-data-dir=~/.config/google-chrome-test). Unfortunately I could not find the hardware acceleration and 3D settings you mentioned above. So I simply disabled "use hardware acceleration is possible".

My nxagent wa

[2018-10-08 15:23] uli42 commented on #683
I stumbled across this libX11 bug which mentions "Using XIM with Firefox will cause firefox menu cannot popup correctly."

https://bugs.freedesktop.org/show_bug.cgi?id=39367

[2018-10-08 16:42] uli42 commented on #697
Further research show that it is probably to some issue in gtk and/or metacity. Many gtk apps are showing these "buggy client" messages.

It could also be that these messages are totally unrelated to the "chrome stays on top" problem.

Some things to test:
- run chrome with "use system's window decorations"
- compile chromium _without_ this patch: https://chromium.googlesource.com/chromium/src.git

[2018-10-09 07:16] realsimix commented on #683
Since above libX11 fix is already in current nx-libs, I don't think it was an issue in my Firefox case. The good thing is that current Firefox (the Quantum releases) behave much nicer now.

[2018-10-11 14:18] uli42 commented on #601
@Hybrid512 Is this still happening with a current release?

[2018-10-15 12:26] uli42 commented on #697
@Hybrid512 can you confirm that the problem is not happening with a current chrome? (what version)?

[2018-10-15 12:29] uli42 commented on #696
I still work on Ubuntu 16.04 LTS with is NOT the latest LTS

[2018-10-22 12:17] #301 closed, assigned to nobody

[2018-10-22 12:36] #698 closed, assigned to uli42

[2018-10-22 13:10] sunweaver commented on #723
They are obsolete with non-loadable i18n support. See 09cf1bcc0cc5f8b9d33b25e46320a9725742a38e.

[2018-10-22 13:10] #723 closed, assigned to sunweaver

[2018-10-24 19:08] uli42 commented on #720
has been merged yesterday.

[2018-10-24 19:08] #720 closed, assigned to uli42

[2018-10-24 19:08] uli42 commented on #716
has been merged yesterday

[2018-10-24 19:08] #716 closed, assigned to uli42

[2018-10-24 19:08] uli42 commented on #719
has been merged yesterday

[2018-10-24 19:08] #719 closed, assigned to nobody

[2018-10-30 00:04] uli42 opened #733 "Screen gets garbled after some seconds"
I run `nxagent -ac :55` and get a window with a black background. After a fee seconds that changes to garbage, see screenshot:
![nxagent_garbage](https://user-images.githubusercontent.com/6320356/47687246-ab202280-dbdf-11e8-8413-74c21d112d8b.png)

Can anyone confirm this?

[2018-11-19 15:07] uli42 commented on #715
this is merged now - closing

[2018-11-19 15:07] #715 closed, assigned to sunweaver, Ionic

[2018-11-26 13:22] vatral opened #737 "CUPS is broken on OSX starting from El Capitan"
Starting from El Capitan, the CUPS service is not running by default on OSX, and is started as needed. Also, it automatically shuts down after being unused for some time.

As a result, forwarding the print port fails to work correctly.

We're currently looking into this. I will have to look more deeply into how is an application supposed to do this properly, but my current idea is to make NX start

[2018-11-27 11:55] uli42 opened #738 "Compilation on CentOS6.7 and 7.2 issues warnings "x shadows a member of 'this'""
This is just an example, there are lots of these:

[code]

[2018-11-28 03:20] JohnCaiJun opened #739 "running nxagent in remote , how can i render 3d app on my local pc by local gpu?"
when i run openGL app , nxagent take a lot of cpu , so i want use local gpu to render 3d application, please help me , thanks  . (my english not good, don't  mind...)

this is stacktrace when i run glxgears on nxagent：
#0  0x00007ffff529dc53 in __select_nocancel () from /usr/lib64/libc.so.6
#1  0x00007ffff7adf444 in _XSelect (maxfds=10,
    readfds=readfds@entry=0x7fffffffbf40,
    writefds=writef

[2018-11-28 15:34] uli42 opened #740 "libreoffice segfaults with 3.5.99.17"
[18:08] <hybrid512_> from recent updates to my TCE setup (including updates to x2goserver and libnx), Libreoffice now segfaults everytime I start it
[18:10] <hybrid512_> I'm not 100% sure this is related to x2go/nx because there were a lot of updates in between so I'm now trying to pinpoint the exact cause but I wanted to throw the point here just in case someone could run a test on his setup (I'm

[2018-11-28 20:33] uli42 commented on #740
Works for me, I only see
[code]

I have:
[code]

[2018-12-03 07:57] uli42 opened #741 "commandline parameters are ignored at reconnect"
1. `nxagent -keyboard something :55`
2. `pkill -HUP nxagent` (suspend session)
3. `pkill -HUP nxagent` (resume session)
-> `-keyboard` is ignored in the reconnect.

It _looks_ like the values provided via the options parameter (filename or nx/nx string) are being reparsed on reconnect but not the other parameters on the command line.

This needs more investigation. Maybe `-keyboard` is a special c

[2018-12-06 18:47] uli42 commented on #739
The nxagent is using indirect rendering via the  X protocol to perform drawing operations.

https://en.wikipedia.org/wiki/GLX#/media/File:Linux_graphics_drivers_Utah_GLX.svg shows how this works (X server in this pic is the nxagent). Instead of accessing the kernel or the graphics hardware the GLX (OpenGL) commands are sent to the software renderer (mesa) included in nxagent (doing the stuff the g

[2018-12-11 08:04] uli42 opened #745 "hanging session"
I had a hanging session where the nxagent (3.5.99.16 with nxproxy 3.5.99.17) did not react anymore. The mouse pointer had changed to the symbol you see when hovering over a (resizable( window border (left-right-arrow in my case). I had to reconnect and got this in the server's output:

[code]

Some lines above I found the following:
[code]

Investigate where this code resides and how this value ca

[2018-12-17 20:16] uli42 commented on #737
This is not an nx-libs bug. I'd rather not integrate cups start into nx-libs. This is clearly the task of the session management software (x2go, qvd etc.).

[2018-12-17 20:18] uli42 commented on #726
ping

[2018-12-17 21:27] uli42 opened #746 "RFC: should -autodpi act on reconnect?"
running `nxagent -autodpi` will adapt the DPI on reconnect. This will cause clients having different DPI settings, depending on the time they had been started (before or after the reconnect)

There might be situations where this is desirable but generally I think it's not.

[2018-12-17 22:12] uli42 opened #747 "nxagent manpage: unresolved macros"
the nxagent manpage contains macros that are not resolved during packaging/installation. Run `man nxagent | grep __` and you'll get this:

[code]

The `__miscmansuffix__` is not replaced my something suitable.

[2018-12-17 22:14] uli42 commented on #631
fixed by #729

[2018-12-17 22:14] #631 closed, assigned to nobody

[2018-12-17 22:18] uli42 commented on #604
this is fixes via 701e702a121029098a6123bee9e43a9b81f4b3d9.

[2018-12-17 22:18] #604 closed, assigned to nobody

[2018-12-17 22:33] uli42 opened #748 "Wrong icon for reconnected (X2Go) sessions"
(18:40:42) amiconn: The latest release (for windows) has a new interesting effect regarding icons
(18:41:33) amiconn: A reconnected session gets a different taskbar icon (just the X on white background) from a newly created session (the X on white background plus stripes)

![Screenshot](https://home.amiconn.de/~jens/x2go-taskbar.png)

[2018-12-17 22:43] vatral commented on #737
Okay, so here's what I gathered so far:

CUPS is not running by default anymore on OSX, so it's not listening to the port at all (and there's no socket listener that starts it, it seems. At least on TCP). It also shuts down automatically after a while.

So here is the rough idea I had in mind: I want to add an option to NX to add a configurable command that would be executed on an incoming connect

[2018-12-17 22:44] uli42 commented on #587
I think this is fixed with the recent upgrade to xkb 1.3  I don't see it with the current version.

[2018-12-17 22:44] #587 closed, assigned to nobody

[2018-12-17 22:49] uli42 opened #749 "Uninitialized bytes in xkb"
Valgrind reports these:

[code]

There are several fixes we should backport from xorg-server:
[code]
[code]
[code]
[code]

[2018-12-17 23:24] uli42 opened #750 "Backport fastpath handling in fb"
These commits:
[code]

and its later fix

[code]

[2018-12-17 23:28] uli42 commented on #737
On Mon, Dec 17, 2018 at 11:43 PM Vadim Troshchinskiy
<notifications@github.com> wrote:

I am totally fine with that. Maybe we should also add the opposite,
too: a configurable command that is executed on disconnect.

But I am wondering (I don't know OSX): How is CUPS used on that system
at all? Who is starting the service when a user wants to print?

Uli

[2018-12-18 00:20] Ionic commented on #737
Socket activation is a state of the art technique. Given a known and always socket location (normally passed via env variables) that is created/managed by system software such as systemd or launchd, client applications can just connect to this socket. The server will be spawned automatically by systemd/launchd and data proxied, as well as disabled again after the last client exits.

[2018-12-18 06:10] uli42 commented on #737
So OSX is working like systemd here. What needs to be done to leverage that
for x2go?

Am Di., 18. Dez. 2018, 01:20 hat Mihai Moldovan <notifications@github.com>
geschrieben:

[2018-12-18 08:14] Hybrid512 commented on #697
nope, this is still happening
In rare cases, it doesn't appear but in a non reproducible manner.
However, it happens nearly 99% of the time, whatever recent Chrome/Chromium release and whatever MATE release (tested from ubuntu 16.04/MATE 1.12 to Ubuntu 18.04/MATE 1.20).
BTW, this is strictly a MATE bug because I don't have the issue with XFCE but it only occurs under X2Go and not on a local sessio

[2018-12-18 20:29] uli42 commented on #750
For got the reason. It's this valgrind finding:

[code]

[2018-12-18 20:51] uli42 commented on #733
This effect is gone for me now. Not sure what made it vanish. However, there's still something wrong here: If I start it as described above I get an empty window with a black background.

![nxagent_garbage1](https://user-images.githubusercontent.com/6320356/50182660-367c8100-0310-11e9-89e7-7204665c46f0.png)

But after suspending and resuming (2x `pkill -HUP`) instead of the black background I get

[2018-12-18 21:47] uli42 commented on #741
Note: there are variables called `nxagentArgc` and `nxagentArgv` in the nxagent code which might be helpful here.

[2018-12-19 11:19] #749 closed, assigned to nobody

[2018-12-19 11:21] #750 closed, assigned to nobody

[2018-12-19 11:26] #666 closed, assigned to nobody

[2018-12-19 11:31] #741 closed, assigned to nobody

[2018-12-19 11:37] #373 closed, assigned to nobody

[2018-12-19 19:10] vatral commented on #737
I've not looked much into it yet. We've found it during testing, and it's on the list, but pretty much the entire team is on vacation, so it will take me a while to get to it.

I opened the ticket a bit early to start looking into how to approach it.

Perhaps nothing elaborate is needed then, just swap a redirect to TCP port to a redirect to a socket?

[2018-12-21 09:23] uli42 opened #755 "modifiers are lost due to vmware"
I have experiences the following several times now with 3.5.99.17. All of a sudden shift and ctrl are not working properly anymore:

[code]

Looks fine.

[code]

Wait, what's going on here?

Let's set the keymap rules again:
[code]

[code]

Back to normal again.

How can this happen? I  suspect VMware Workstation 14 being the culprit but that's not verified yet. There are several hints, e.g. https

[2018-12-29 16:44] uli42 commented on #755
See http://nthrbldyblg.blogspot.com/2008/06/vmware-and-fubar-keyboard-effect.html for a solution (though I'd call it workaround). VMware has some more information and additional settings for this issue here: https://www.vmware.com/support/ws55/doc/ws_devices_keymap_linux_longer.html

[2019-01-04 11:27] sunweaver opened #756 "libXcomp.so.3: undefined symbol: pthread_key_create"
14:53 < oe1skw> hello, can anyone help me with an x2go problem on ubuntu : /usr/bin/nxproxy: symbol lookup error: /usr/lib/x86_64-linux-gnu/libXcomp.so.3: undefined symbol: pthread_key_create

[2019-01-09 13:31] uli42 opened #757 "Tooltips, pull-down menus, and context menus too far away (X2Go #1359)"
https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=1359

"I've recently started experiencing a problem when running single
applications over X2Go.  Quite often small windows such as tooltips,
pull-down menus, and context menus get positioned far, far away from
where they are supposed to be.  For example, I'm currently writing this
message in Claws Mail; when I activate the "Edit" pull-down menu, the

[2019-01-09 14:28] logological commented on #757
I'm the reporter of the bug on the X2Go bug tracker.  I'm available here to answer queries and perform testing.

[2019-01-09 14:34] uli42 commented on #757
Ok, thanks for the information. Can you please retry with another window manager? It would also help if you could out how to reliably replicate it.

Can you tell if this happens on both new connections and reconnected sessions?

And just to be sure: what version of nx-libs/nxagent are you using?

[2019-01-09 14:51] logological commented on #757
That might be tricky, since I work exclusively in Plasma, but the problem is not always consistently reproducible.  I'll try using some other environment and hopefully that won't put too big a dent in my productivity.

I would like nothing more, but so far I haven't been able to.

I haven't tested whether this makes a difference.  I'll do some testing and get back to you.

On the server:
nx-libs-3

[2019-01-09 14:54] logological commented on #757
I can now confirm that it definitely happens with reconnected sessions (but not consistently).  If I notice it happening with a new session, I will let you know.

[2019-01-09 14:59] uli42 commented on #757
Just choose another window manager and run it with "--replace"

[2019-01-09 15:12] logological commented on #757
The following steps seem to reproduce the problem consistently, using the setup described in my original report.

1. Use X2Go to launch a terminal emulator in single application mode.  I do this by having X2Go run the following remote command:
[code]
2. Launch `claws-mail`.  View a message and right-click somewhere in the message preview pane.  Context menu appears where it should.
3. Suspend the

[2019-01-09 15:15] logological commented on #757
Ah, I see how that would be easier.  Now that I have a way of consistently reproducing the problem with kwin, I'll try another window manager.  I won't have time to do this today, though.  Maybe tomorrow.

[2019-01-09 21:45] uli42 commented on #757
I can also see something similar this when I take out x2go of the equation:
1. run `nxagent -R :55`
2. export DISPLAY=:55
3. run you script
4. run claws-mail in the newly-opened termina
5. View a message and right-click somewhere in the message preview pane. Context menu appears where it should.
6. pkill -HUP nxagent && sleep 5 && pkill -HUP nxagent
7. In the Claws Mail window, right-click somewhe

[2019-01-10 08:36] logological commented on #757
I can't get past step 3.  Is there some other step missing?

[code]

[2019-01-10 09:47] uli42 commented on #757
Alright, my fault, you must run "nxagent -ac :55 -R".

On Thu, Jan 10, 2019 at 9:36 AM Tristan Miller <notifications@github.com> wrote:

[2019-01-10 12:18] logological commented on #757
OK, now I can do the test.   I can confirm that the problem is reproducible this way, with nxagent running locally.  In fact, step 3 isn't necessary -- the problem can be reproduced simply by invoking claws-mail directly.

Do you still need me to test with a different window manager?

[2019-01-10 12:26] uli42 commented on #757
yes, please

On Thu, Jan 10, 2019 at 1:18 PM Tristan Miller <notifications@github.com> wrote:

[2019-01-10 13:41] logological commented on #757
Yes, the problem still occurs when using IceWM instead of kwin.

[2019-01-10 14:26] uli42 commented on #757
Ok. Does it show exactly the same window positions?

I think it has to do with the window properties. Please check the following:
- use the variant where you have a terminal + claws-mail in the session
- run the following commands, once before the kill -HUP and once
after. Store the outputs to files:
  - xprop -root in the session
  - xprop _in_ the session. This will change the mouse cursor. clic

[2019-01-10 14:50] numerical2017 opened #758 "NXagent segfault randomly (apparently)"
We remotely access to a Centos 7 server with X2GO from 3 very similar Windows clients.
Two of these "randomly"  experience a crash of the X2GO session with the following error:

kernel: x2goagent[160448]: segfault at 40 ip 00005573ac1af9ba sp 00007fff868b6f60 error 4 in nxagent[5573ac0c2000+43f000]

NXlibs version installed is the latest one, 3.5.99.17.
The problem occurred for the first time at t

[2019-01-10 14:58] uli42 commented on #758
No, I am not aware of such a sceario. Have you possibly updated
Windows by that date?

Can you reliably provoke that crash? Can you describe a situation
where it happened?

[2019-01-10 15:43] numerical2017 commented on #758
Windows machines have Windows 10 so they update often, once a week more or less. But all the three clients are regularly equally updated.
X2GO client software has been also updated after the first crash but it didn't solve the issue.
The same when I installed VCXSRV as custom X-server.

I cannot reproduce the crash because we actually don't understand what is the cause. What I can do is to wait fo

[2019-01-10 18:54] logological commented on #757
Output attached.  By "outside the session", I assume you mean the terminal from which I launched nxagent and where I did `export DISPLAY=:55`.

[xprop.inside.after.txt](https://github.com/ArcticaProject/nx-libs/files/2746680/xprop.inside.after.txt)
[xprop.inside.before.txt](https://github.com/ArcticaProject/nx-libs/files/2746681/xprop.inside.before.txt)
[xprop.outside.after.txt](https://github.com

[2019-01-10 20:26] uli42 commented on #757
Thanks!  in `xprop-root.inside*` there's no real difference. But in `xprop.inside*` you can see this difference (same in xprop.outside*):

before:
[code]

after:
[code]

Must check were this originates from.

[2019-01-10 23:15] uli42 commented on #757
Thanks!  in `xprop-root.inside*` there's no real difference. But in `xprop.inside*` you can see this difference (same in xprop.outside*):

before:
[code]

after:
[code]

I have now scanned the source and tested quite some stuff, and I can tell that - while this is not perfect here - is not responsible for the problems we try to resolve in this issue.

Further testing revealed that this is tied to

[2019-01-11 00:20] uli42 opened #759 "RRXinerama and rootless is not working properly"
1. `nxagent -ac -R :55`
2. `DISPLAY=:55 xrandr` will show a list of resolutions not prefixed with `nx` which means rrxinerama is not active
3. `pkill -HUP nxagent && sleep 3 && pkill -HUP nxagent`
4. `DISPLAY=:55 xrandr` will show one resolution prefixed with `nx` which means rrxinerama is active

As rrxinerama is enabled by default but not active before the first screen resize. In rootless mode t

[2019-01-11 13:07] logological commented on #757
Before suspending, xrandr reports in its first line of output that Screen 0 currently has a resolution of 3600×1080.  This roughly matches the total resolution of my dual-monitor setup: my left monitor is 1680×1050 and my right monitor is 1920×1080.  xrandr goes on to report that there is a single "default" connection to a 3600×1080 display:

[code]

After suspending and reconnecting, xrandr still

[2019-01-11 13:15] uli42 commented on #757
Ok, thanks. I have a patch available which I can provide later today, hopefully

[2019-01-11 20:18] uli42 opened #760 "Screen.c: check diff to xnest code"
Screen.c line 1253
[code]

Xorg upstream Xnest code has almost the same code before that line (and it was even more close in the past) but the `continue` is a `break` there. I neither have found any evidence of Xnest _ever_ having the `continue` nor NX having `break`.

I don't really get why NX has a change in here.

[2019-01-13 23:31] #599 closed, assigned to nobody

[2019-01-13 23:34] uli42 commented on #517
see also #95

[2019-01-13 23:35] uli42 commented on #601
@Hybrid512 ping

[2019-01-14 08:10] uli42 commented on #757
See #761 for a fix. You can try building an own package with the included spec file until it gets included into the release packages.

[2019-01-14 08:29] logological commented on #757
Thanks.  I don't have time to test the fix now but may do so soon.

Does this mean that X2Go #1359 can be closed?

[2019-01-14 08:41] uli42 commented on #757
On Mon, Jan 14, 2019 at 9:29 AM Tristan Miller <notifications@github.com> wrote:

Well, if the fix proves to work on your side, yes.

Uli

[2019-01-17 11:07] #757 closed, assigned to nobody

[2019-01-17 11:07] #449 closed, assigned to nobody

[2019-01-22 15:13] uli42 commented on #758
Well, sorry for the delay. Can you try attaching gdb to the x2goagent process on the server (prior to crash) and print the backtrace after it happened (command bt)?

[2019-01-27 16:29] mjtrangoni commented on #665
@sunweaver I was compiling today on F29, and found that this isn't working with a simple `make` call. OTOH, it is working perfectly when the `nx-libs.spec` is used building RPMs.

What is the status here? Shouldn't this be checked automatically? Why is it still built by **imake**, and not by **autotools**? I saw you have started porting this [here](https://github.com/sunweaver/nx-libs/tree/pr/xser

[2019-02-01 10:04] sunweaver commented on #665
Hi,

On  So 27 Jan 2019 17:29:30 CET, Mario Trangoni wrote:

the porting has stalled mostly due to lack of time / prio. I heard on
IRC that @mbecroft plans to start looking into the autotools porting.

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail

[2019-02-01 10:34] uli42 commented on #665
No, not mbecroft but Mario Trangoni

On Fri, Feb 1, 2019 at 11:04 AM Mike Gabriel <notifications@github.com> wrote:

[2019-02-01 14:41] logological commented on #757
I built and installed from the 3.6.x branch, into which your changes had been merged.  With this version, I can verify that the problem is no longer reproducible.  I'll try closing X2Go #1359 but I'm not sure if non-developers have access rights to do so.  If my control message doesn't get applied, I'd be grateful if you (or someone else with the requisite permissions) could close the bug for me.

[2019-02-01 17:07] sunweaver commented on #757
Hi,

On Friday, 1 February 2019, Tristan Miller wrote:

You should be able to close bugs on X2Go BTS.

Mike
--
Sent from my Sailfish device

[2019-02-02 13:59] mjtrangoni commented on #665
@sunweaver yes, I am looking into the autotools for nx-X11, following your branch, and some @uli42 changes. I think this would be fixing this issue, and also some places where the variables **CC** does not propagate correctly.

[2019-02-02 16:11] sunweaver commented on #665
Hi

On  Sa 02 Feb 2019 14:59:06 CET, Mario Trangoni wrote:

@mjtrangoni: ahhh.. then this was a misunderstanding. From @uli42 I
understood that @mbecroft (also Mario with firstname) is doing the
autotools work. But it is you!

Awesome!!! Let me know if you need anything that @uli42 cannot provide.

Greets + Thanks,
Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520)

[2019-02-07 20:54] uli42 opened #765 "rootless must ignore geometry"
1. open a rootless session with geometry
[code]

2. show the current resolution (which should be the same as your local display; ignoring the geometry from the command line):
[code]
3. suspend and resume the session:
[code]
4. -geometry has become active after reconnect:
[code]

This is an undesired behaviour since it will produce all kinds of weird/unexpected behaviour of session windows on the p

[2019-02-08 21:29] uli42 commented on #696
anything to do here?

[2019-02-08 21:30] uli42 commented on #693
Can you please re-test with 3.5.99.18? I have tested that yesterday and it worked...

[2019-02-08 21:56] uli42 commented on #680
Can anyone replicate this? I can't with 3.5.99.18

[2019-02-08 22:13] uli42 commented on #435
I have tested the nxdialog.py from neatx and it is working great with nxagent in rootless mode. We should integrate that, but we'd have to remove some (most?) of additional code of neatx to make it a standalone solution.

[2019-02-08 22:24] uli42 commented on #435
So far we these possibilties:
- original nxclient. Drawbacks: we cannot deliver it, we cannot recompile it, may not work everywhere, may need NX files we have dropped
- neatx nxdialog.py: Advantages: src available Drawbacks: needs to be stripped down
- openx nxclient: not tested yet, difficult to compile because of GUI library
- script by mviereck the does not show any GUI elements but pretends ce

[2019-02-09 03:31] mjtrangoni commented on #696
@uli42 no, clang-5.0 is not anymore there. BTW, I updated to Xenial so we can close this? @sunweaver

[2019-02-09 11:51] #696 closed, assigned to nobody

[2019-02-13 11:32] #765 closed, assigned to nobody

[2019-02-14 21:13] uli42 opened #768 "Lost define USE_DYNAMIC_XCURSOR"
In 7993d28f1 (which is on of the last commits before the switch to autotools for libNX_X11 I see this in the nx-X11/lib/X11/Imakefile:
[code]

In nx-X11(config/cf/X11.tmpl we find:
[code]
which results in  nx-X11/lib/X11/Makefile containing this line:
[code]

which is used for `CrCursor.c`, `CrGlCur.c`,`CrPixmap.c` and `PutImage.c`.

However, in the current autotools build environment USE_DYNAMIC_

[2019-02-14 22:19] uli42 opened #769 "libNX_X11: autotools is lacking some defines vs imake"
I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found some missing defines in the autotools build which had been used by the imake build.

[code]

Here a list of the affected files:

[code]

See also #768 for a related issue regarding XCursor.

[2019-02-14 23:29] uli42 opened #770 "keystrokes slightly broken"
The default keystroke file is missing "Shift=1" for viewport_move_up/right/down:
[code]

[2019-02-14 23:47] uli42 opened #771 "AltGr not properly working in shadow mode"
1. run Xnest -class TrueColor -ac +xinerama :66
2. run xterm -display :66
3. run nxagent -nolisten tcp -dpi 96 -S -auth /home/uli/.Xauthority -shadow :66 -shadowmode 1 :62

AltGr ist not properly working in the shadowed session. You can see that ISO_Level4-Shift key events are received with xev. But e.g AltGr+e for € is not working that key.

If you try that directy in th Xnest window it's working

[2019-02-15 05:34] realsimix opened #772 "Fullscreen not working anymore"
With the latest commits from 13.02.2019, fullscreen mode doesn't work for me anymore.

Using `nxagent .... -autodpi -geometry fullscreen ....` shows a window without borders but it's not full size.

Before diving into the latest changes, any idea what could cause this?

Regards,
Simon

[2019-02-15 06:45] realsimix commented on #772
I'm not sure but I think the latest changes consider variables like nxagentOptions.Fullscreen to be boolean but they seem to be tristate.

I found this:

[code]
Maybe that's breaking things here?

Regards,
Simon

[2019-02-15 07:22] uli42 commented on #772
On Fri, Feb 15, 2019 at 7:45 AM Simon Matter <notifications@github.com> wrote:

Thanks for spotting that! I was just sitting down to check just that
very patch because for me reconnects are not working anymore.

Uli

[2019-02-15 07:29] uli42 commented on #772
Well, UNDEFINED is only used/checked for during startup. Maybe we have paths where the value stays at UNDEFINED and is then recognized as being True somewhere else. Difficult to check if that's the case.

Those "Booleans" are never really taken into account as being tristate so any check could be buggy. The clean solution was to really make them Booleans without having to bother about a third stat

[2019-02-15 10:45] #772 closed, assigned to nobody

[2019-02-15 10:49] #770 closed, assigned to uli42

[2019-02-15 10:50] sunweaver commented on #772
@uli42: I closed this bug with PR #773. Please, if needed, file a new bug that reminds us on this boolean cleanup stuff. Thanks.

[2019-02-17 14:37] uli42 opened #775 "Cannot reconnect with own script"
I have an own script for nx sessions (which I am not allowed to release to the public) that fails to reconnect to a running session starting with this commit:

[code]

Here's how nxagent had been called for the initial session:
[code]

Here's the initial options file:
[code]

Output of the initial session startup:
[code]

Here's the options file after a (failed) reconnect:
[code]

An here's the ou

[2019-02-18 07:56] sunweaver commented on #775
@uli42: So, are you saying that at commit 889de46f759913742478d2cfe20f1f4a6c2effdc all is well? (That commit was part of the same PR).

[2019-02-18 08:00] sunweaver commented on #775
@uli42: I assume you don't use $DISPLAY with ``nx/nx,...`` options prepended, right?

[2019-02-18 08:14] sunweaver commented on #775
@vatral: To me it seems that 889de46f759913742478d2cfe20f1f4a6c2effdc fails with approaches where nxagent is not being provided with ``nx/nx,...`` options via the $DISPLAY variable.

To me it seems that the intention was to handle ":" in the middle of the options string appropriately, right? For colon, you can use ``%3A`` [1]. I am inclined to revert this commit. Please provide feedback within the

[2019-02-18 08:22] uli42 commented on #775
The agent has a DISPLAY:
[code]

The proxy has `DISPLAY=:1`

[2019-02-18 08:22] uli42 commented on #775
And yes, only 889de46 is causing trouble.

[2019-02-19 05:49] realsimix opened #777 "Misc.cpp:120: error: unknown escape sequence: '\011'"
Recent commit introduced a bug affecting old compilers:
[code]
Patch below fixes it:
[nx-libs-3.6.x-20190219-help_typo.patch.txt](https://github.com/ArcticaProject/nx-libs/files/2878483/nx-libs-3.6.x-20190219-help_typo.patch.txt)

[2019-02-19 07:31] uli42 commented on #777
On Tue, Feb 19, 2019 at 6:49 AM Simon Matter <notifications@github.com> wrote:

Thanks!

Could you please create an own branch and file a pull request? This
would make it integration cleaner (submitter, date,...)

Uli

[2019-02-19 07:58] realsimix commented on #777
Hi Uli, as I'm not a software developer I don't intend to learn git and how to do it all just for my small contributions. I hope you understand :-)

Simon

[2019-02-19 08:01] uli42 commented on #777
ok ;-) (But for the records: git is not complicated. And it can be
used for other purposes, too, not limited to software development.
E.g. you could manage your config files using git ;)

On Tue, Feb 19, 2019 at 8:58 AM Simon Matter <notifications@github.com> wrote:

[2019-02-20 09:39] #777 closed, assigned to nobody

[2019-02-20 09:40] #775 closed, assigned to vatral

[2019-02-20 09:42] sunweaver commented on #775
@vatral: I reverted 889de46. Please check if you can handle your use case well with %3A instead of ":" in the options string.

[2019-02-20 09:42] uli42 commented on #769
ping

[2019-02-20 09:45] sunweaver commented on #769
This seems like we need to go over those files and check what those macros do at build time... I won't have time for this before March, due to work tasks waiting for being done until end of Feb.

[2019-02-20 21:07] #768 closed, assigned to sunweaver

[2019-02-26 22:32] uli42 commented on #769
FYI: I have fixed HAS_XDMAUTH, SECURE_RPC and HAS_STICKY_DIR_BIT here:  https://github.com/uli42/nx-libs/tree/pr/libx11_xdmauth

For HAS_FCHOWN I have found the required stuff in Xorg's libxtrans/configure.ac but it does nor work with my autoconf 2.69.

[2019-02-27 17:39] uli42 opened #779 "libNX_X11: -DHASXDMAUTH is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found `-DHASXDMAUTH` is missing.

Affected files:

[code]

[2019-02-27 17:43] uli42 opened #780 "libNX_X11: -DSECURE_RPC is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found that `-DSECURE_RPC` is missing.

Affected files:

[code]

[2019-02-27 17:45] uli42 opened #781 "libNX_X11: -DHAS_STICKY_DIR_BIT is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found `-DHAS_STICKY_DIR_BIT` is missing.

Affected files:

[code]

[2019-02-27 17:46] uli42 opened #782 "libNX_X11: -DHAS_FCHOWN is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found` -DHAS_FCHOWN` is missing.

Affected files:

[code]

[2019-02-27 17:48] uli42 opened #783 "libNX_X11: -DFAIL_HARD is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found `-DFAIL_HARD` is missing.

Affected files:

[code]

See also #768 for a related issue regarding XCursor.

[2019-02-27 17:49] uli42 opened #784 "libNX_X11: -DXTRANS_SEND_FDS=0 is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found `-DXTRANS_SEND_FDS=0 is missing.

Affected files:

[code]

[2019-02-27 17:51] uli42 opened #785 "libNX_X11: -DXCMSDB is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found `-DXCMSDB` is missing.

Affected file:

[code]

[2019-02-27 17:52] uli42 opened #786 "libNX_X11: -DXLOCALEDIR is missing"
(this is one part of #769, split into a separate issue).

I have compared how libNX_X11 sources are compiled using autotools and how they used to be compiled using Imake. I found -DXLOCALEDIR is missing.

Affected file:

[code]

[2019-02-27 17:52] uli42 commented on #769
Closing this issue as I have split it up into issues #779 to #786

[2019-02-27 17:52] #769 closed, assigned to sunweaver

[2019-02-28 20:47] uli42 commented on #782
The referenced branch ought to fix  this, but unfortunately it lead to this autoconf error:

[code]

I have not found a way to fix this yet...

[2019-02-28 20:51] uli42 commented on #703
#717 is merged

[2019-02-28 20:51] #703 closed, assigned to uli42

[2019-02-28 20:53] uli42 commented on #737
#764 has been removed from the code again because it broke reconnects for some setups. Suggestion is to replace ":" in CUPS urls by %3A

[2019-02-28 20:54] uli42 commented on #435
There's now a PR for our own version of neatx's nxdialog: #767

[2019-02-28 20:56] uli42 commented on #442
#767 brings nxdialog which can show the required dialog

[2019-02-28 21:10] #399 closed, assigned to sunweaver

[2019-03-01 11:00] #382 closed, assigned to sunweaver, uli42

[2019-03-01 14:27] sunweaver commented on #442
nxdialog will be available in 3.5.99.19. Thus, closing this one.

[2019-03-01 14:27] #442 closed, assigned to nobody

[2019-03-01 14:28] sunweaver commented on #435
nxdialog will be shipped with 3.5.99.19. Thus closing this one.

[2019-03-01 14:28] #435 closed, assigned to nobody

[2019-03-01 15:50] sunweaver commented on #756
A workaround for the DEB builds has been applied to the 3.5.99.19 release: https://github.com/ArcticaProject/nx-libs/commit/da9a1bc0b9a42a9f586d5ac0d0392a89f4fe821b

This needs more love and work and better ideas.

@Ionic: Do you think you could take a look at this???

[2019-03-01 22:20] sunweaver commented on #756
Another finding is that m4/ax_pthread.m4 tests pthread availability and flag usage using gcc, but nxcomp is built using g++.

might it be required to apply a patch like this to ax_pthread.m4?

[code]

[2019-03-07 22:34] uli42 commented on #772
On Fri, Feb 15, 2019 at 6:34 AM Simon Matter <notifications@github.com> wrote:

I hope this is working again with 3.5.99.19?

Uli

[2019-03-08 05:42] realsimix commented on #772
Yes, it works perfect with 3.5.99.19.

Thanks,
Simon

[2019-03-14 17:23] uli42 commented on #341
Will be included once we have dix at 1.4.2

[2019-03-24 09:09] Ionic commented on #756
This workaround shouldn't be necessary in the first place.

It's essentially what I discovered myself and tried to workaround using `m4/ax_pthread.m4` and explicitly mentioning `$(PTHREAD_LIBS)` or the like in `Makefile.am`.

It only checking the C compiler shouldn't be a problem, though, we're interested in the flags needed to pull-in pthread support.

Something must have changed in between me ap

[2019-03-25 04:28] Ionic commented on #756
Maybe the thing that changed is actually GCC, i.e., maybe it doesn't need `-lpthread` any longer. I'd have to look up what the variables are set to in a build.

What Debian platforms are affected by this problem exactly? Buster? Sid?

[2019-03-25 06:49] sunweaver commented on #756
Hi Mihai,

On  Mo 25 Mär 2019 05:28:29 CET, Mihai Moldovan wrote:

I don't think so. I see the issue with all DEB builds, even on jessie.

This is what you need to look for in the build logs (right at the end):

[code]

jessie -> sid, trusty -> bionic (check build 23 of nx-libs on
jenkins.arctica-project.org).

In fact, enforcing -lpthread resolves the issue:
https://cgit.arctica-project.org/nx-li

[2019-03-25 06:54] Ionic commented on #756
Weird... that's what I've essentially done in 1c6c9c04b and it used to work. So something must have changed. AFAIK, `$(PTHREAD_LIBS)` contained `-lpthread` back then when I tested.

[2019-03-25 07:12] Ionic commented on #756
I can't find any mention of `-lpthread` in the X2Go builder that goes back to Nov 2018, though. It must be a regression though, since otherwise we'd been flooded by bug reports and that wasn't the case.

Doesn't help, I'll probably have to look directly into a fully build directory tree and see what `AX_PTHREAD` detected exactly.

[2019-03-25 07:21] sunweaver commented on #756
Hi Mihai,

thanks for digging into this once more!!!

On  Mo 25 Mär 2019 08:12:29 CET, Mihai Moldovan wrote:

This I found relevant when looking into things:
https://stackoverflow.com/questions/17055279/autotools-for-pthreads-not-setting-correct-linker-flags

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 24340 Eckernförde
mobile: +49 (15

[2019-03-25 08:20] Ionic commented on #756
I can't say when I manage to really look into that, though, since I now have another problem with X2Go Client on OS X not being able to connect to one of my machines (but another one works), so I'll have to debug libssh first...

[2019-04-01 07:01] Ionic commented on #756
Okay, I now understand the problem a little bit better: this is an issue that I never **really** fixed, just worked around for `nxproxy`.

So, the base line issue is that `libXcomp` never linked against `libpthread`. That's bad and lead to `nxproxy` failing. I looked around, found that `libtool` bug and it fit the description quite well. I then discovered `AX_PTHREAD` in the autotools archive and

[2019-04-01 08:15] sunweaver commented on #756
Hi Mihai,

On  Mo 01 Apr 2019 09:01:25 CEST, Mihai Moldovan wrote:

I fully agree with your analysis. I came to the same conclusion / assumptions.

I read somewhere, that g++ with -nostdlib ignores -pthread in the
linker and thus a -lpthread is required, but AX_PTHREAD.m4 does not
cover that corner case. Furthermore, AX_PTHREAD uses a C compiler for
code tests, not a C++ compiler.

Maybe that help

[2019-04-04 07:47] Ionic commented on #756
I've been looking into this, thinking about it and came up with the following:

  - `AX_PTHREAD` forcefully using C to test is not a problem. It just makes checking for pthread stuff easier, because:
    - No actual variables are changed, users of `AX_PTHREAD` are supposed to use the special variables `$PTHREAD_CC`, `$PTHREAD_CFLAGS` and `$PTHREAD_LIBS` and add them to respective variables.
    -

[2019-04-04 08:04] sunweaver commented on #756
On  Do 04 Apr 2019 09:47:41 CEST, Mihai Moldovan wrote:

This sounds like the way to go. It is basically what I did "by-hand".
Assuming gcc is used, assuming libpthread exists and is linkable
against and thus add -lpthread on all DEB related builds.

Yep. Sounds sensible. Thanks for the thorough investigation. Will you
have time to work on that patch?

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ök

[2019-04-04 08:34] Ionic commented on #756
I'm doing so right now. Somehow, hardcoding `-lpthread` also sounds wrong because the library might be called differently on some systems (like `libpthreads`). Worse than that, some system even seem have both libraries around, although one of them is non-POSIX. I guess I should scan the list for libraries and test that until a suitable one is found.

[2019-04-04 08:53] uli42 commented on #756
On Thu, Apr 4, 2019 at 10:34 AM Mihai Moldovan <notifications@github.com> wrote:

To me this sounds like a problem that many people should have. So are
you sure there's no upstream solution to this?

Uli

[2019-04-04 08:56] Ionic commented on #756
`AX_PTHREAD` naturally supports that and manages its internal list in a smart way to avoid such problems.

[2019-04-07 19:36] #756 closed, assigned to sunweaver, Ionic

[2019-04-11 13:42] uli42 opened #792 "nxdialog: autoreconf fails due to missing m4"
I see this on RHEL6:

[code]

`mkdir m4` solves the issue. We should include that directory or find a workaround.

[2019-04-11 13:44] Ionic commented on #792
That should already be fixed through 3af59f80675c394ff2f24c1e2dccabcb5e383fac?

[2019-04-11 13:56] uli42 commented on #792
Right, I have totally missed that commit (forgot to pull before building...)

[2019-04-11 13:56] #792 closed, assigned to sunweaver, Ionic

[2019-04-11 14:26] uli42 opened #793 "nxdialog: fix error message"
`Dialog type not supplied via --type` is wrong, should be `--dialog`

[2019-04-17 08:52] #793 closed, assigned to uli42

[2019-04-29 20:53] uli42 opened #796 "nxagent: undocumented switch -irlimit"
hw/nxagent/Args.c:
[code]

Activating this by passing it via command line `-irlimit 1` will make nxagent print this:
[code]

[2019-04-30 10:51] uli42 opened #798 "left-over nxdialog processes"
Yesterday I came across a situation that requires further research. During a running (rootless) nx session that connection broke down. nxagent eventually discovered that and (since I had instructed it to use nxdialog) opened a pulldown menu via `nxdialog --dialog pulldown ...` Because of the broken connection I could not see this.

Now, after the network had bee repaired I could reconnect to the s

[2019-04-30 10:52] uli42 opened #799 "file handle leak to child processes"
The nxdialog process inherits all the file handles of the nxagent (see /proc/.../fds), e.g. the one of the stats and error files. This is not a real problem but as nxdialog does not require them this should be improved.

OTH this could be used for communicating back more information from nxdialog to nxagent.

[2019-04-30 16:57] andyleejordan opened #800 "Default keybindings conflict with Emacs"
A lot of the default keybindings in [keystrokes.cfg](https://github.com/ArcticaProject/nx-libs/blob/3.6.x/etc/keystrokes.cfg) conflict with the default bindings of the _world's most popular text editor_, Emacs. Specifically, I can't kill s-expressions (Ctrl-Alt-K)!

I tracked it down to this default bindings for [reread_keystrokes](https://github.com/ArcticaProject/nx-libs/blob/4ce890758035078bb1c

[2019-04-30 17:14] uli42 commented on #800
The keystrokes config is a _ server side_ config file. You need to adapt
/etc/x2go/keystrokes.cfg or place one into $HOME/.x2go/keystrokes.cfg.

Uli

Andrew Schwartzmeyer <notifications@github.com> schrieb am Di., 30. Apr.
2019, 18:58:

[2019-04-30 17:30] uli42 commented on #800
On Tue, Apr 30, 2019 at 7:14 PM Ulrich Sibiller
<ulrich.sibiller@gmail.com> wrote:

BTW: /etc/x2go/keystrokes.cfg is a bit outdated (and buggy), better
copy the one from /etc/nxagent/ to /etc/x2go

Uli

[2019-04-30 19:07] andyleejordan commented on #800
@uli42 Thank you! Unfortunately, I am still not quite able to get `Ctrl-Alt-k` to work. `Ctrl-Alt-Shift-k` works (as in, Emacs receives it over x2go).

I've edited both `/etc/x2go/keystrokes.cfg` and `~/.x2go/keystrokes.cfg` and restarted the server (well, the whole machine), but can't get `Ctrl-Alt-k` not to be intercepted.

But I'm no longer convinced x2go is ever getting the keystroke. I notice

[2019-04-30 19:16] andyleejordan commented on #800
That said...I actually can't get any change to either of those files to take place...maybe I've done something wrong.

The server is Ubuntu 18.04, running:

[code]

[2019-04-30 19:23] uli42 commented on #800
On Tue, Apr 30, 2019 at 9:07 PM Andrew Schwartzmeyer
<notifications@github.com> wrote:

Sorry, my fault. The personal file is ~/.x2go/config/keystrokes.cfg.
If it exists, the one in /etc will be ignored.

You can see the active keystrokes (and the used config file) in
~/.x2go/C-<session-name>/session.log

Interesting. I do not see that behaviour on a Linux client. For
testing can please disable th

[2019-04-30 19:33] uli42 commented on #800
On Tue, Apr 30, 2019 at 9:16 PM Andrew Schwartzmeyer
<notifications@github.com> wrote:

There are newer versions, please upgrade at least nxagent to
3.5.99.20. I want to avoid hunting bugs that have already been fixed.

BTW: the most current keystroke documentation is in
/usr/share/doc/nxagent/README.keystrokes.gz (provided you have the
current nxagent package).

Uli

[2019-04-30 19:38] andyleejordan commented on #800
Draft: I installed the PPA and updated the package and noticed `/etc/nxagent/keystrokes.cfg` getting updated (which I glossed over in your message, didn't realize that would actually exist on my system).

Ah, see your messages, thank you! I am reading `Keystroke.c` and figuring that out 😄 thanks for `action=ignore` will try!

[2019-04-30 19:39] andyleejordan commented on #800
Updated packages:

[code]

[2019-04-30 19:44] andyleejordan commented on #800
Here's my log:

[code]

[2019-04-30 19:54] andyleejordan commented on #800
Ah ha! With `~/.x2go/config/keystrokes.cfg` created, with just:

[code]

Then Emacs in the session receives `C-M-k` just as I needed. Funny thing was with `action="ignore"` it still didn't receive it.

Thank you so much for your help! It wasn't clear to me that the config file was _server side_, and if I did remember to try `~/.x2go/config/keystrokes.cfg` with an almost empty config (as I certainl

[2019-04-30 20:00] andyleejordan commented on #800
Oh wait what. I rebooted again to double-check. And with the log now I see why I had so much trouble earlier!

That's not right. It's trying to read the wrong file!

[code]

[2019-04-30 20:05] andyleejordan commented on #800
Trying to repro right now just to triple-check, but it looks like it connects and runs as x2go agent, then it hits an issue and restarts itself, and the restarted session no longer runs as x2go agent and so swaps its logic to the nxagent logic, and so reads the _other_ file. For now I'm just going to set both up with overrides to remove all bindings, but sure is odd that the automatic restart it d

[2019-04-30 20:08] andyleejordan commented on #800
Well it didn't repro, and I dumbly didn't save the part of the log where it said FATAL and then looked like it rebooted itself. If it happens again I'll let you know. With x2go and nxagent confs set with my overrides, I am good to go, so thank you.

[2019-04-30 21:57] uli42 commented on #800
Puuh, this looks like a bug. But I never ever saw nxagent restarting itself. Maybe that's a feature of x2goserver I am not aware of: use nxagent if x2goagent fails for some reason.

However: Just to be sure, please answer these questions (again):
- Does it work if the config file exists and does not contain any config line?
- Does it work if ctrl-alt-k is mapped to ignore?
- Does it work without a

[2019-05-02 12:40] uli42 opened #801 "Crash in XKeycodeToKeysym()"
We are still using the depcrated XKeycodeToKeysym() call from libNX_X11. The replacement of that has been reverted due to #450.

I have now observed this crash (in my self-compiled nxagent):
[code]

I think this happens if the respective call is done during session shutdown/connection break. I have found a similar x2go bug (https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=695) that mentions hiberna

[2019-05-02 13:05] uli42 opened #802 "Document compression"
Here some lines I wrote in the x2go-user ML. Put those into a document in the distribution.

[code]

[2019-05-02 22:39] uli42 commented on #493
This post might help in implementing the feature: https://stackoverflow.com/questions/35569562/how-to-catch-keyboard-layout-change-event-and-get-current-new-keyboard-layout-on

[2019-05-05 11:59] uli42 commented on #800
On Tue, Apr 30, 2019 at 10:05 PM Andrew Schwartzmeyer
<notifications@github.com> wrote:

Puuh, this looks like a bug. But I never ever saw nxagent restarting
itself. Maybe that's a feature of x2goserver I am not aware of: use
nxagent if x2goagent fails for some reason.

[2019-05-06 07:07] jondo commented on #76
Wasn't this fixed by commit ec00db0?

[2019-05-06 07:47] uli42 commented on #76
AFAIKS this has never been merged.

On Mon, May 6, 2019 at 9:07 AM Robert Pollak <notifications@github.com> wrote:

[2019-05-06 23:47] andyleejordan commented on #800
Sorry to be getting back to you so late. To clarify, "it works" would be applications used in X2GO receive the key chord.

No.

[code]

(Side note, I am also having issues getting copy/paste between Windows and Linux working, so getting these logs is annoying 😓.)

No. It correctly is mapped to "ignore" but it's not then passed along to any applications.

[code]

No. Without any (user) config file

[2019-05-07 05:07] uli42 commented on #800
Thx. I will investigate that ignore issue (which should better be called
pass-through).

Uli

Andrew Schwartzmeyer <notifications@github.com> schrieb am Di., 7. Mai
2019, 01:47:

[2019-05-07 19:16] andyleejordan commented on #800
Thanks @uli42, I appreciate it!

[2019-05-07 22:40] andyleejordan commented on #800
@uli42 it happened again!

[code]

When it suspends and resumes the session, it comes back up as nxagent, not x2go, and so reads the nx config files, not x2go's.

ALSO, copy/paste for me is completely broken when it's the x2go agent, but if the session is suspended and resumed (and so it comes back as an nxagent), copy/paste works just fine.

I can repro this by starting a new session, checking th

[2019-05-07 22:51] uli42 commented on #800
I have identified the "problem": it works as designed ;-)

"ignore" is really meant for really ignoring the keystroke. So all you need
to do is remove the according line and you'll be fine.

I am not really satisfied with this. I am wondering if we need a way that
marks a keystroke as "passthrough" or if deleting the line is enough.

Uli

PS: I also found the initial reason for "ignore" was to blo

[2019-05-07 22:59] andyleejordan commented on #800
In my case, deleting the line is enough (that is, have an almost-empty conf file), but we should probably document this.

But x2go agent resuming as nxagent, however, is definitely a (separate) bug.

[2019-05-07 23:02] uli42 commented on #800
On Wed, May 8, 2019 at 12:41 AM Andrew Schwartzmeyer <
notifications@github.com> wrote:

I am wondering where that Xlib message is coming from.

I have tried replicating that behaviour but failed so far... Will try
further.

As I currently not able to replicate this: Can you downgrade again and
check? I guess your clipboard problems are not attached to the
nxagent/x2goagent mode but to initial/rec

[2019-05-07 23:23] andyleejordan commented on #800
Yeah, the clipboard is not repro'ing consistently, so I think you're right.

three issues in one...

So true 😆

[2019-05-08 21:38] uli42 opened #803 "Resume changes agent mode from x2go to nx"
After resume of an x2go session rereading the keystrokes reveals that the config fiel for nx is read not the one for x2go.

Here's Andrew Schwartzmeyer's (andschwa) bug report (copied from a different issue #800):

[code]

When it suspends and resumes the session, it comes back up as nxagent, not x2go, and so reads the nx config files, not x2go's.

ALSO, copy/paste for me is completely broken when

[2019-05-08 21:57] uli42 commented on #800
@andschwa: I have open issue #803 and PR #804 that should fix it. I have not found how I can add you to the issue so I write it here: if possible can you please apply that patch and check if it also fixes the clipboard error for you?

[2019-05-08 22:57] andyleejordan commented on #800
Thank you @uli42! I will test that PR ASAP.

[2019-05-10 14:11] #803 closed, assigned to uli42

[2019-05-15 09:57] pavars opened #807 "Missing file xtestext1.h"
Hi, I'm having trouble with installing from source on Ubuntu 18.04

Following the steps it fails on `debuild -uc -us` with missing file usr/include/*/nx-X11/extensions/xtestext1.h

I installed all of the dependencies and `dpkg-checkbuilddeps` returns nothing what am I missing here?

[code]

Managed to fix it by removing `xtestext1.h` from `debian/install/nx-x11proto-xext-dev.install`

[2019-05-15 17:33] uli42 commented on #807
There's a fix available: #806

[2019-05-15 17:37] uli42 commented on #758
ping!

[2019-05-15 17:44] uli42 opened #808 "Division by zero in xkbUtils.c"
Robert Kudyba reported this on the X2go-dev on 2019-02-15 (X2Go bug 1376 https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=1376):

This just started happening. Using X2Go with MATE. NIS users are impacted, local users can still login.

x2goserver-4.1.0.4-0.0x2go1.0.git20190114.1758.heuler.fc29.x86_64
nx-libs-3.5.99.18-0.0build1.0.git20190208.3237.heuler.fc29.x86_64

from /var/log/message:

Feb 15 09

[2019-05-17 13:52] #807 closed, assigned to nobody

[2019-05-20 20:04] uli42 commented on #802
Also add information about the differential compression of the X protocol as described in http://www.vigor.nu/dxpc/DESIGN.html

[2019-05-20 20:05] uli42 commented on #800
solved by #804

[2019-05-20 20:05] #800 closed, assigned to uli42

[2019-05-20 20:13] uli42 commented on #493
Or better this: https://stackoverflow.com/questions/15499723/which-event-is-fired-when-switching-kb-layout-in-x-org

[2019-05-21 08:57] #801 closed, assigned to nobody

[2019-05-31 21:17] uli42 commented on #759
additional observation: If you do the same without -R the nxagent will come up after pkill with a grey background instead of black as before the pkill (see #733)

[2019-06-09 16:06] uli42 commented on #7
The XFIXES spec contains documentation about "Cursor Image Monitoring" and "Cursor Visibilty" which could help here.

[2019-06-21 22:28] uli42 opened #816 "libNX_X11: finding by gcc's "undefined" sanitizer"
[code]

1073741824 is 1<<30 (or 2^30)

[2019-06-21 22:29] uli42 opened #817 "upgrade to libX11 1.6.8"
commit 57f0d421a1320090d3a4948181fe228d86cc8977 (tag: libX11-1.6.8)
Author: Matt Turner <mattst88@gmail.com>
Date:   Mon Jun 17 10:45:45 2019 -0400

    libX11 1.6.8

    Signed-off-by: Matt Turner <mattst88@gmail.com>

[2019-06-22 08:22] uli42 commented on #593
Here's how to integrate that with Travis: https://scan.coverity.com/travis_ci

[2019-06-22 09:33] #598 closed, assigned to nobody

[2019-06-22 21:03] mjtrangoni commented on #593
@uli42 is someone already on this or should I take a look?

[2019-06-23 16:54] uli42 commented on #593
please take a look if time allows. However, the automake stuff is more
important, I'd say.

On Sat, Jun 22, 2019 at 11:03 PM Mario Trangoni <notifications@github.com>
wrote:

[2019-06-25 03:00] daliu87 commented on #384
Any updates on this feature?  Would be great to have, using awesomewm server on a windows client.

Thanks!

[2019-06-25 11:55] uli42 commented on #384
https://github.com/uli42/nx-libs/tree/pr/autograb contains my version. You might want to try that version. But beware. It is not perfect and the code is 2 years old and ~1000 commits behind the current version.

It largely depends on your window manager if it is working smoothly or not. And you should avoid switching to fullscreen via keystroke. There autograb and inputlock. autograb (ctrl-alt-g)

[2019-06-25 12:03] uli42 commented on #458
Maybe (needs to be investigated) the XReparentWindow call is only required if we have a non-reparenting window manager. Or vice-versa.

[2019-06-27 19:04] #458 closed, assigned to nobody

[2019-06-27 20:48] #405 closed, assigned to sunweaver

[2019-07-05 20:41] uli42 commented on #632
I cannot seem to reproduce this with a current build (3.5.99.18 and 3.5.99.20)

[2019-07-09 16:48] realsimix opened #824 "very slow startup of nxproxy/nxagent"
I see very strange slow startup of nxproxy/nxagent on certain networks.
Nxproxy seems to connect to nxagent but then it takes very long to start the session and the desktop to appear. I don't remember exactly how long it takes but it's a minute or so. Once the session is established, it works very well without any issues.

My question is, does anyone see the same issue or have an idea why it happe

[2019-07-09 17:43] uli42 commented on #824
On Tue, Jul 9, 2019 at 6:49 PM Simon Matter <notifications@github.com> wrote:

There are two things that come to mind:
1. in the past years we added some more communication with the real X
server that will take place during startup (namely xinerama and
keyboard related). For a slow connection this might increase the
startup and/or reconnect time
2. nxproxy and nxagent must agree on the state of th

[2019-07-10 08:41] realsimix commented on #824
As for 1) it's not related to code version. I understand that newer versions may take a bit more time but that's not the issue here. I've tested with latest Git as well as ancient NoMachine code. Both behave almost the same.

For 2) it's also not the problem here. I just took my laptop from the other network to my home network and all is well again. Latency to the server is low here in home networ

[2019-07-10 08:51] uli42 commented on #824
On Wed, Jul 10, 2019 at 10:41 AM Simon Matter <notifications@github.com> wrote:

So just to get this right: this problem is latency related?

Have you tried if there's a difference between a rootless session
(nxagent -R) and a desktop session (nxagent -D)?
Have you tried if it depends on the desktop environment?

You might try bisecting the code. But I doubt it is a code issue as it
is working in

[2019-07-10 08:55] uli42 commented on #824
On Wed, Jul 10, 2019 at 10:51 AM Ulrich Sibiller <uli42@gmx.de> wrote:

One more idea: could this be related to fonts? You could enable DEBUG
in Fonts.c and check the output.

I have reworked the font handling some months ago.

Uli

[2019-07-10 09:02] realsimix commented on #824
I've changed connection type from WAN to ADSL with noc change.

Font handling is not the problem as the problem also exists with the ancient NoMachine code.

And I think the problem is not really latency related because it has worked very well with even higher latency in the past.

I'll let you know if I find something.

Simon

[2019-07-10 09:34] nitomartinez commented on #824
Perhaps unrelated,

Have you got a custom logo pixmap?

We used to have errors on high latency networks with large custom pixmaps.

[2019-07-10 11:49] realsimix commented on #824
No, we use the NoMachine logo in old builds with only patched colors and the standard X logo with latest Git.

One more question to those who know the code well: How do I get a DEBUG enabled build of the complete code? Is it possible to enable it for the whole project somehow?

[2019-07-10 12:42] realsimix commented on #824
I start to believe the problem is not related to NX. Doing an ssh -X to the slow remote host and from there another ssh -X back to the local host, then starting only an xterm shows the delay of two and a half minutes!

[2019-07-10 14:53] sunweaver commented on #824
Hi Simon,

On  Mi 10 Jul 2019 13:49:40 CEST, Simon Matter wrote:

You probably don't want that. I will produce tons of debug lines and
the whole debugging becomes rather unspecific.

You can surely use sed to enable DEBUG for all files in
nx-X11/programs/Xserver/hw/nxagent/, but well...

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 2434

[2019-07-10 15:10] uli42 commented on #824
On Wed, Jul 10, 2019 at 4:54 PM Mike Gabriel <notifications@github.com>
wrote:

That's true but it might still help to point where nxagent loses time...
There's also a define called NXAGENT_TIMESTAMP. Maybe that'll be enough to
get a rough guess. I have not looked currently but I am aware of at least
two locations in the code where this will print out timing information.

Uli

[2019-07-12 11:15] RahulNagekar commented on #600
Updating to X2go client V 1.4.2.0 on windows resolves my same issue.

While Installing and pointing to vcxsrv installed separately brings up a problem of unable to copy from windows to target machine.

[2019-07-12 12:54] soportecasator commented on #600
Thank you very much, it´s works :)

From: "Rahul Nagekar" <notifications@github.com>
To: "ArcticaProject/nx-libs" <nx-libs@noreply.github.com>
Cc: "Carlos Omar Alonzo Alfaro" <progra1@casator.com>, "Comment" <comment@noreply.github.com>
Sent: Friday, July 12, 2019 5:15:40 AM
Subject: Re: [ArcticaProject/nx-libs] Desktop flashing when maximizing window on second screen with Windows client (#600)

U

[2019-07-23 08:22] uli42 opened #825 "NX_AGENT_VERSION property is deletable!"
`xprop -root -remove NX_AGENT_VERSION` works, which it should not! There's a protection against modification in the code but obviously not against deletion.

[2019-07-23 08:29] uli42 commented on #825
`xprop -root -format NX_AGENT_VERSION 8s -set NX_AGENT_VERSION "whatever"` does not return an error but does also not change the value. _That_ protection is working.

[2019-07-23 22:10] uli42 commented on #733
The garbled screen is back again, it happens for me in 3.5.99.20

[2019-07-23 22:13] uli42 commented on #659
Is this still happening with current HEAD? As you might know I have changed the reparenting code recently.

[2019-08-10 22:41] uli42 opened #832 "white background"
NXwindow.c and dix/window.c both check variable `whiteRoot` but there's no code setting that variable to TRUE.

I tried fixing that but adding option -wr but the background stays black for some reason.

[2019-08-10 23:07] uli42 opened #833 "double free"
In 3.5.99.21:

1. nxagent -ac :55
2. pkill -HUP nxagent
3. pkill -HUP nxagent
4. close NX window via close button

-> Result:
[code]

[2019-08-10 23:29] uli42 commented on #833
This commit introduced the problem: 3b06ad51d91ff2b9442f159cddf34ed03bc2dd35

[2019-08-11 00:04] uli42 commented on #833
I have added the revert of the above commit to pr/various2. However, this comes at the price of re-introducing a memleak.

[2019-08-15 21:10] uli42 opened #837 "Splash logo not visible on reconnect"
According to the code there should be the splash logon on reconnect. However, I only can see it when I add `sleep(1);` after XFlush() in Reconnect.c

[code]

[2019-08-15 21:36] uli42 opened #838 "NX_CUT_BUFFER_SERVER is used for communication to nxclient"
In Splash.c and Window.c there's code like this:

[code]

The old nxagent changelog contains this:

[code]

NXdispatch.c contains this:
[code]
`nxagentRemoveSplashWindow()` will run `XSetSelectionOwner(...serverCutProperty...)`.

As we are not using nomachine's nxclient and x2goclient uses a different approach we could probably drop this "miususe" of an clipboard related property.

[2019-08-15 22:07] uli42 commented on #758
no answer from OP anymore, closing

[2019-08-15 22:07] #758 closed, assigned to nobody

[2019-08-15 22:11] uli42 commented on #669
I think this can be closed, right?

[2019-08-15 22:13] uli42 commented on #608
See #826 for a PR

[2019-08-16 10:55] mjtrangoni commented on #669
@uli42 yes. Closing now

[2019-08-16 10:55] #669 closed, assigned to mjtrangoni

[2019-08-22 01:11] qpkorr commented on #384
Not sure how close this is to being released, but just wanted to say thank you for your continued work on it - I too am on a windows client and an awesomewm server, and would love to have alt-tab available.

[2019-08-25 14:27] mjtrangoni opened #839 "Integrate shellcheck to the CI"
Hi,

We should integrate [shellcheck](https://www.shellcheck.net/) to the CI. See,

[code]
I would propose using CircleCI for this topic, as there is an official docker image for this tool. See [here](https://hub.docker.com/r/koalaman/shellcheck/).

If you agree, I could send a PR on this. Note that with CircleCI we could also run things like **pylint** or windows builds!

[2019-08-25 19:20] uli42 commented on #839
I'd say this makes sense for x2go but not for nx-libs. AFAICS we have some
shell code for the build but not in the resulting packages.

Mario Trangoni <notifications@github.com> schrieb am So., 25. Aug. 2019,
17:27:

[2019-08-26 07:29] camiloaa commented on #123
Should we consider this solved? Most broken apps are running again.

[2019-08-26 08:47] sunweaver commented on #123
Hi,

On  Mo 26 Aug 2019 09:29:28 CEST, Camilo Alejandro wrote:

Let's keep it open, I'd say. We don't yet have XI2 extension support
in nx-libs and I'd say we leave this open, until this is resolved.

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 24340 Eckernförde
mobile: +49 (1520) 1976 148
landline: +49 (4351) 850 8940

GnuPG Fingerpri

[2019-08-27 06:14] #733 closed, assigned to nobody

[2019-08-27 06:14] #832 closed, assigned to nobody

[2019-08-27 06:33] #833 closed, assigned to uli42

[2019-08-27 12:12] #384 closed, assigned to uli42

[2019-08-27 12:15] sunweaver commented on #347
@uli42: could you have a look at these (see #347) patches from X.org? Could they possibly fix the CAPs lock and and and NUM lock problems (toggle state being out of sync sometimes)?

[2019-08-27 12:15] sunweaver commented on #347
@uli42: ^^^ (see previous post on #347)

[2019-09-01 14:00] uli42 opened #840 "Propagate WM properties"
Once #830 has been merged we should add a routine similar to PropagateArtsdProperties for the window manager properties

[2019-09-01 14:36] uli42 opened #841 "Drop nxagentRenderTrap?"
`nxagentRenderTrap` is set _only_ when nxagent cannot create a virtual pixmap with the expected depth (in Pixmap.c) and finds the depth to be 0. However, it is calling `fbCreatePixmap` and I cannot seem to find a case where that creation could ever result in depth being 0.

So I suspect it can be dropped.

Can anyone confirm?

[2019-09-13 07:57] Mc-Pain opened #843 "x2go: cannot connect to suspended session"
How to reproduce:
1) Create a new session
2) Suspend it by "pause" key in x2goclient
3) Try to resume it
4) See screenshot

![изображение](https://user-images.githubusercontent.com/9453287/64846262-ea4b3c80-d614-11e9-9c96-1e870ed786da.png)

I'm blaming nx-libs because nxagent is handling its own SIGHUP by reconnecting the agent.

[session.log.gz](https://github.com/ArcticaProject/nx-libs/files/360

[2019-09-13 07:58] Mc-Pain commented on #843
Reproducible on both 3.5.0.31 and 3.5.99.22 versions
OS: ALT Linux

[2019-09-13 12:03] uli42 commented on #843
On Fri, Sep 13, 2019 at 9:58 AM Mc-Pain <notifications@github.com> wrote:

Well, I have taken a look at the session log. It seems you have compiled
Display.c with activated debugging. Is that on purpose?

Second, I am not aware of nxagent sending a SIGHUP to itself at any time.
nxagent suspends or resumes on reception of a SIGHUP which is normally sent
by x2go.

After reception of the SIGHUP we se

[2019-09-29 15:00] #841 closed, assigned to sunweaver, Ionic, uli42

[2019-09-29 15:40] #825 closed, assigned to uli42

[2019-09-29 15:58] #632 closed, assigned to uli42

[2019-10-03 20:59] uli42 opened #847 "Segfault when missing value"
run `nxagent -ac :55 -options nx/nx,fullscreen` will produce a segfault:

[code]

The problem here is that `value` is NULL, which is something strcmp cannot handle.

[2019-10-03 23:27] uli42 opened #850 "Use libXau?"
I just have discovered that out libNX_X11 contains the Au*.c files which provide functions normally located in libXau. Check if we can drop them an use libXau instead.

[2019-10-03 23:38] uli42 commented on #850
`doc/_attic_/nx-X11_vs_XOrg69_patches/nx-X11_lib_Xau_AuRead.c.X.original` shows the only difference that has been introduced by NX (which is not marked, BTW).

[2019-10-08 19:32] ghost opened #853 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-08 21:20] mjtrangoni commented on #853
@uli42 already sent the request to @ArticaProject

[2019-10-09 08:26] uli42 opened #854 "malloc in signal handler causes deadlock"
The 'new' logging code in nxcomp implicitly calls malloc() which causes the nxagent to hang forever. See this backtrace:

[code]

Malloc() is not allowed inside signal handlers, see https://stackoverflow.com/questions/40049751/malloc-inside-linux-signal-handler-cause-deadlock

So either we remove the logging from the signal handler code or find some way to prevent malloc()s from happening.

[2019-10-09 13:04] Ionic commented on #854
Yeah, the signal handler is way too complicated. :/

The only safe operations in a signal handler are to call async-signal-safe functions and set variables, preferably only the latter.

`malloc` is not async-signal-safe so what I've done is not conforming to standards like POSIX/SUS, but it was the easiest way to get it done. I'd have to think of a really good way to reimplement this, but I fear t

[2019-10-09 13:16] uli42 commented on #854
On Wed, Oct 9, 2019 at 3:05 PM Mihai Moldovan <notifications@github.com>
wrote:

We have seen a least one deadlock in the wild, so this needs to be fixed
somehow. I have not looked through the code thoroughly yet. But can't we
simply drop all the logging code within signal handlers?

[2019-10-10 09:38] #847 closed, assigned to nobody

[2019-10-22 14:03] uli42 commented on #745
I have seen this again today: Server 3.5.99.21, client 3.5.99.22

[2019-10-22 22:41] uli42 opened #855 "drop Holder.c"
This contains only code that is not used (placeholder stuff) or not compiling (checksum stuff).

[2019-11-14 22:37] dimbor-ru opened #873 "Additional channels for nxcomp."
There is a suggestion to add additional channels to nxcomp. The technology is already used for usbip and authorization schemes in commercial products based on nx. Sorry for the English curve :)

[https://gitlab.eterfund.ru/dimbor/nx-libs/commits/dev2](https://gitlab.eterfund.ru/dimbor/nx-libs/commit/4d3fb73fecdb7d5c0ff7af29b73b62bdf851cd32)

[2019-11-15 08:45] uli42 opened #874 "Check etersoft commits"
https://gitlab.eterfund.ru/dimbor/nx-libs/commits/dev2

There's a clipboard fix, some motif stuff (?), some locale stuff and channel stuff (separate issue for that: #873)

[2019-11-15 08:55] uli42 commented on #873
IIRC there's already similar code contributed by qvd: 30af52eb324f6bf5551869033605e3141d745a40

Regarding your patch: Instead of hardcoding three additional channels I really would like to see some dynamic solution where the code can handle an arbitrary number of channels defined in the config. Like multiple extra= statements defining the port and a short description, e.g. `extra=7000:"usbip":requ

[2019-11-15 08:56] uli42 commented on #874
@dimbor_ru: can you tell us more about those motif changes?

[2019-11-15 11:03] sunweaver commented on #873
@uli42: @dimbor-ru: external application/protocol forwarding support changes should/must be coordinated with devs from Qindel, as they heavily use that feature whereas X2Go is not using it.

@vatral: please take notice of this discussion on nx-libs issue #873 or point the right person at Qindel to this. Thanks.

[2019-11-15 11:05] sunweaver commented on #873
@dimbo-ru: good to have you share your work with us here. Thanks + much appreciated. I'd love to see all your improvements, use case fixes, etc. addressed in the nx-libs upstream version, so that you  basically don't have to maintain you own branch over the long run. Don't worry about your English, it's fine. (We are all Germans, so probably not better English, esp. when we start speaking in Engli

[2019-11-15 11:06] sunweaver commented on #873
@dimbor-ru: dp you think you can dissect your diff between this nx-libs an etersoft's nx-libs and wrap the changes atomically into Github pull requests. This would make it most easy for us to discuss the proposed changes and review code fragments. Thanks.

[2019-11-15 12:21] dimbor-ru commented on #874
About motif&locale. This old patch is not worthy of your attention at least for two reasons:
1) The first versions of wine (on server side) and nxwin (on client) could not boast of strict adherence to ICCCM. These facts gave me a reason to bully in relation to them "for a specific task".
2) This hack is also because it was time-consuming and too lazy to organize the conversion of nxwin window titl

[2019-11-15 12:38] uli42 commented on #874
Thanks for the clarification. So it boils down to the clipboard patch, which essentially matches one of the FIXMEs I have introduced. So I will extend the existing code rather than using your patch (which drops all the comments).

[2019-11-15 14:51] dimbor-ru commented on #874
Ok. Sorry for being careless with your code. I had a hole and I had to shut it up quickly. Naturally, this is a draft. I offered only #873, the rest you yourself have found from my repo ;)

[2019-11-15 15:26] dimbor-ru commented on #873
@sunweaver: I am flattered by the assessment of my modest old work. Of course, our further interaction will occur in the form of my pool requests. On the other hand, for important things, form is not so important. And the little things will remain trifles both in Africa and in the Arctic (there was an attempt to make a joke ;).

@uli42: Programmers from Etersoft have written some usbip support cod

[2019-11-15 21:26] uli42 commented on #874
I have now written a patch based on your clipboard changes and added some more targets, see #875

[2019-11-18 08:52] uli42 commented on #873
On Fri, Nov 15, 2019 at 4:26 PM dimbor-ru <notifications@github.com> wrote:

So will this be released one day as open source?

Uli

[2019-11-18 11:58] dimbor-ru commented on #873
I'm not an employee of Ethersoft, I only advise them sometimes. Therefore, I can't speak on their behalf.

[2019-11-18 12:38] uli42 commented on #873
Ah, thanks for clarifying that. I have done some more clipboard patches you
might want to test:
https://github.com/uli42/nx-libs/tree/pr/more_clipboard_improvements

On Mon, Nov 18, 2019 at 12:58 PM dimbor-ru <notifications@github.com> wrote:

[2019-12-03 21:06] uli42 opened #879 "XScreensaver TesselImage does not display properly"
Start an nx session, run `xscreen-saver-demo`, select the `TesselImage` screensaver. The watch the preview window or press Preview to see it fullscreen.

You will notice unfilled or wrongly filled regions like in the screenshot. Compare this to a the same test on a real X server where you only see regions that are filled properly. Sometimes you have to to retry several times before the artefacts a

[2019-12-11 20:22] uli42 commented on #633
I looks to me as the main problem is that nxagent is creating ALL atoms on the real X server, so there's no way to distinguish an nxagent from a real X server by checking the existing atoms.

[2019-12-14 21:53] uli42 commented on #633
I think the whole approach of using atoms (and their order) is wrong as long as nxagent creates the atoms on the remote side itself. This will create the atoms on a _real_ X server or an nxagent, does not matter. So after the first time nx has been run against a real X server it is undistinguishable from an nxagent because it now has all the atoms, too (and forever!).

[2019-12-17 22:37] uli42 commented on #855
has been done in dbf36ece3

[2019-12-17 22:37] #855 closed, assigned to uli42

[2019-12-17 23:14] uli42 commented on #192
see #830 for a patch passing down WM information.

[2019-12-17 23:15] uli42 commented on #176
this is long fixed

[2019-12-28 20:51] dimbor-ru opened #882 "Slightly overdue new year gift"
I sincerely thank the nx-libs developers for maintaining backward compatibility with the original protocol.

And this is a small attempt to apologize for the years of silence. The classic nx is not dead and has been developing all these years in its own difficult way. I finally found the time to systematize and present in a complex two new-old products: https://github.com/dimbor-ru/opennx and http

[2020-01-01 23:32] dimbor-ru commented on #873
However, I was prompted with a promising project: [usbip-win](https://github.com/cezanne/usbip-win)
But I'm not so friendly with MSVS for experimenting with it. While he is waiting for brave guys.

[2020-01-02 00:57] uli42 commented on #873
Thanks for the pointer! Looks promissing indeed. As these are separate
components I'd rather add that to x2go instead of nx-libs.

On Thu, Jan 2, 2020 at 12:32 AM dimbor-ru <notifications@github.com> wrote:

[2020-01-02 18:13] uli42 opened #885 "Signal documentation in nxagent manpage is wrong"
In man nxagent we find this:

[code]

But nxagent has own signal handlers for HUP and IIRC also for USR1. Check and update manpage.

[2020-01-02 18:29] uli42 opened #886 "Keyboard conversion cannot be disabled once activated"
If you reconnect to a session that has keyboard conversion (auto-)activated AND you have auto keyboard detection configured in x2go client, a different code path in Reconnect.c ist taken which will skip the keyboard conversion setup. Thus, you have broken keyboard behaviour for certain keys like Cursor down.

Workaround: add "keyconv=off" to the options file and reconnect once with an invalid keyb

[2020-01-03 00:26] uli42 commented on #741
For the records: the command line is not parsed again on reconnect.

[2020-01-03 14:59] Djelff commented on #824
The same symptoms: on nx_libs 3.5.99.16 and earlier, after the appearance of the nxclient window in windows, a delay of about 3s passes, on nx_libs 3.5.99.17 and later about 17s
I have to work through 4g and OpenVPN with an average delay of 85ms.
The server I'm trying to use is the old/new freenx-server running on the nx-libs libraries, from dimbor-ru https://github.com/dimbor-ru

[2020-01-03 16:20] uli42 commented on #824
@Djelff  I have just checked the differences between 3.5.99.16 and 3.5.99.17. The biggest change is keyboard related but I doubt that this is the reason. Another thing is a bigrequests fix. I can image some problems with big requests over your slow 4G connection. So _maybe_ disabling bigrequests helps. Can you please try this? (add `-extension BIG-REQUESTS` to the nxagent startup (I do not know ho

[2020-01-03 17:18] uli42 commented on #824
One more question: does this only happen in windows? Can you check with a Linux client?

[2020-01-04 06:28] Djelff commented on #824
I specifically checked all versions to determine at what exact moment regression occurred.
On Linux, the client behaves the same way.
Visually nothing happens, the client starts, the logo appears and nothing happens 15s.
We could not find anything suspicious in the logs.

4G is not slow, and the delay is not so high https://www.speedtest.net/result/8913515284

Add -extension BIG-REQUESTS to the la

[2020-01-04 07:40] Djelff commented on #824
Мaybe it will help? I found delay in file "session" on server.

Info: Using ZLIB data compression 1/1/32.
Info: Using ZLIB stream compression 9/9.
Info: No suitable cache file found.
Info: Listening to X11 connections on display ':2000'.
Info: Established X client connection.
Info: Using shared memory parameters 1/1/0/0K.
-----   15c delay -----
Info: Using alpha channel in render extension.
Info:

[2020-01-04 09:48] uli42 commented on #824
Thnaks for that hint! However, there's a lot happening between these two prints. Are you able to compile a new nxagent? If so, it would help if you could activate TEST and DEBUG in `Args.c` and `Screen.c` (and maybe `Init.c` and `Keyboard.c`).

[2020-01-04 11:48] Djelff commented on #824
Done, for both 3.5.99.16 and 3.5.99.17 with the NXAGENT_TIMESTAMP key.
P.S. Info: Image rate limit set to 10000 kB / s. and so on, I didn’t remove the experiments with the parameters.

[session.3.5.99.16.txt](https://github.com/ArcticaProject/nx-libs/files/4021856/session.3.5.99.16.txt)
[session.3.5.99.17.txt](https://github.com/ArcticaProject/nx-libs/files/4021857/session.3.5.99.17.txt)

[2020-01-04 12:33] Djelff commented on #824
+TEST and DEBUG on Display.c

[session.3.5.99.16.txt](https://github.com/ArcticaProject/nx-libs/files/4021891/session.3.5.99.16.txt)
[session.3.5.99.17.txt](https://github.com/ArcticaProject/nx-libs/files/4021892/session.3.5.99.17.txt)

[2020-01-04 16:26] uli42 commented on #824
Thank you! Whet we can see is that there a lot more of these:
[code]

That function is called whenever Xlib is going to perform a network operation. So the newer version is producing a lot more network operations than the older one.

I am not sure what is causing them.

Can you please copy the libs (libNX11, libxcomp, libxcomshad) from 3.5.99.16 to the 3.5.99.17 installation (and vice versa) and r

[2020-01-04 21:47] uli42 commented on #824
No need to copy the libs. I have identified the problem. We deliver the icon for the main window in xpm format. The code can read it from disk or can use embedded data structures. In 3.5.99.17 the nomachine icon with 16x16px has been replaced by a neutral one in 128x128px (commit 4d6bae082)

Turns out that simply converting this xpm data into a pixmap is VERY expensive via nx transport, in my case

[2020-01-04 23:41] uli42 commented on #824
Fix available in #889

[2020-01-05 07:19] Djelff commented on #824
Excellent! Startup speed restored to normal.
About nxagent.xpm I would not have guessed ;(

[2020-01-05 09:37] sunweaver commented on #824
Hi,

On  Fr 03 Jan 2020 15:59:40 CET, Djelff wrote:

OT here, but maybe something for personal email...

@Djelff: Could you test a recent remmina release against your
freenx-server and report back to Remmina upstream, if that is broken
or still working?
https://gitlab.com/Remmina/Remmina

Thanks+Greets,
Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthal

[2020-01-05 10:56] Djelff commented on #824
I checked and answered the mail to Mike, Remmina on the new FreeNX server using ArcticaProject/nx-libs works.
I think it should work with any client using the FreeNX connection protocol.
https://gyazo.com/f555f929d8097c8d43a5b3a37e02b3bc

[2020-01-05 15:01] #824 closed, assigned to nobody

[2020-01-05 20:51] #886 closed, assigned to uli42

[2020-01-05 22:22] #606 closed, assigned to sunweaver, Ionic

[2020-01-05 23:02] sunweaver opened #890 "FTBFS (DEB builds): nxagent.xpm in DEST_DIR, but not installed to any package"
[code]

This regression has been caused by 3cd622cf4085e8c4257ff17c2481d92d3bc443f9.

The nxagent.xpm must not be installed via main Makefile. Probably some love need to be given to nx-libs.spec, as well.

Fix is on the way.

[2020-01-05 23:16] #890 closed, assigned to nobody

[2020-01-05 23:53] #165 closed, assigned to sunweaver

[2020-01-05 23:56] sunweaver opened #891 "FTBFS in nxagent/hw/Splash.c"
See:
https://jenkins.arctica-project.org/job/nx-libs.deb+nightly/target=sid/61/console

[code]

[2020-01-05 23:56] sunweaver commented on #891
@uli42: I will call it a day and won't be at keyboard tomorrow. Any chance, you can look into this?

[2020-01-06 00:11] sunweaver commented on #891
It seems that this only happens during 32bit builds.

[2020-01-06 00:24] uli42 commented on #891
That's why I wrote in the XlibAtoms patch we should check a 32 bit build...

Here's a patch for now, need to create a PR soon:
[code]

[2020-01-06 00:27] uli42 opened #892 "x2go logo is not centered"
running x2goagent will show the x2go logo for a short time. This is not centered in the window put a bit on the right

[2020-01-06 07:08] #891 closed, assigned to nobody

[2020-01-06 07:48] sunweaver commented on #891
Hi Uli,

On  Mo 06 Jan 2020 00:24:38 UTC, Ulrich Sibiller wrote:

the patch above worked well. I already pushed it.

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 24340 Eckernförde
mobile: +49 (1520) 1976 148
landline: +49 (4351) 850 8940

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwe

[2020-01-07 06:33] realsimix opened #893 "Segfault in nxagent after updating snapshot from 20191116 -> 20200106"
Hi,

After updating snapshot from 20191116 -> 20200106 I get the segfault below with nxagent:

GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-115.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Ty

[2020-01-07 08:08] uli42 commented on #893
On Tue, Jan 7, 2020 at 7:33 AM Simon Matter <notifications@github.com> wrote:

Oh, sorry for that! When does this happen? Can you trigger it?

Not specifically. But My first shot would be reverting the xlib types
commit 427b7b977. All the files mentioned in the dump have not had any
substantial changes. Hmm...

Uli

[2020-01-07 12:40] realsimix commented on #893
I don't know where is crashes exactly but on nxproxy side it quickly starts to draw the display and immediately crashes.

I did an strace of nxagent while starting it up just in case it helps.

[trace.log.gz](https://github.com/ArcticaProject/nx-libs/files/4030670/trace.log.gz)

Simon

[2020-01-07 12:45] uli42 opened #894 "Failed to convert remote atom"
With current HEAD in a nested rootless session I see these when running zenity:

[code]

This is probably connected to the xlib types commit 427b7b9777727df4115e3e9e6e63d5176fb0b495

[2020-01-07 13:06] realsimix commented on #893
To clarify this, I was also able to fully start a session and use it a bit but it will suddenly crash.

Simon

[2020-01-07 13:12] uli42 commented on #893
Well, I am not sure if that trace is correct. It loads libX11.so but should load libNX_X11.so.

In the strace I can see you are trying to start a fullscreen session. Does it work without fullscreen? And from my previous post: can you trigger it? If so, enable debugging in Init.c, Display.c, Screen.c (and maybe probably more), recompile and retry.

[2020-01-07 13:17] uli42 commented on #893
Oh, if it crashes all of a sudden this makes debugging more difficult ;-( As I have also seen some unexpected behaviour (#894) I suggest to remove the aforementioned patch and see if it runs better.

[2020-01-07 13:18] realsimix commented on #893
In my test environment libX11.so is a symlink to libNX_X11.so.6.3.0 so in the end the correct lib is loaded.

I'll try without fullscreen. I'll also try without the mentioned patch.

[2020-01-07 14:06] realsimix commented on #893
Running without fullscreen doesn't change anything.

I tried to revert patch https://github.com/ArcticaProject/nx-libs/commit/427b7b9777727df4115e3e9e6e63d5176fb0b495.patch but it doesn't apply on current HEAD.

[2020-01-07 15:43] uli42 commented on #893
Ok, then try the attached patch please:

Uli

On Tue, Jan 7, 2020 at 3:06 PM Simon Matter <notifications@github.com> wrote:

[2020-01-07 16:33] realsimix commented on #893
Where can I find the patch you mentioned?

[2020-01-07 17:02] uli42 commented on #894
Some more of those or similar messages:

[code]

[2020-01-07 17:05] uli42 commented on #893
My github access ist currently broken, but I had it attached to my
previous email. Cannot check if that is visible in Github. Putting
your address  on Bcc: and attaching it again.

On Tue, Jan 7, 2020 at 5:33 PM Simon Matter <notifications@github.com> wrote:

[2020-01-07 23:01] uli42 commented on #894
Pretty sure this is the source of the problems:

[code]

Using `XlibAtom` here is wrong. On a 64bit system the size of this type is 8 bytes (64bit). But at this stage we do not net Xlib datatypes but wire datatypes. Over the wire an Atom is always 32bit, so we need to use `CARD32` here.

[2020-01-07 23:12] #894 closed, assigned to nobody

[2020-01-08 06:04] realsimix commented on #893
I've tried with the reverting patch but it still crashes the same way. I also tried current HEAD but it also crashes the same way :-(

[2020-01-08 06:12] uli42 commented on #893
As I do not see the problem may I ask you to do a git bisect?

Simon Matter <notifications@github.com> schrieb am Mi., 8. Jan. 2020, 07:04:

[2020-01-08 06:44] realsimix commented on #893
The way I'm doing the builds here is quite complicated and time consuming. Is there any other way to debug this?

[2020-01-08 07:35] uli42 commented on #893
Well, as I currently lack any idea of the reason I fear there's not...

Maybe you could try to revert d94f472744355c71987d145727aecace1e8455b6

[2020-01-08 12:58] uli42 commented on #893
Looks like I am suffering from a very similar issue:
[code]

[code]

[2020-01-08 13:08] realsimix commented on #893
At least I'm not alone now, seems indeed the same.

What makes it so difficult is that it sometimes works quite well. What I saw today is that the issues shows up on ending a session if it didn't show up before.

[2020-01-08 17:39] uli42 commented on #893
That's good! Exactly at the same location?

Simon Matter <notifications@github.com> schrieb am Mi., 8. Jan. 2020, 14:08:

[2020-01-08 23:01] uli42 commented on #893
I have found one location where my scope optimization went wrong, see this fix:  e5d981ec395620c5de403f8fae63b1c801e5294b. Does this patch improve the situation for you?

[2020-01-09 06:16] realsimix commented on #893
Unfortunately it still crashes at the same place even with the above patch. Running XFCE on the display I can start some programs and use it. When I do a logout, the display is grayed out and the logout dialog appears, nxagent immediately crashes.

[2020-01-09 06:43] uli42 commented on #893
Damn... but on the positive side the patch really fixes a bug I would not
have found without your bug leading to a second look at my changes.

If bisecting is too time consuming for you maybe you could elaborate a
bullet-proof way to trigger it. In my setup the mentioned crash occurs
every few hours - not good to test any changes.

At the location my crash happens clipregion is a NULL ptr which ca

[2020-01-09 11:00] uli42 commented on #893
Now, I have stepped further with bisecting. I can currently limit it to one of these commits:
     1  * a261b72 2020-01-05 | Merge branch 'uli42-pr/code_cleanup' into 3.6.x [Mike Gabriel]
     2  * adca0cc 2019-10-31 | Pixels.c: reformat comments [Ulrich Sibiller]
     3  * fc991b9 2019-10-31 | Pixels.c: scope improvements [Ulrich Sibiller]
     4  * 6a02a67 2019-10-31 | Options.h: reformat [Ulric

[2020-01-09 11:05] realsimix commented on #893
I also did a lot of builds but didn't see the crash anymore. So I start to wonder if terminating the session doesn't always trigger the segfault. I'm a bit confused at the moment.

[2020-01-09 12:53] realsimix commented on #893
FYI, just had a crash with 26 * d94f472.

Unfortunately I found out that even logging out a session does not always trigger the segfault. It can do so 5 times but the next 5 times it doesn't...

[2020-01-09 13:36] uli42 commented on #893
I think I have found the problem. Can you please apply this patch and re-check?

[code]

[2020-01-09 14:41] realsimix commented on #893
Looks good, congratulations! I wasn't able to get a segfault with the patch. It also confirms my tests:

[code]

While we are at it, could you also add this one:
[code]

[2020-01-09 15:49] uli42 commented on #893
yep, will do that later today.

[2020-01-11 19:48] uli42 opened #897 "Drop X11 xpm file and replace by existing drawing routine"
in dix/window.c there's the DrawLogo() function that is able to draw the X logo in an arbitrary size. We could use this to draw the icon on the fly without having to store the according xpm file.

[2020-01-14 06:25] uli42 commented on #808
There'a bugreport in Fedora [1] that links to the Xorg bugreport [2]. That one states our fix is more a workaround for a problem happening elsewhere. So we need to revisit this.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1790606
[2] https://gitlab.freedesktop.org/xorg/xserver/issues/283

[2020-01-14 06:29] uli42 commented on #808
Note: the trigger mentioned in the above bugreports (=setxkbmap -option "compose:lwin"=) does not trigger the problem in a current nxagent.

[2020-01-14 06:58] uli42 commented on #808
I think It might be related to this xorg-xserver revert that seems missing in nxagent:
[code]

[2020-01-14 22:33] uli42 opened #898 "keyboard clone handling in x2go mode incorrect"
If run as x2goagent we check if the requested keyboard is null/null and then create the keyboard _directory_  to prevent x2gosetkeyboard from setting a keyboard. Instead x2goagent handles this itself.

However, if the user configures "do not set keyboard" or specifies an explicit keyboard in the x2goclient session configuration then startx2goagent will already create a keyboard directory (in a scr

[2020-01-15 22:03] uli42 commented on #60
We have the `tolerancecheck` setting but unfortunately it does not cover visuals.

[2020-01-15 22:13] uli42 commented on #59
I have tried this today with a current nxagent 3.5.99.22 and it works flawlessly. No crash. But I am a bit unsure where to enable the anti-aliasing you are mentioning.

[2020-01-15 22:17] sunweaver commented on #59
On  Mi 15 Jan 2020 23:13:21 CET, Ulrich Sibiller wrote:

NIICCCEEE!!! Closing this, then?

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 24340 Eckernförde
mobile: +49 (1520) 1976 148
landline: +49 (4351) 850 8940

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netz

[2020-01-15 22:28] uli42 commented on #69
Maybe just use nedit-ng: https://github.com/eteran/nedit-ng

[2020-01-15 22:30] uli42 commented on #59
Well, if you could test with your setup (and with the anti-aliasing
which I am not sure where to activate)...

On Wed, Jan 15, 2020 at 11:17 PM Mike Gabriel <notifications@github.com> wrote:

[2020-01-15 22:42] uli42 commented on #107
as BIG-REQUESTS are no longer broken I assume this can be closed. @stefanbaur  can you still see these crashes nowadays?

[2020-01-15 22:47] uli42 commented on #90
autograb is integrated - so can we close this one?

[2020-01-15 22:48] uli42 commented on #85
I tend to close this as we are way gone from 3.5.0 nx packages. Also nx 3.5.99 releases are running extremly stable...

[2020-01-15 22:52] uli42 commented on #74
this is for old nx-libs 3.5.0.32, so I would rather close this.

[2020-01-16 05:19] sunweaver commented on #74
hi,

Am Mittwoch, 15. Januar 2020 schrieb Ulrich Sibiller:

ok, please do.

Mike

--
Gesendet von meinem Sailfish Gerät

[2020-01-16 05:20] sunweaver commented on #85
Am Mittwoch, 15. Januar 2020 schrieb Ulrich Sibiller:

ok, please close this, then.

Mike

--
Gesendet von meinem Sailfish Gerät

[2020-01-16 09:18] #85 closed, assigned to sunweaver

[2020-01-16 09:19] #74 closed, assigned to sunweaver

[2020-01-16 22:34] uli42 commented on #245
and even nxagent.keyboard no longer exists

[2020-01-18 10:29] uli42 opened #900 "Splash handling prevents nxclient signalling"
The code in Splash.c also takes care of notifying nomachine's (old) nxclient by taking/releasing ownership of some special selections on the real X server. Unfortunately most of the code is skipped if not in x2go mode (where the selections are _not_ needed) or in rootless mode. We need to separate that into a splash related part and a notification related part.

[2020-01-18 10:31] uli42 commented on #568
Yes, but we should move the path to a #define instead of hiding it in the code.

[2020-01-18 10:34] uli42 commented on #455
This is not relevant anymore, we have to put the linNX_X11 to a separate dir anyway (because of the ldconfig problem mentioned above) and have solved the linking some time ago.

[2020-01-18 10:34] #455 closed, assigned to sunweaver, Ionic

[2020-01-18 10:40] uli42 commented on #347
[code]

-> Will come in automatically once my 1.4.2 patch is merged.

[2020-01-18 10:45] uli42 commented on #238
We are setting these variables in the makefiles now, so closing this.

[2020-01-18 10:45] #238 closed, assigned to sunweaver

[2020-01-18 11:02] sunweaver commented on #238
On  Sa 18 Jan 2020 11:45:46 CET, Ulrich Sibiller wrote:

It's always good to reference a bug closure with a concrete commit
hash (or at least a tag).

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 24340 Eckernförde
mobile: +49 (1520) 1976 148
landline: +49 (4351) 850 8940

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577

[2020-01-18 11:02] sunweaver commented on #347
On  Sa 18 Jan 2020 11:40:41 CET, Ulrich Sibiller wrote:

Any PR for the 1.4.2 patch, yet?

Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler str. 17, 24340 Eckernförde
mobile: +49 (1520) 1976 148
landline: +49 (4351) 850 8940

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netz

[2020-01-18 12:41] uli42 opened #901 "use Xext/dpmsstubs.c?"
Xext/dpmsstubs.c contain dummy code that is identically to be found in hw/nxagent/Init.c. In addition Xext/dpmsstubs.c is not used during compilation.

Clarify the situation. Can we drop the file? Should we drop the code in Init.c and compile dpmsstubs.c instead?

[2020-01-18 12:43] uli42 commented on #901
Probably we should incorporate this commit:

[code]

[2020-01-18 13:18] uli42 commented on #263
In Xnest this image is used for the screenblanker. In contrast to nxagent Xnest takes care of blanking the screen in xnestSaveScreen() while nxagent leaves that to the dix. As nxagent is doing nothing in nxagentSaveScreen() it is clear that the screen blanking is not working with "prefer blanking: yes".

I don't think we should use the (ugly) screensaving image from Xnest. So dropping that file is

[2020-01-18 14:37] uli42 commented on #238
This was changed over a couple of commits, e.g. 11a1f31d70c189bf6c5f4420f196468267755a0d, f23189e7392254c9458bf76504920cb868360e40, 4ed8145f7be80f162970e25cf960aa7d24b3dafb

[2020-01-18 14:42] uli42 commented on #347
see #902 for the current state of that 1.4.2 efforts

[2020-01-18 15:05] uli42 commented on #900
Well, that's not entirely true as nxagentShowSplashScreen() is only called if in non-rootless mode on startup. Hmm, this needs more investigation.

[2020-01-18 16:04] sunweaver commented on #263
Hi,

Am Samstag, 18. Januar 2020 schrieb Ulrich Sibiller:

+1 from me.

Mike

--
Gesendet von meinem Sailfish Gerät

[2020-01-18 18:30] uli42 commented on #693
ping

[2020-01-18 18:35] #874 closed, assigned to uli42

[2020-01-18 18:38] uli42 commented on #897
The logo we use is a hybrid of the Xorg logo and the x2go logo. So this is not the way to go.

[2020-01-18 18:38] #897 closed, assigned to nobody

[2020-01-18 18:40] uli42 commented on #882
This is good news, thx for sharing that information and code!

However, what should we do about this in nx-libs? Maybe mentioning those links in the readme would be a good start.

[2020-01-18 19:57] dimbor-ru commented on #882
It would be nice. It is for this purpose that I wrote here.

[2020-01-21 10:24] uli42 opened #903 "Unresponsive nxagent"
We found an nxagent 3.5.99.21 that will not react on signals, hanging in nxagentPutImage:

[code]

The issue shows up after nxagent printed this:
[code]

Update: above log messages stem from `HandleShutdown` in `nxcomp/src/Loop.cpp`

[2020-01-21 10:35] uli42 commented on #903
Corresponding code:
[code]

Running `set nxagentShadowCounter = 1` in gdb to temporarily skip the usleep revived the session, reconnect was possible again.

I suspect that the main culprit is `NXDisplayError(nxagentDisplay)` not being reset if the remote peer connection breaks.

[2020-01-24 10:11] uli42 opened #904 "CapsLock weirdness"
In current 3.5.99.22 with patches from #895 versions there seems to exist a bug regarding CapsLock. CapsLock _outside_ the session seems to toggle everytime you press Alt+Tab inside the session.

This seems to happen only in rootless sessions.

Need to test more, though.

[2020-01-25 16:21] uli42 opened #905 "Findings by Travis-CI"
[code]

[2020-01-26 00:10] uli42 commented on #904
Turns out the bug (a line of code got lost) was introduced on 2019-07-04, so it is already contained in 3.5.99.21.

[2020-01-28 15:21] uli42 commented on #346
Currently the X-Video extension is kind of useless since it only reports this:
[code]

[2020-01-29 21:30] uli42 commented on #95
I just saw that the local screensaver is disabled in Window.c/nxagentSwitchAllScreens(), too

[2020-01-30 00:06] uli42 opened #906 "set MAXSCREENS to 1"
we do not support having more than one screen in nxagent currently (supplying -scrns 2 will even lead to segfault). So set the MAXSCREENS define to 1 during compilation.

[2020-01-30 09:59] #893 closed, assigned to uli42

[2020-01-30 09:59] #904 closed, assigned to uli42

[2020-01-30 21:31] uli42 opened #907 "linker errors with gcc 10"
From X2go bug 1436 (https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=1436):

gcc 10 has landed in Fedora Rawhide.  With if -fno-common is now the
default.  nx-libs fails to build with:

[code]

[2020-01-30 21:32] uli42 commented on #907
I can see those errors in gcc (Debian 8.3.0-6) 8.3.0, too, by adding `-fno-common`

[2020-01-31 00:57] opoplawski commented on #907
Looking better - still see the dixfont.h errors though.  Thanks for working on this.

[2020-01-31 08:05] uli42 commented on #907
Ouch, forgot to to commit the necessary change. But it is easy:

change
xfont2_fpe_funcs_rec const **fpe_functions;
to
extern xfont2_fpe_funcs_rec const **fpe_functions;

in nx-X11/programs/Xserver/include/dixfonts.h#

Will commit that tonight.

On Fri, Jan 31, 2020 at 1:57 AM Orion Poplawski <notifications@github.com>
wrote:

[2020-02-02 10:00] uli42 opened #908 "Xdmcp broadcast broken"
With a properly configured xdm in the network

`Xnest :22 -broadcast`

works (shows a display manager login window), while

`nxagent :22 -broadcast`

does not. It starts an ordinary desktop nxagent session.

However, `nxagent :22 -query <xdmcpserver>` and `nxagent :22 -indirect <xdmcpserver>` work!

Watching the xdm log on the server side shows that no broadcast msg is reaching the server while wi

[2020-02-03 10:56] uli42 opened #909 "Crash in RegionDestroy"
In my test-Version I saw this crash today. This version contains the pr/various4 PR.

[code]

[2020-02-06 20:31] logological opened #910 "Can't resize windows by dragging"
I use X2Go to run individual applications remotely.  For as long as I can remember (seven or eight years, at least), I've never been able to resize these remote windows by dragging their edges with the mouse pointer. Whenever I try to do this, the window size increases by a few pixels at most and then stops.  It used to be the case that after starting to drag six or seven times, the window could t

[2020-02-09 16:02] uli42 commented on #910
I have done some tests. I _seems_ like this is a problem consisting of two components. First this behaviour seems to be tied to kwin being active as local window manager. Second the application in question must be using qt (e.g. konsole, k3b).

[2020-02-09 16:44] logological commented on #910
This is not the case for me.  I can reproduce the problem with xfce4-terminal and claws-mail, neither of which use Qt.

[2020-02-09 18:05] uli42 commented on #910
Ok, interesting. Well, I wrote "seems" above... Looks like I was wrong.

I have just found something more: I can try several times to resize and it finally works. Restarting kwin then sets the window back to the non-resizable state. I then must try several times again until it finally works. So this _looks_ like kwin is "learning" something during the process.

[2020-02-12 14:42] vatral opened #912 "Build fails when UseTIRPC is disabled"
[code]

Looks like `rpcauth.c` shouldn't be getting compiled in this case.

Building with `make IMAKE_DEFINES="-DUseTIRPC=1"` works fine. Looking into it a bit more, it seems the problematic combination is `HasSecureRPC` enabled, and `UseTIRPC` disabled.

[2020-02-14 11:55] vatral opened #913 "slave channel doesn't listen on the proxy side"
While the slave channel implementation can be used in any direction, due to a bug in the current code it fails to listen on the port on the nxproxy side.

Example with the original code:

[code]

[2020-02-18 19:00] uli42 commented on #912
I have found a hint in xorg. It seems the correct handling is to check for existence of `rpc/rpc.h` and fail if it is missing. In some way that's what the current code does ;-)

[code]

[2020-02-18 19:05] Ionic commented on #912
Well... yes... if your system does not provide an RPC implementation as part of its libc any longer (only older glibc versions do/did) and TIRPC is not being enabled or used the build will fail.

We're not detecting the secure RPC stuff but just hardcode it to be on.

[2020-02-18 21:43] uli42 commented on #903
It looks like this can happen if a client keeps calling ProcCopyArea() while the session is suspended. So that single client keeps the server busy. With the added sleep those requests pile up and the dispatch loop never comes to calling the nxagentWakeupHandler.

So, to prevent that we can set the SleepTime to 0 by passing sleep=0 in the nx options file.

This theory needs to be verified, though..

[2020-02-19 13:13] vatral commented on #912
Aha, I see. Yes, I was building on Fedora 31.

I do have libtirpc installed, though, and it seems that the "rpc_dep = dependency('libtirpc', required: false)" line should be finding it.

I'm not familiar with Meson, but I take it that the dependency() call just checks if it's present, and it's up to the developer to check the result value and adjust the required include paths and libraries?

[2020-02-19 19:17] uli42 commented on #635
today I have experienced the same with Xnest.

The problem is that after startup nxagent's nxagentNumPixmapFormats is 2 DESPITE xdpyinfo showing 7. At reconnect it is still 2 but nxagentRemoteNumPixmapFormats is 7. And  nxagentCheckForPixmapFormatsCompatibility() with mode "strict" fails id the numbers to not match.

[2020-02-19 19:54] uli42 commented on #635
Using =tolerance=safe= makes it work. Maybe we should set the default to =safe= instead of =strict=.

[2020-02-19 21:55] uli42 commented on #635
Xnest and Xephyr show

[code]
and
[code]
(note there are pixmap formats whose depth is greater than the supported depths.

nxagent internally filters the pixmap formats it supports by the depths it supports, and it gets 2 depths from the remote X server (Xnest/Xephyr). The outcome is that only 2 of the 7 pixmap formats make it to the internal list of pixmap formats. But the the remote list is not

[2020-02-19 22:00] Ionic commented on #635
Using `safe` makes sure that all pixmap formats used on the server side are also understood on the remote side, while the `strict` check requires all to match.

`safe` could be an okay default, but we've used `strict` without huge issues for a long time.

Filtering out formats from the remote side's list sounds like a bad idea because it makes the `strict` behavior useless (i.e., it would pretty m

[2020-02-19 22:02] uli42 commented on #912
No, nx-libs is not using meson, this was just an example what upstream Xorg is doing. We are still at Imake (although the automake tree is mostly done) and are _not_ checking for =rpc/rpc.h= in the Makefile. Our compilation will just fail in that situation.

[2020-02-19 22:08] uli42 commented on #635
Yes, I basically agree. But what's the point in strictly checking for remote pixmap formats we are never using in nxagent?

Besides, in theory the initial X server could offer multiple pixmap formats per depth while the Xserver at reconnect does not (or vice versa). In that case the filtering would produce different results and the strict check would detect that!

[2020-02-20 18:18] uli42 commented on #910
with trinity's twin (a fork of the old kde3 kwin) this never happens; it just always works.

[2020-03-25 12:36] logological commented on #910
I've tried using [xfwm4](https://docs.xfce.org/xfce/xfwm4/start) instead of kwin (by running Plasma as usual, but with `KDEWM=/usr/bin/xfwm4` in my `.profile`.  Using this window manager, there is no problem resizing windows.  So I guess the resizing problem is either a bug in kwin or an issue with how X2Go interacts with it.

[2020-03-25 12:52] logological commented on #910
Some further info:  Not all applications are affected by this resizing problem.  I can reproduce it with, for example, Thunderbird, Konsole, xfce4-terminal, and Claws Mail, but not with xterm, xcalc, and glxgears.

[2020-03-25 13:06] uli42 commented on #910
Yes, also with kwin3 it does not happen.

Unfortunately it is very difficult to debug this since I have not idea
what kwin is doing (or expecting) there and the source code is not
easily understandable. I have started lokking at this some weeks ago
but due to the nature of WM communication it is neither easy to
capture nor to interpret what is going on. In my special case I need
to do that on my l

[2020-03-25 13:10] logological commented on #910
Ah… while you were writing that comment I already raised an issue on the KDE Bugzilla: [Bug 419227](https://bugs.kde.org/show_bug.cgi?id=419227)

[2020-03-25 13:38] uli42 commented on #910
Ok, thank you!

On Wed, Mar 25, 2020 at 2:11 PM Tristan Miller <notifications@github.com>
wrote:

[2020-04-01 08:46] uli42 opened #914 "Xcms.txt, XErrorDB neccessary?"
We are distributing `Xcms.txt` with `nx-x11-common`:

[code]

`Xcms.txt` comes from the libX11 part. Interestingly the `libx11*` packages from Ubuntu do not deliver `Xcms.txt`. So I am wondering if we really need to ship it at all.

For XErrorDB we could instead add a dependency to `libx11-data` and use that one.

The above holds true for Debian and Ubuntu, for Redhat and derivates I have not chec

[2020-04-01 09:14] uli42 opened #915 "print messages when nxclient is missing"
Instead of printing

[code]

we should output the parameters that nxclient was supposed to be called with. This way you can at least see what was going to be displayed. This would help in debugging problems.

The above error can happen for nxproxy _and_ nxagent, so ensure both places are covered.

[2020-04-01 12:50] uli42 opened #916 "dialogs during reconnect"
From a session based on an self-compiled nx 3.5.0.32 (with some small changes, to the line numbers might differ) I see this on reconnect (I have also seen this on newer versions, but I cannot offer a backtrace, so let's use this for now):

[code]

It looks like there's a workflow problem here. Some code tries to present a dialog when a problem during reconnect arises. But as there session has not

[2020-04-18 22:01] sunweaver opened #919 "FTBFS under gcc-10"
@uli42: I received the bug report below on Debian's BTS. Is gcc-10 support already aviable in one of your PRs?

Mike

The package fails to build in a test rebuild on at least amd64 with
gcc-10/g++-10, but succeeds to build with gcc-9/g++-9. The
severity of this report will be raised before the bullseye release,
so nothing has to be done for the buster release.

The full build log can be found at:

[2020-04-23 09:32] uli42 opened #920 "NX_CUT_BUFFER_SERVER uncertainty"
Atoms.c:
[code]

But I see that property on the nxagent root window (`xprop -root` inside the session) which is definitely not "nxagent's window on the real X server". So either above comment is wrong or we are hitting a bug.

Update: I only see it after pasting in the remote session. It only shows up in rootless sessions. So I suppose this is a bug.

Update2: Explanation for this: For any Propert

[2020-04-28 09:28] uli42 commented on #854
It happened again after a network interruption:

[code]

[2020-05-01 15:21] #176 closed, assigned to sunweaver

[2020-05-01 15:22] #107 closed, assigned to nobody

[2020-05-01 16:08] uli42 opened #921 "Events.c: unused function"
`nxagentHandleRRScreenChangeNotify()` is never called anywhere within nxagent. Normally I would simply drop this but we really should catch screen change events from the real X server to update the internal RandR and Xinerama properly.

[2020-05-02 07:33] uli42 commented on #740
there's no update to this and no other reports. Also we do not have many details. So I close it.

[2020-05-02 07:33] #740 closed, assigned to nobody

[2020-05-06 09:03] uli42 commented on #919
No, my PRs do not address this yet.

[2020-05-06 09:04] uli42 commented on #919
see also: https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=1436

[2020-05-06 12:29] uli42 opened #923 "fullscreen on single screen not configurable"
nxagent knows `-geometry fullscreen` (cmdline) and `fullscreen=1` (options file). Both work but will open a fullscreen session covering all screens. There's no option to restrict that to a single screen like with the relevant keystrokes.

So let's support `fullscreen=2` meaning "only span one screen"

For the command line options we could use `-geometry singlescreen`.

Comments?

[2020-05-06 13:31] sunweaver commented on #923
Hi Uli,

Am Mittwoch, 6. Mai 2020 schrieb Ulrich Sibiller:

Sounds like a plan...

Mike

--
Gesendet von meinem Sailfish Gerät

[2020-05-07 10:09] uli42 commented on #919
I was wrong above, I have fixed those, see #907
But I cannot say for sure if the FTBFS is gone as I do not have a gcc10 setup here. I have just emulated the problem with -fno-common in gcc9

[2020-05-07 14:01] #892 closed, assigned to uli42

[2020-05-07 14:01] #901 closed, assigned to nobody

[2020-05-07 14:01] #438 closed, assigned to uli42

[2020-05-07 14:01] #635 closed, assigned to Ionic

[2020-05-07 14:01] #907 closed, assigned to uli42

[2020-05-07 14:01] #920 closed, assigned to uli42

[2020-05-07 14:11] mjtrangoni commented on #919
I can go for updating the CI to the latest Ubuntu 18.04, and gcc10. Should I?

[2020-05-07 14:39] sunweaver commented on #919
On  Do 07 Mai 2020 16:12:06 CEST, Mario Trangoni wrote:

Yes, please.

Thanks,
Mike
--

DAS-NETZWERKTEAM
c\o Technik- und Ökologiezentrum Eckernförde
Mike Gabriel, Marienthaler Str. 17, 24340 Eckernförde
mobile: +49 (1520) 1976 148
landline: +49 (4351) 850 8940

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2020-05-07 15:40] opoplawski commented on #907
Thanks

[2020-05-11 16:41] uli42 opened #925 "mutter resize bug"
(post from x2go-user mailing list by Kees Bakker, https://lists.x2go.org/pipermail/x2go-user/2020-May/thread.html)

[code]

Later Michael Ashley reported he also sees this:
[code]

(see https://lists.x2go.org/pipermail/x2go-user/2020-May/006004.html for the whole thread)

[2020-05-11 16:43] uli42 commented on #925
I managed to replicate the problem after switching to mutter window manager (3.30.2-9~deb10u1 amd64 on debian Buster).

[2020-05-13 09:28] uli42 commented on #925
Some more information:

If you look at the nxagent window with `xprop` when mutter is the WM you see this property:
[code]

<value> is exactly the value the window grows vertically.

I have looked at the code and it _seems_ that we get a ConfigureNotify event informing us about the new window size of the so-called root window and then run XResizeWindow() on the so-called default window. Which norm

[2020-05-15 09:19] keestux commented on #925
In a working situation (non-mutter), I get something like this
[code]

[2020-05-15 09:27] uli42 commented on #925
Yeah, and probably that WM als draws small borders around the window.
Which mutter does not. So everything is correct.

On Fri, May 15, 2020 at 11:19 AM Kees Bakker <notifications@github.com> wrote:

[2020-05-18 12:20] uli42 opened #926 "Crash in region.c"
Just had this crash:

[code]

[code]

[2020-05-21 14:23] uli42 commented on #925
Unfortunately the fix I have is still not covering all cases with mutter:

1. start a windowed session
2. press ctrl-alt-f (switch_all_screens) several times.
3. press ctrl-alt-shift-f (fullscreen) several times.

I see wrong window placements in 3. but not in 2. I addition I see the old wrong vertical window growing after the step 2 or step 3 has been executed.

[2020-05-27 12:34] uli42 commented on #926
Another crash today at the same location:
[code]

[2020-05-27 18:35] uli42 commented on #926
The code from dix/region.c I posted above used the `good()` macro which uses and assert on `RegionIsValid()`. But `RegionIsValid` will only be compiled if DEBUG mode. After preprocessing the resulting code is this:

[code]

So there's no check for pReg being NULL despite the original code looking like it had such a check...

[2020-05-27 18:40] uli42 commented on #926
No it's getting interesting! Clearly the calling function passes NULL for pReg. But the calling code explicitly checks for NULL and does NOT call `RegionDestroy()` then. The only possible explanation is that we are compiling without defining `NXAGENT_SERVER` here:

[code]

[2020-05-27 19:14] uli42 commented on #909
Oh, I had totally forgotten this. See #926 and #927 for a fix

[2020-05-27 19:14] #909 closed, assigned to uli42

[2020-05-27 23:05] uli42 opened #928 "Sleeptime inconsistent"
nxagent  option -sleep expects as value in milliseconds. In Image.c and in Options.h this value is treated as microseconds. All this got introduced in 6051dec4a. It should be revised to closer match the original behaviour.

[2020-05-28 13:40] uli42 commented on #910
In the irc chat someone mentioned that you actually CAN resize if you right click on the title bar, select "more actions/resize". Resizing then can be done using cursor keys. Afterwards resizing with the mouse also works.

Can anyone confirm?

[2020-05-28 13:47] aki-k commented on #910
@uli42 The resize trick doesn't work with Plasma 5.17.5 but troffasky@irc said it works on Plasma 5.18.5.

[2020-05-29 19:42] adriesse commented on #802
This is very valuable information.  It would be great to get it copied or linked in the X2Go user documentation.

But surely this many options cannot be really useful?  Would a selection guide be possible?

[2020-05-29 19:44] uli42 commented on #802
That's exactly the reason for this ticket. Once this is integrated into nx-libs you'll have it on your system when using x2go.

[2020-05-29 19:53] adriesse commented on #802
It looked like this was an suggestion having fallen on dead ears, so I wanted to provide encouragement.  But perhaps I should have recognized it as a reminder to self!

[2020-05-29 19:59] uli42 commented on #802
You re welcome to provide a patch ;-)

Regarding guidance: I use nx daily and the only thing I tune is the link
parameter. Discussions I had showed that testing all those options is too
much work for very little gain. For some workloads it might help.

Uli

On Fri, May 29, 2020 at 9:54 PM Anton Driesse <notifications@github.com>
wrote:

[2020-05-29 20:34] adriesse commented on #802
I should probably stick to things I know about in terms of patching!

My windows X2Go client gives no clue about the relationship between `connection speed` aka `link` and `compression` aka `pack`.  In fact, the terminology is only becoming clear to me just now.

And in the client I cannot _not_ provide a value for pack, so this is the meaning of `nopack`?  For some strange reason I had assumed `n

[2020-05-29 21:13] uli42 commented on #802
I am not sure. You can check that by configuring and starting the
session and then examine the options file on the server side
(~/.x2go/<sessionname>/options. In the same dir there's the
session,log where the x2goagent/nxagent shows the selected compression
for the session.

HTH

Uli

On Fri, May 29, 2020 at 10:34 PM Anton Driesse <notifications@github.com> wrote:

[2020-05-30 10:39] adriesse commented on #802
Ok, so I've selected `ADSL` and `nopack` in the GUI and `nopack` becomes `none`.

Based on your table above I should be getting `adaptive-7` which becomes either `16m-jpeg-7` or `16m-bitmap` depending on the content, but that doesn't really become apparent in the log.
[code]

[2020-05-30 10:41] uli42 commented on #802
Hmm, should add a description what all those numbers actually mean.

On Sat, May 30, 2020 at 12:39 PM Anton Driesse <notifications@github.com>
wrote: