[2015-02-16 10:10] sunweaver opened #2 "debian/coypright: Work on a DEP-5 compliant version of a copyright file suitable for Debian"
Work on a DEP-5 compliant version of a copyright file suitable for Debian.

This issue is thought as a reminder that the above has to be done meticulously before we can even think of re-starting the discussion on how appropritate NX is for Debian.

[2015-03-04 13:25] mikedep333 opened #5 "Should we continue using the term "NX"?"
If you look at debian/control, you will see package descriptions like:

Should we continue using the term "NX"? Or should we switch all references to "nx-libs"? Or perhaps replace both NX and nx-libs entirely with some other name like ["LBX2"](http://keithp.com/~keithp/talks/lbxpost/)?

[2015-03-18 16:03] sunweaver opened #6 "shadow sessions inside nxagent sessions fail"
We just tried to run cascaded sessions with one of them being a desktop sharing session:

 (a) from client (host-A) launch X2Go session to a remote server (server-B)
 (b) from X2Go session on server-B launch a remote desktop sharing session with :0 on remote
      host-C

Result: a black nxagent window appears (inside the X2Go Session on server-B) that accepts mouse and keyboard input (which both

[2015-03-18 16:06] sunweaver opened #7 "soft cursor for shared NX session"
(1) launch NX/X2Go session on remote machine
(2) share that remote session from another location (e.g. helpdesk center)

if the person running the shared session (helpdesk agent) moves the mouse pointer, the person running the native NX session cannot see those pointer movements.

Feature request: add a soft mouse pointer that presents mouse events of the desktop sharing agent.

[2015-04-05 18:47] sunweaver opened #9 "Remove xorgserver and xfree86server from code base"
20:46 < Ionic> yeah, but if xwinserver can be removed, maybe xorgserver or xfree86server can be removed too?

[2015-04-24 12:39] sunweaver commented on #9
fixed by commit a20e77b

[2015-04-24 12:39] #9 closed, assigned to nobody

[2015-05-12 04:09] #6 closed, assigned to nobody

[2015-05-15 14:45] sunweaver opened #24 "embed nxproxy / support embedding of nxproxy in a control window"
This would fix several issues reported against X2Go BTS:

Capturing special hotkeys and forwarding / not forwarding them to the remote session:
https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=838

Disable local screensaver if remote session goes into fullscreen mode (and enable that immediately once leaving it and the idle time has passed):
https://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=554

It a

[2015-05-16 04:16] opoplawski opened #27 "VERSION files/symlinks missing in release tarball"
gcc -o nxagent -g -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -m64 -mtune=generic -fno-strict-aliasing -ansi -Wall -Wpointer-arith -Wundef     -L../../exports/lib   hw/nxagent/miinitext.o                   hw/nxagent/NXwindow.o

[2015-05-16 12:49] sunweaver commented on #27
For better understanding of the reported issue, check [1].

[1] https://fedoraproject.org/wiki/UnderstandingDSOLinkChange

[2015-05-16 13:08] sunweaver commented on #27
I looked at the nx-X11/lib/X11 code more closely now. As far as I can see, the 'deflate' symbol does not get used in there directly.

The only places where deflate from zlib.h gets used are in nxcomp (Z.cpp, Transport.cpp) and nxcompext  (Z.c).

libNX_X11is linked against libXcomp.so.3 and libXcomp.so.3 is linked (as expected) against libz.so.1.

"""
[mike@minobo nx-libs (3.6.x)]$ ldd /usr/lib/x86

[2015-05-16 23:05] opoplawski commented on #27
libNX_X11.so is create as follows:

[code]

libXcomp.a is a static library containing the deflate symbol reference.  I think the .a essentially gets imported wholesale.

[2015-05-21 07:42] sunweaver opened #29 "CVE backports incomplete or wrong"
The below has been filed via X2Go BTS [1] by Ulrich Sibiller (@uli42)and should be fixed here (3.6.x branch) first before rebasing against 3.5.0.x.

"""
Recently a lot of CVE fixes have been added to nx-libs.

E.g.
debian/patches/1027-render-check-request-size-before-reading-it-CVE.full.patch
and
debian/patches/1028-render-unvalidated-lengths-in-Render-extn.-swap.full.patch
add missing checks to n

[2015-05-21 09:27] sunweaver opened #30 "NXCOMP (forked from DXPC) has been forked from non-DFSG code"
Recently, a serious license issue was raised and solved on the Debian bug tracker (thanks to Francesco Poli):
http://bugs.debian.org/784565

The issue has been settled by asking all recent maintainers (i.e., copyright holders) of DXPC, to agree on considering the BSD-2-clause license (as introduced in DXPC 3.8.1) retro-actively as the license of all pre-3.8.1 DXPC releases.

An excerpt of this dis

[2015-05-21 21:40] uli42 opened #32 "libNX_Xtst.so can be replaced by system lib"
There's no significant change against very old Xorg versions (compare nx-X11/lib/Xtst with http://cgit.freedesktop.org/xorg/lib/libXtst)

[2015-05-21 22:10] uli42 opened #33 "Remove libNX_Xext - use system's libXext"
There's no special NX code in there, the code is almost identical to the one of X.Org 7.0 (see http://cgit.freedesktop.org/xorg/lib/libXext/tree/src?id=XORG-7_0):

[code]

[2015-05-22 12:24] mikedep333 commented on #29
I've started looking into this.
- Deleting `nx-X11/programs/Xserver/render/render.c` does break the build in 3.6.x because `nx-X11/programs/Xserver/Imakefile` builds it. However, that might just be leftover logic in the Imakefile.
- I looked at several of the `nx-X11/programs/Xserver/hw/nxagent/NX*` files. They all appear to be derived from files elsewhere in the source tree. Several of them are d

[2015-05-22 12:37] mikedep333 commented on #29
Update: It looks like the NX\* files do depend on some of the files under `nx-X11/programs/Xserver/render/`, such as `animcur.c`.

[2015-05-23 13:09] mikedep333 commented on #29
I created branch pr/render-cleanup-and-cve-fixes for the cleanup and CVE fixes in the Render (XRender) code specifically. I have not submitted a PR yet.

[2015-05-26 02:39] mikedep333 commented on #29
I have identified what files under nx-X11/programs/Xserver/hw/nxagent/ are duplicates/derivatives of other files. I am keeping track of it in [this spreadsheet.](https://docs.google.com/spreadsheets/d/1fc_4lBKb9o9iwMmrRl8ua-Hf6iJXsNeJJsx0OYJbeb4/edit?usp=sharing)
I will probably work on the nx-X11/programs/Xserver/dix/ files next.

[2015-05-26 14:53] #30 closed, assigned to nobody

[2015-05-31 04:46] mikedep333 commented on #29
I believe that I have submitted all the necessary PRs for CVE fixes (#36, #45 & #46). I added a new column to the above-mentioned spreadsheet called "CVE Fix PR".

[2015-05-31 14:53] sunweaver commented on #27
Linking libXcomp.a statically into libNX_X11 is bogus, actually. As it is dynamically linked into nxagent, it should also be dynamically linked into libNX_X11 IMHO.

I will look into this next week.

[2015-05-31 14:56] sunweaver commented on #33
@uli42: I have been playing with libXtst already and dropping it did not work right away on the first attempt. Need to investigate again. I think it was related to lib(NX_)Xtst being heavily intertwined with lib(NX_)Xext.

[2015-05-31 14:56] sunweaver commented on #32
@uli42: I have been playing with libXtst already and dropping it did not work right away on the first attempt. Need to investigate again. I think it was related to lib(NX_)Xtst being heavily intertwined with lib(NX_)Xext.

[2015-05-31 15:14] sunweaver opened #47 "experiment with enabling XFree86-VidMode extension in nxagent"
For an initial discussion, see here [1].

[1] https://github.com/ArcticaProject/nx-libs/pull/46

[2015-05-31 15:16] sunweaver commented on #29
All PRs have been merged.

[2015-05-31 15:16] #29 closed, assigned to mikedep333

[2015-06-01 05:18] mikedep333 opened #48 "RandR still at version 1.2"
I have an Ubuntu 15.04 64-bit test VM where I built nx-libs 3.6.x from commit 4ed85e8 (2015-05-29), which is after PR #21 was merged.

However, RandR still appears to be at version 1.2.

[code]

Furthermore, LXQt (Using Qt 5.4.1) still fails to start / show up correctly. OpenBox starts, and the lxqt-panel process is running. However, immediately after connecting with X2Go Client and seeing the X2G

[2015-06-01 09:32] sunweaver commented on #48
Hi Mike#2,

I have just today started looking at upgrading the randr extenion in
nxagent to proto version 1.5.

The task is not trivial, but feasible. Other comments, see inline...

Mike

On  Mo 01 Jun 2015 07:18:52 CEST, Mike DePaulo wrote:

It is indeed.

Ok...

What's the above error? That should not happen.

Thanks for all of the above info. That will help reproducing the issue
and setting up

[2015-06-08 20:30] uli42 opened #49 "remove libXinerama from build"
I have stumbled over this commit: http://cgit.freedesktop.org/xorg/xserver/commit/?id=2c69deb92e11542f615df0f24fdc03e3b4415475

I think we should include that into 3.6.x to simplify the build process.

commit 2c69deb92e11542f615df0f24fdc03e3b4415475
Author: Rémi Cardona remi@gentoo.org
Date:   Fri Jul 3 10:51:50 2009 +0200

[code]

[2015-06-08 23:39] uli42 commented on #49
The following commit is doing the same for libXfont:

http://cgit.freedesktop.org/xorg/xserver/commit/dix/dixfonts.c?id=a00066d2916b6910429cc1c7feedafbaee0d4750

[2015-06-09 01:54] Ionic commented on #49
Commits in question: [libXinerama](http://cgit.freedesktop.org/xorg/lib/libXinerama/commit/?id=90d4d23bf2e94721149ddc0a80093b10a82e8845), [xineramaproto](http://cgit.freedesktop.org/xorg/proto/xineramaproto/commit/?id=21477147613c28c968b5e1eb9d8aea7017dd399d)

We should revisit this once the current cleanups PR's are through, thanks!

[2015-06-13 22:46] uli42 commented on #29
The spreadsheet contains some files with the comment "appears to be unique". While this is true looking at the nx tree only it is not true if you look at where nxagent orginates from. nxagent is an adapted xnest so these files can be found in hw/nxnest in the current Xorg tree. If there are any CVEs regarding xnest these should be backported to nxagent.

So I think this should be reopened.

[2015-06-13 23:03] mikedep333 commented on #29
@uli42 I identified a total of 39 files in that spreadsheet as having been derived from xnest. They have the "Original" file listed as a file under "hw/xnest/". I believe that every file that  "appears to be unique" was written by NoMachine. If I made a mistake, please point out the specific file(s).

Also, I reviewed every [X.org security advisory](http://www.x.org/wiki/Development/Security/) and

[2015-06-13 23:50] uli42 commented on #29
Sorry, my fault. I have not seen that xnest references are already
contained in the list. Should have looked closer...

On Sun, Jun 14, 2015 at 1:03 AM, Mike DePaulo notifications@github.com
wrote:

[2015-06-14 00:49] mikedep333 commented on #29
@uli42 No problem :)

[2015-06-19 19:01] sunweaver opened #51 "empty nx/nx options disables nxcomp backend"
Using an empty option string in the display variable, disables NX compression...

Not ok: nx/nx:50
Ok: nx/nx,foo=bar:50
Ok: nx/nx,options=<file>:50
Not ok: nx/nx,options=/dev/null:50

Spotted by https://github.com/salva and reported during X2Go Gathering 2015.

[2015-06-22 06:31] sunweaver commented on #32
I have played with removing libXtst (and libXext) during a train ride yesterday. I tried various approaches, but to no avail, yet.

[code]

The above build error is what I get with various scenarios*).

*) scenarios:
- Removing libXtst only
- Removing libXext and libXext
- Removing libXext
- Replacing several Xserver/Xext extension files
- adapting GC struct in Xserver/include/gcstruct.h
- ...

[2015-06-22 06:32] sunweaver commented on #33
See https://github.com/ArcticaProject/nx-libs/issues/32#issuecomment-114019947 for some infos on hurdles concerning this request.

[2015-06-22 13:05] woglinde commented on #32
Hi Mike,

seems xlib interferes here. And I think the GC for the xserver should not be taken from xlib. So we should look how we can drop the ../../../exports/include/X11/Xlib.h import.

[2015-06-22 13:26] woglinde commented on #32
Hm okay,

I investigate a bit more a diffed the shape.c file with upstream looks like we need to include X11/extensions/shapeproto.h instead of X11/extensions/shapestr.h

But I have no time to test it right now.

[2015-06-22 13:36] woglinde commented on #32
Sorry,

deleted the comments. But the soultions seems to easy: shape.c do not need include gcstruct.h, at least my compile test worked with removing it.

[2015-06-23 07:55] woglinde commented on #32
Hm in the end it was easier as I thought please see pull request #53.

[2015-06-23 10:42] sunweaver commented on #32
On  Di 23 Jun 2015 09:55:12 CEST, Henning Heinold wrote:

Providing a snippet from one of our discussions on IRC via Github (so
people here can follow what's going on):

[code]

##

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
fon: +49 (1520) 1976 148

GnuPG Key ID 0x25771B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

freeBusy:
https://mail.das-netzwerkteam.de/f

[2015-06-23 13:46] sunweaver opened #55 "anti-aliasing Xft.rgba set to "rgb" crashes on "big fonts""
Story: a customer of mine presented me an email that crashes nxagent on his setup. On my setup the crash of the nxagent Xserver could not be reproduced, but instead the email client (icedove) crashes reproducibly.

Digging deeper:
1. tests in a remote (NX) MATE session
   - icedove crashes when viewing the customers mail
2. local tests
   - icedove can view that specific mail
   - the mail (html f

[2015-06-23 14:15] #55 closed, assigned to nobody

[2015-06-25 03:53] sunweaver opened #59 "freeze due to anti-aliasing with big size fonts"
As a follow up for https://github.com/ArcticaProject/nx-libs/issues/55 ...

Another issue with anti-alliasing could be found. In certain situations, the complete nxagent freezes when it comes to displaying really huge fonts (font size: 1000).

This happens with grayscale antialiasing enabled.

[2015-06-28 05:29] mikedep333 opened #60 "Failed to restore all the required visuals. - Can't resume the NX session on this display."
As mention in [X2Go bug 891](http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=891) and [VcXsrv (X2Go/Arctica Builds) Issue 4](https://github.com/ArcticaProject/vcxsrv/issues/4), the following causes a session to fail to resume:
1. Start the nxagent session from a client (nxproxy) whose X server supports StaticColor Visual Types
(For example, VcXsrv 1.17.0.0-2 with `-multiwindow` as the only argument

[2015-07-13 22:57] sunweaver commented on #27
@orionp: I have looked into this once more. Question: Why do you think that libXcomp.a is used (and not libXcomp.so)?

[2015-07-13 23:00] orionp commented on #27
@sunweaver Hmm... I don't think you intended to tag me, since I've never looked at this project. Perhaps another Orion?

[2015-07-13 23:01] Ionic commented on #27
Sorry, he meant @opoplawski. You can unsubscribe if you want to.

[2015-07-13 23:02] orionp commented on #27
I suspected that was the case; no worries!

[2015-07-13 23:03] sunweaver commented on #27
Ouch!

@opoplawski: see above...

[2015-07-13 23:04] opoplawski commented on #27
Oh, that's funny.  I'm orionp on irc to make it more confusing.

[2015-07-13 23:14] Ionic commented on #27
I don't think `libXcomp` is statically linked into `libNX_X11`? At least I can see `libXcomp` being referenced as a dynamic library on my Gentoo and CentOS system.

[2015-07-13 23:15] sunweaver commented on #27
@Ionic: yes, same here...

[2015-07-14 01:31] opoplawski commented on #27
Okay, I think I've figured out the issue.  I was using:

./debian/roll-tarball.sh HEAD server

to build a tarball and then building the rpm from that.  In that tarball though I'm missing the VERSION files in the various nx dirs (nx-libs is my git checkout, nx-libs-HEAD the tarball contents):

./nx-libs/VERSION
./nx-libs/nxcompshad/VERSION
./nx-libs/nxcompext/VERSION
./nx-libs/nxcomp/VERSION
./nx-l

[2015-07-14 18:53] #27 closed, assigned to nobody

[2015-07-14 19:31] opoplawski commented on #27
Looks good, thanks.

[2015-07-14 19:33] opoplawski opened #63 "printver.c is gone but not forgotten"
I get:

[code]

printver.c does not appear to exist but is referenced in:
./nx-libs-arctica/nx-X11/Makefile:VERSSRC = $(CONFIGSRC)/util/printver.c
./nx-libs-arctica/debian/copyright.in: nx-X11/config/util/printver.c

[2015-08-28 13:58] mikedep333 commented on #5
@gznget @sunweaver @nitomartinez @Ionic

I propose `Xccc`:

X11 Cached, Compressed and short-Circuited

Here is a proposed site design:
http://mikedep333.github.io/Xccc/
And the code for it:
https://github.com/mikedep333/Xccc

I believe that we need to rename nx-libs quickly (but not necessarily on the 3.5.0.x branch.)
Further reasoning is in the proposed site design.

[2015-08-28 14:17] sunweaver commented on #5
How about Xc3? (Not that CCC is Chaos Computer Club in Germany/Europe, so there is a slight name clashing...).

[2015-08-28 14:23] mikedep333 commented on #5
I was wondering that myself. I thought that "CCC" sounded familiar.

Some other piece of software is already called ["XCC".](https://developer.marklogic.com/products/xcc) But by using "Xc3", we can put the project name in the binary names (Xc3proxy and Xc3agent).

[2015-08-28 18:50] Ionic commented on #5
I don't think a digit in the name is a great idea. Can easily be confused with a version number or other stuff.

I'd rather look for something like "NAX" (Network Accelerated X) or the like.

[2015-08-28 21:30] mikedep333 commented on #5
I tend to agree with @Ionic . It can also create confusion with "X11" or "X2Go", but nx-libs is not specific to X2Go.

I still think Xccc is best because it highlights the 3 things that nx-libs does, but VNC only does 1 of (compression.) But my 2nd favorite so far is NAX.

If only the acronym "WAX" (WAN Accelerated X) didn't have a bad connotation ([Wax](%28https://en.wikipedia.org/wiki/Wax%29) is

[2015-08-28 22:04] Ionic commented on #5
X11 actually is called X11 because it's the 11th protocol version. :)
(Although admittedly nowadays it's its own trademark.)

X2Go is "kind of okay" due to the the digit being surrounded by other letters.

WAX... there was also VAX, so...

I'm trying to come up with something involving "X", "accelerated" or "enhanced" and "network" (or similar), but haven't had a brilliant idea yet. Network enhanc

[2015-08-29 23:34] mikedep333 commented on #5
@Ionic, yeah.

I am going to look through dictionary files for either a name or inspiration. Not that I have given up on Xccc, but there may be a better name.

Also, do not forget this lesson on naming software (or games):
[The word Narbacular, which does not exist in any dictionary, was chosen primarily to aid in internet search engine results.](https://en.wikipedia.org/wiki/Narbacular_Drop)

[2015-08-30 13:32] sunweaver commented on #5
@mikedep333: Let's make sure that the new name is easily pronouncable and gives a fine melody when saying it. Xccc is a little tongue twister. Do we necessarily need to stay below 8 chars for the executables?

How about these, may: Xccc (nxagent), x3cproxy?

[2015-08-30 13:33] sunweaver commented on #5
actually, xc3proxy...

[2015-08-30 13:50] mikedep333 commented on #5
Hi @sunweaver,

It is true that Xccc is a bit long to say. However, I liked Xccc because it highlights the 3 things we do (Caching, Compression and short-Circuiting.) And "short-Circuting" (a term I **made up** for what we currently do to eliminate round-trips) is also a fine excuse for the executable having "Xcc" in the name.

Like I said, I intend to look through the dictionary files for more in

[2015-10-06 04:14] sunweaver commented on #59
When testing the same issue locally (no nxcomp in the middle), then applications crash instead of causing an nxagent freeze up.

Reproducers:

works:
´´´
$ pango-view --font="Terminus Bold" --markup --text "&lt;span size='1021049'>HALLO MIKE&lt;/span>"
$ pango-view --font="Terminus Bold" --markup --text "&lt;span size='1021050'>HALLO&lt;/span>"
$ pango-view --markup --text "&lt;span size='1021050'

[2015-10-06 04:15] sunweaver commented on #59
and of course... in a local X.Org or Xephyr session, those crashes don't occur...

[2015-10-06 04:19] sunweaver commented on #63
@opolawski: Thanks for notifying us on this. Will take a look during the next days...

[2015-10-07 15:46] #63 closed, assigned to nobody

[2015-12-28 23:20] woglinde commented on #32
Please have a look at https://github.com/woglinde/nx-libs/tree/xtst-cleanup.

It compiles now against XTest.h from the nx libs but will not be shipped, at least for debian.

[2015-12-29 18:19] #32 closed, assigned to woglinde

[2015-12-29 23:08] #49 closed, assigned to sunweaver

[2016-01-01 13:58] mikedep333 opened #67 "3.6.x FTBFS on Fedora 23"
I am trying to build 3.6.x (fa497ac) from source on Fedora 23 using the included spec file for Mock

http://pastebin.com/Ybg68bNQ

These seem like the 2 errors:

[code]

[code]

[2016-01-01 15:17] mikedep333 commented on #67
Reverting that change fixed the FTBFS, so I will commit and push it. There is still the Xinerama_nxagent.h issue though.

[2016-01-01 15:24] sunweaver commented on #67
Hold on. Don't revert such massive code changes. The issue got fixed via 12b4a0e.

[2016-01-01 15:28] sunweaver commented on #67
[code]

Also fixed (via 3ba3165).

[2016-01-01 15:30] mikedep333 commented on #67
My bad, I meant reverting that 1-line-deletion out of that entire commit. Technically that is not a revert. I will test this right now.

[2016-01-01 15:40] mikedep333 commented on #67
Thanks, but we still have 1 of the 2 underlying issues

[code]

Perhaps the path to the .h file needs to be specified somewhere?

[2016-01-01 15:46] sunweaver commented on #67
Are you sure, you already have the changes committed via 3ba3165 locally?

[2016-01-01 15:53] mikedep333 commented on #67
Yes, I even opened up my tarball within my SRPM to verify that.

Here is the build log. It looks like that entire directory is not being passed to gcc as an include directory.

http://pastebin.com/Fauk6kfF

[2016-01-01 16:13] mikedep333 commented on #67
Never mind, I forgot that mock appends to the build log rather than overwriting it. That's why I still saw that error, but it was another error that caused the build to fail.

[code]

[2016-01-01 16:41] mikedep333 commented on #67
1330c4125dbca0b3dd8503c7ed1801c76a287818 is also part of this larger effort to fix FTBFS on Fedora 23.

Right now it looks like the %build section of the rpmbuild is successful, but I need to update the %files section.

[2016-01-01 20:09] mikedep333 commented on #67
I finished fixing all the FTBFS issues on F23 with 7f5480dd730735efbfedfc6359ebf0b7ca6320bd 0428db4db092fc3ea63ddd1c8e0294679c119797 b7657cfba95057a20ec385e49214c90948b6af5b
I tested EPEL7 also.

[2016-01-01 20:09] #67 closed, assigned to nobody

[2016-01-02 05:37] mikedep333 opened #69 "NEdit Motif (vs LessTif) segfaults"
### Background:

NEdit is an ancient graphical text editor that many developers (like those I know personally) still swear by. It uses the Motif toolkit; Either regular Motif, or the no longer maintained LessTif. Note that the reason why LessTif is no longer maintained is because Motif 2.3.x is now actually open source. ("Open Motif" 2.2.x was not under a real open source license.)
### Bug

NEdit

[2016-01-02 05:39] mikedep333 commented on #69
This issue is present under 3.5.0.32 also.

[2016-01-02 06:03] sunweaver commented on #69
OT and LoL, quoting from apt-cache show nedit on Debian: Because of its mature age, NEdit does not support UTF-8 text files, nor will that be implemented.

[2016-01-02 06:24] sunweaver commented on #69
I just tested this on Debian unstable (2016.01.02). NEdit in Debian unstable has been built against libXm.so (which seems to stem from LessTif. No crashes observed.

[2016-01-02 06:26] sunweaver commented on #69
Removing "unconfirmed" tag again, because I could not read. You said it happens with Motif, not with LessTif. This cannot easily be tested on Debian with pre-built binaries from the distro.

[2016-01-02 06:38] mikedep333 commented on #69
@sunweaver Actually, NEdit is built against motif, not LessTif, as of Jessie.
https://packages.debian.org/sid/libxm4
LessTif no longer even exists in Jessie. More details here:
https://answers.launchpad.net/ubuntu/+source/lesstif2/+question/239338

[2016-01-02 08:40] sunweaver commented on #69
Well then... Then I cannot confirm this issue being present in nx-libs built against Debian unstable. Setting the "unconfirmed" label again.

[2016-01-02 08:41] sunweaver commented on #69
It would be good to have a gdb backtrace to narrow down the issue.

[2016-01-02 08:41] sunweaver commented on #69
gdb backtrace of NEdit, of course (as that's where the segfault is).

[2016-01-02 08:43] sunweaver commented on #69
While doing the GDB session run, it would be good to spy on X11 events at the same time.

http://unix.stackexchange.com/questions/41463/how-can-i-spy-on-x-client-messages

(using xtrace and/or xev).

[2016-01-02 08:46] sunweaver commented on #48
This becomes more and more important as now the MATE upstream folks (for MATE 1.12) presume that the Xserver supports RandR proto version 1.3 at least.

[2016-01-02 15:27] mikedep333 commented on #69
Thanks. I will try those out when I have more time to spend on this bug.

[2016-01-02 15:55] mikedep333 commented on #48
Hi @sunweaver ,
- I no longer have access to the test VM.
- I wouldn't worry about

[code]
- If need be, I can setup a new test VM for Ubuntu 15.04 through 16.04.
- This (MATE 1.12 incompatibility) is a huge problem in the Fedora world. MATE 1.12.1 is in EPEL7 testing right now. It's already been pushed to Fedora 22 and 23 as a stable release update.
- I will test EPEL7 (and Fedora 23) with MATE 1

[2016-01-02 16:27] mikedep333 commented on #48
@sunweaver I tested both distros: MATE 1.12 started fine. I didn't test MATE very thoroughly, but mate-session, mate-panel and marco are obviously working.

http://imgur.com/a/WX2m6

[2016-01-02 17:43] sunweaver commented on #48
Hi Michael,

On  Sa 02 Jan 2016 17:27:23 CET, Mike DePaulo wrote:

The libxrandr >= 1.3 deps I spotted were in mate-power-manager and
mate-screensaver.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
fon: +49 (1520) 1976 148

GnuPG Key ID 0x25771B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

freeBusy:
https://mail.das-netzwerkteam.de/mailxchange/kronolith

[2016-01-19 03:21] mikedep333 opened #70 "Missing RPM upgrade logic for libNX_*"
I just followed my instructions from #68, and here is what I now have installed:

[code]

I think I need to add [RPM Obsoletes logic](https://fedoraproject.org/wiki/Upgrade_paths_%E2%80%94_renaming_or_splitting_packages#.28n:1.29_Many-to-one_replacement) to the spec file.

[2016-01-19 09:03] sunweaver commented on #70
Hi Michael,

On Tue Jan 19 04:21:59 2016 GMT+0100, Mike DePaulo wrote:

Please provide feedback if you have different info.

## Mike

Sent from my Jolla

[2016-01-19 12:04] Ionic commented on #70
At least OpenSuSE developers frown upon dummy packages as used in Debian. Instead, the preferred way is to leave the packages intact (but not update them) and rebuild the other packages to not link against and depend on them anymore + remove the package. This will make these packages orphans, which can be removed through various methods during dist-upgrades (I think zypper does this automatically,

[2016-01-19 13:44] mikedep333 commented on #70
Hi guys, I think your advice does not apply to this case. The reason is that some libraries have to be installed explicitly. They are never pulled in by nxagent.

So the "Obsoletes" logic, which does avoid dummy packages, would solve this problem and meet the OpenSuSE guidelines.

[2016-01-19 14:21] sunweaver commented on #70
Hi Mike,

On  Di 19 Jan 2016 14:44:45 CET, Mike DePaulo wrote:

Ah, I see what you mean.

In Debian, there can be two approaches for this (nowadays):

(1) Hard-code dependencies of the very same version between nxagent
and libnx-\* packages.

(2) Use debian/libnx-*.symbols files (which declare explicit
dependencies on minimum required versions of shared library)

In the RPM world, I have no clue,

[2016-01-19 23:00] mikedep333 commented on #70
Hi @sunweaver I don't think I explained the situation properly. We got rid of many library packages in 3.6.x. Because we got rid of them, they should be removed at upgrade time. A perfect example being `libNX_Xcomposite`.

[2016-01-20 04:17] sunweaver commented on #70
On  Mi 20 Jan 2016 00:00:10 CET, Mike DePaulo wrote:

As already said, at least in the SUSE world, this is handled at
dist-upgrade time.

@opolawski: Could you take some time and look at the issue that
mikedep333, Ionic and I are currently discussing regarding nx-libs
Xclient library removal? If you need any extra explanation, please
ping me/us. But the previous post on this issue report document

[2016-01-20 04:18] sunweaver commented on #70
@opoplawski: Could you take some time and look at the issue that mikedep333, Ionic and I are currently discussing regarding nx-libs Xclient library removal? If you need any extra explanation, please ping me/us. But the previous post on this issue report document well enough, what we are currently disagreeing on (mostly because of half knowledge on my side, I fear). So, your expertise on the Fedora

[2016-01-20 08:33] nitomartinez commented on #5
My two cents:

NXC -> New X11 Channel Protocol

Pros:
- It maintains the current NX name showing some history behind it
- It uses the C which you seem to like.

[2016-01-20 09:07] nitomartinez opened #72 "Revise network settings for ADSL and LAN settin"
The settings in nxcomp are setup for:
- ADSL. 256kbps. Current standard is at least 1Mbps (lowest end throughout the world), and usually more than 3Mbps
- LAN. 10/100 Mbps. Usually nowadays it is used 1Gbps

Items to solve:
- Update the current speed settings.
- This probably needs to have the same changes in the server and in the client. That is a change in the settings in the client, needs to ha

[2016-01-20 09:15] nitomartinez opened #73 "Review reconnection policies"
Review if the reconnection policy can be enhanced to support reconnection with:
- Different depths (migration between 32 bpp and 24 bpp seems to be possible)
- Different rendering versions....

See https://www.nomachine.com/AR03C00166

[2016-01-20 14:03] opoplawski commented on #70
All rpms must handle removal of no-longer existing package via Obsoletes.  The mixture of versions that you end up with above is also an indication that the sub-packages are probably also missing a dependency on the explicit version of the base package, e.g.

[code]

[2016-01-20 14:57] mikedep333 commented on #70
@opoplawski Thanks, I will submit a PR for both the Obsoletes and the explicit version dependencies.

[2016-01-21 11:13] sunweaver opened #74 "segfault in libXcomp when accessing OPSI's configed Java Application (running as Java Plugin)"
Jan 21 11:48:03 tjener kernel: [91649.121408] x2goagent[19500]: segfault at 741c000 ip 00007fb26ab501e0 sp 00007ffe87978e48 error 4 in libXcomp.so.3.5.99.0[7fb26aafa000+e8000]

Using Oracle-Java8 Version 8.72 inside Iceweasel ESR 38.5.0.

[2016-01-22 14:26] nitomartinez commented on #72
Positive tests have been made by using type=ADSL and increasing bandwidth limit to 10m via NX option limit.

Example:

limit=10m

[code]

[2016-02-20 20:40] sunweaver opened #75 "Consider BPG as bitmap compression engine in NX"
Importing from X2Go BTS...
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=707

Hi all,

By Savko Sergey I have just been pointed to the upcoming BPG image
compression library [1].

Quoting their website:

"""
BPG (Better Portable Graphics) is a new image format. Its purpose is
to replace the JPEG image format when quality or file size is an
issue. Its main advantages are:

[code]

similar quality.

[2016-02-20 20:43] sunweaver commented on #75
Quoting Lee from x2go-dev

[2016-02-20 21:13] sunweaver opened #76 "GLX extensions > v6 required for Cinnamon"
Implement GLX extension support for GLX version >= v6.

For more info see:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=150

[2016-02-20 21:21] sunweaver opened #77 "Wrong window captions in remote applications"
Package: nxagent
Severity: minor
Version: 3.5.0.27
X-Debbugs-Cc: Gabor Boros gaborboros@yahoo.com

Hi Gabor,

On  Mo 03 Nov 2014 14:50:11 CET, Gabor Boros wrote:

I'd say let's consider it a bug... Filing one.

I'd appreciate if you could provide a (blurred, if needed) screenshot to

  661@bugs.x2go.org

Thanks!
Mike

The screenshot is available at:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?msg=1

[2016-02-20 22:27] sunweaver opened #78 "QA: Two screens, wrong screen used for limits of positioning context menus"
With the new RRXinerama code, we should check, if this X2Go issue has been solved.
Submitted here: http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=417

This bug concerns the placement of context menus in a two screen setup.
On my client I have two screens. One in landscape mode from 0,0 to
1920,1080 and to its right a second screen in portrait mode, from 1920,0
to 3120,1600. I run an x2go session,

[2016-02-20 22:37] sunweaver opened #79 "Color issue with some programs"
Submitted against X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=262

Hello,

We are trying to move from NX to X2Go.

One of our tools is called Questa Sim (EDA tool from Mentor Graphics).

When we used to run it from NX, no issues.

When we use it with X2Go, we have color issues:

·         What was white or yellow text on a black background, now shows as
… black text on a black backgro

[2016-02-22 15:46] sunweaver opened #80 "Xlib: extension "MIT-SCREEN-SAVER" missing on display [Debian Jessie/KDE4]"
Reported via X2Go BTS:

Package: x2goagent
Version: 2:3.5.0.32-0x2go1+git20150704.734+jessie.main.1

Operating System: Debian Jessie 8.2
Kernel: #1 SMP Debian 3.16.7-ckt11-1+deb8u6 (2015-11-09)
Desktop Environment: KDE4

The KDE Screen Locker does not launch automatically
when my session is controlled by x2goagent.  I am able
to lock the screen manually using "Lock" within the
KDE Menu and I can a

[2016-02-22 16:50] uli42 commented on #80
IIRC the nomachine changelog contains hints why the SCREENSAVER extension had been deaktivated.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎22.‎02.‎2016 16:46
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Betreff: [nx-libs] Xlib: extension "MIT-SCREEN-SAVER" missing on display[Debian Jessie/KDE4](#80)

Reported vi

[2016-02-23 14:17] sunweaver opened #81 "nxagent segfaults in LibNX_X11.so when disconnecting"
From X2Go BTS:

Package:  x2goagent
Version:   3.5.0.31-1.el6

When I disconnected from a windows client, I lost my session.  This is the
result in the server at the time of the disconnect.  It does not happen
every time, just some times when I disconnect.  I can re-connect fine with a
new session, but the running session is lost.

Sep  2 00:34:36 tyler kernel: x2goagent[28724]: segfault at 7fff43

[2016-02-23 14:17] sunweaver commented on #81
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=938

[2016-02-23 14:23] sunweaver opened #82 "Gedit, gnome-terminal and others crash in rootless mode"
From X2Go BTS (with patch there):
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=900

Package: libnx-X11

Version: 2.3.5

Setup:
1. x2goserver in a debian testing machine.
2. x2goclient in a windows machine.
3. Create a session with a virtual desktop.
4. Run gedit in the session created in 3.
5. Create a session in windows launching only xterm.
6. Run gedit from the console created in 5.
7. Create

[2016-02-23 14:29] sunweaver commented on #82
Hi Camilo,

On  Do 02 Jul 2015 08:21:22 CEST, Camilo Alejandro Arboleda wrote:

Your bug report has just been moved [1] to the new upstream location of nx-libs on Github.

Is it really a malformed request or a problem with broken BIG-REQUESTS support [2] in libXcomp3 (aka nxcomp)?

Is option 3. really the optimal approach? It feels like option 2. would be the way to go here...

Please continue, if

[2016-02-23 14:33] sunweaver opened #83 "Weird colors and image issues on ppc64le Ubuntu 14.04"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=898

Package: nx-libs
Version: 3.5.0.29

After building and installing X2Go packages on Ubuntu 14.04 ppc64le some months
ago, I experienced the following strange behavior(s):
- image colors were distorted sometimes (but sometimes not) - instead of
  brown, pink was shown
- images (PNG? SVG?) didn't load or show correctly. Colors were wa

[2016-02-23 23:08] opoplawski commented on #81
You may be able to get abrt to recognize the key for nxagent by reinstalling it:

yum reinstall nxagent

assuming it is actually a signed package.  Not sure where  it's coming from as 3.5.0.32-3.el6 is what is current from EPEL.  If not signed, there should be a config somewhere in /etc/abrt\* to tell it to keep coredumps from unsigned packages.

[2016-02-24 13:58] sunweaver opened #84 "nxagent fails to run with "Could not open default font 'fixed'""
From X2Go Bug #884:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=884

On  Fr 04 Sep 2015 04:06:55 CEST, devsk wrote:

Thanks for explaining the above. However, I think that we should get
this issue also solved upstream as most systems work on UTF-8 basis
and the more local encodings are rather historical than
current-state-of-the-art.

Let's leave this bug open and address it for 3.6.x of nx-lib

[2016-02-24 14:04] sunweaver commented on #82
Also related: X2Go Bug 878:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=878

Package: nx-libs
Version: 3.5.0.31
Severity: normal

Server OS: Fedora 22 64-bit with latest updates (F22 is still in beta,
but will be released any day now)
x2goserver 4.0.1.19-3.fc22 (Fedora's package)
x2goserver-xsession 4.0.1.19-3.fc22 (Fedora's package)
nxagent 3.5.0.31-1.fc22 (Fedora's package)
x2goagent 3.5.0.31

[2016-02-24 14:10] sunweaver opened #85 "[abrt] nxagent: GetULONG(): nxagent killed by SIGSEGV"
Package: nx-libs
Version: 3.5.0.29
#0  GetULONG (buffer=buffer@entry=0x31ff000 <error: Cannot access memory at

address 0x31ff000>, bigEndian=0) at Misc.cpp:518
518     return *((unsigned int *) buffer);

Thread 1 (Thread 0x7fae35376740 (LWP 4320)):
#0  GetULONG (buffer=buffer@entry=0x31ff000 <error: Cannot access memory at

address 0x31ff000>, bigEndian=0) at Misc.cpp:518
        next = <optimize

[2016-02-24 14:12] sunweaver opened #86 "No Mouse Pointer in a Fullscreen Shadow Session on MS Windows"
package: nxagent

While it is to be expected that you can't see the mouse pointer of the
user you're trying to assist, not seeing your own mouse pointer is
really quite annoying.

This only happens in fullscreen mode and on MS Windows.

[2016-02-24 14:15] sunweaver opened #87 "Running a Windowed Shadow Session doesn't Work on MS Windows"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=848

package: nxagent

When trying to run a shadowed session in windowed mode on a MS Windows
client, vcxsrv.exe dies almost immediately after displaying the remote
screen for the fraction of a second.

[2016-02-24 14:16] sunweaver commented on #86
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=849

[2016-02-24 14:17] sunweaver opened #88 "Cleanly Terminating a Fullscreen Shadow Session Locally doesn't Work on MS Windows"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=847

package: nxagent

When trying to terminate a shadow session running in fullscreen mode
on a MS Windows client, Alt-Tab gets passed to MS Windows, so one can
reach the X2GoClient control buttons (folder sharing, pause,
terminate), but clicking pause or terminate doesn't do anything. Only
the "X Button" (upper right corner of the win

[2016-02-24 14:19] sunweaver opened #89 "Terminating a Fullscreen Shadow Session on Linux is Clumsy"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=846
package: nxagent

Currently, there doesn't seem to be a way to cleanly terminate a
shadow session running in fullscreen mode.

Ctrl-Alt-T doesn't work, Alt-Tab gets sent to the remote end, so one
can only run x2goterminatesession on the remote end or kill the
x2goclient task on the local side.

[2016-02-24 14:36] sunweaver opened #90 "Make it possible to capture control-alt-arrow keys"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=838

Package: x2goagent

I am using Ubuntu 14.10 with Mate Desktop with multiple work spaces.
If I use Remmina with NX plugin, the control-alt-right/left arrow keys
work to switch work spaces even when I'm up on a remote desktop.

With X2Go, it usually doesn't work, except if I use control-alt-M to
minimize the session then restore it,

[2016-02-24 14:40] sunweaver opened #91 "Screen resize triggers session suspension"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=829

Package: nx-x11-common
Version: 3.5.0.32-0x2go1~git20150317.672+jessie.heuler.1

Reproducable with every client and server so far from stable and heuler.
Only affects full sessions - users are not affected if running directly
an APPLICATION.

Pressing CTRL+ALT+R triggers error message in session.log of user,
resizes the screen but

[2016-02-24 14:40] sunweaver commented on #91
As Ionic stated in IRC adding -nopersistent to x2goagent.options stops
the shortkey ctrl+alt+r from suspending the session after switching the
resize-mode

But by adding this option i am no longer able to suspend my session even
with the 'x2gosuspend-session'-command

[2016-02-24 14:42] sunweaver opened #92 "[abrt] nxagent: nxagentDispatchEvents(): nxagent killed by SIGSEGV"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=791

Package: nx-libs
Version: 3.5.0.28

Events.c:1251 is:

x.u.u.detail = inputInfo.pointer -> button ->
map[nxagentReversePointerMap[X.xbutton.button - 1]];

X.xbutton.button = 0 :

 X = {type = 4, xany = {type = 4, serial = 0, send_event = 0, display =
0x159ba50, window = 0}, xkey = {type = 4, serial = 0, send_event = 0, display
= 0x

[2016-02-28 19:09] sebastiendu opened #94 "Remote Icedove kills X2Go client on MacOSX and Windows"
To reproduce : Debian 7 or 8 as X2Go server, MacOSX or Windows as client.

Open an XFCE session, all works fine until you start Icedove. It kills the X2Go client.

Debian and Ubuntu versions of X2Go client are not affected.

No other application caused this bug as far as I know.

[2016-02-28 19:49] uli42 commented on #94
On Sun, Feb 28, 2016 at 8:09 PM, Sébastien notifications@github.com wrote:

Does this also happen when you run Icedove like this:

  export MOZ_DISABLE_IMAGE_OPTIMIZE=1
  icedove

(see also: http://multivax.blogspot.de/2010/08/firefox-memory-management-nightmare.html)

Uli

[2016-02-29 04:49] sunweaver commented on #72
@nitomartinez: Thanks for testing this. Are you planning to come up with a concrete patch for changing this? Or shall someone else handle this enhancement request?

[2016-02-29 04:51] sunweaver commented on #94
@sebastiendu: Can you please grab the 3.6.x branch of nx-libs, build it on your X2Go Server and replace the 3.5.x version of nx-libs from X2Go with the packages derived from the 3.6.x source tree?

You can also obtain pre-built binaries of 3.6.x nx-libs packages as described here:
https://sunweavers.net/blog/node/20

[2016-02-29 06:22] nitomartinez commented on #72
Hi Mike,

I am currently working on something else, and the workaround is working for me  :-P

If you can get someone else on this, it would be great, if not I pick it up later on.

[2016-02-29 08:38] uli42 commented on #72
How do you define if a setting is "better" than another setting?

I think for compatibility these settings should stay as they are. People relying on them might stumble over that change. Why not introduce adsl1M and lan1Gb or similar?

Best solution would be a mechanism that auto-adjusts according to the current line properties.

[2016-02-29 09:15] sunweaver opened #95 "Disable local screensaver when x2go session is in fullscreen mode"
From X2Go BTS:
http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=554

Package: nxproxy
Severity: serious

I noticed that the when nxproxy is in fullscreen mode, it (by design)
captures all keyboard strokes. This is in general great because this
way all keyboard shortcuts on the remote work.

However, the local screen saver might still kick in and require a
password. Because the nxproxy captures all i

[2016-02-29 14:03] nitomartinez commented on #72
Agreed that auto adjustment would be nice.

Just raised the point of something to review.

Adding to your point, latency is the other factor which is different between the ADSL and LAN settings (well right now in the 3.5.x series)

[2016-03-02 08:30] nitomartinez opened #96 "Problem checking out repository in Windows / Cygwin environment"
Currently in this repo cannot be checked out in a windows environment.

Error:

[code]

[2016-03-02 08:32] salva commented on #96
Windows doesn't like colons (`:`) in file names.

[2016-03-02 08:33] #96 closed, assigned to nobody

[2016-03-02 11:33] sunweaver opened #97 "Synchronize capslock in nxagent"
Something similar would make sense for nxagent, I guess..

[code]

[2016-03-02 11:34] sunweaver commented on #97
requires a follow up commit:

[code]

[2016-03-02 11:44] sunweaver opened #98 "Add support to nxproxy for reading from stdin"
Add patch for nxproxy to read from stdin, allows nxcl to use standard ssh instead of nxssh
(Portage version: 2.2_rc8/cvs/Linux 2.6.26-gentoo x86_64).

From:
https://sources.gentoo.org/cgi-bin/viewvc.cgi/gentoo-x86/net-misc/nx/files/nx-3.2.0-nxproxy_read_from_stdin.patch?diff_format=s&view=markup

[code]

[2016-03-02 11:49] sunweaver opened #99 "use AR/RANLIB in nxcomp, reconsider C/CXX flag settings"
Investigate patch from
https://sources.gentoo.org/cgi-bin/viewvc.cgi/gentoo-x86/net-misc/nx/files/nx-3.5.0.17-cflags_ar_ranlib.patch?diff_format=s&view=markup

[code]

[2016-03-02 11:54] sunweaver opened #100 "FTBFS against libpng 1.6"
@mbecroft just encoutered the below FTBFS...

[code]

Presumably some libpng 1.5 -> 1.6 issue (as I build against libpng 1.5.7 whereas mbecroft builds against 1.6 on Gentoo).

[2016-03-02 11:58] sunweaver commented on #100
From http://www.libpng.org/pub/png/libpng.html (20160302):

[code]

[2016-03-02 12:43] mbecroft commented on #100
Already fixed in 3.6.x branch. Closing. Resolved by 79f218b563f6a4d3b17e92ee85ad242575daf8da

[2016-03-02 13:05] #100 closed, assigned to nobody

[2016-03-11 06:54] sebastiendu commented on #94
I installed the pre-built binaries of 3.6.x nx-libs packages on our server.
It fixed the issue on MacOSX at least. I am waiting for more feedback from users.

[2016-03-15 14:21] sunweaver commented on #95
I just found that the screensaver gets disabled when nxagent is launched in fullscreen mode:
https://github.com/ArcticaProject/nx-libs/blob/3.6.x/nx-X11/programs/Xserver/hw/nxagent/Screen.c#L1442

However, it may well be that this actually fails.

Furthermore, it is well possible, that the re-enable/re-disable mechanism is not working / not implemented, but should be.

[2016-03-15 15:34] sunweaver opened #101 "Reduce Xserver/hw/nxagent compiler warnings"
When working with the nxagent code, the manifold compiler warnings are sort of disturbing and should be reduced to zero:

[code]

[2016-03-16 07:39] sunweaver commented on #101
[code]

-> These cannot be avoided, as we cannot easily silence the Pointer to Bool cast here. A type check would help, but is not available in C.

[2016-03-16 08:09] uli42 commented on #101
Maybe use the dummy function suggested here:

http://stackoverflow.com/questions/27048171/disable-warning-the-address-of-x-will-always-evaluate-as-true

[2016-03-16 09:22] uli42 commented on #101
See the official xorg  fix for this:

commit c7536f4b87e089a7e7c43026b189922fec70c565
Author: Kristian Høgsberg krh@redhat.com
Date:   Tue Mar 11 13:11:04 2008 -0400

[code]

diff --git a/include/regionstr.h b/include/regionstr.h
index f44cab7..5a79b12 100644
--- a/include/regionstr.h
+++ b/include/regionstr.h
@@ -158,7 +158,7 @@ extern RegDataRec miBrokenData;

 #define REGION_INIT(_pScreen, _pRe

[2016-03-16 09:35] sunweaver commented on #101
Yeah, seen that, tried it out. Does not work. With gcc-4.9.

The real solution is the conversion of the REGION_\* macros into proper function calls done by Keith Packard. I am hesitating of applying this immense patch for nx-libs 3.6.x, just for the sake of silencing the compiler.

[2016-03-20 16:34] yatsek commented on #75
Hi there.

I'm one of interested users of x2go (which I love! - thank you for this work!) which I would like to test with BPG or some other libs. Is there a way to maybe standardize (within x2go) compression libs and allow users choose on their own?

I'm willing to participate/help btw. Just point me to some directions how in DIY way it could be achieved and I'm wiling to check/test/script it and

[2016-03-22 06:29] camiloaa commented on #82
Hi Mike,

I haven't look deeper into the problem, since I am not really expert (or even knowledgeable) in X. The first patch was a quick fix as it seemed to me that NXlib doesn't support big requests, and it has worked for me so far.

I am sorry to not being able to help to come up with a better solution, but I don't have the knowledge to do it. I can help with testing and debugging if you have an

[2016-03-22 18:49] sunweaver opened #103 "amend compiler warnings in nxcomp"
The below warnings should all be silenced in nxcomp:

[code]

[2016-03-22 18:55] sunweaver opened #104 "nxcompext: warning: function declaration isn’t a prototype [-Wstrict-prototypes]"
in nxcompext we get various of these issues (on every C file being compiled):

[code]

[2016-03-22 19:05] #104 closed, assigned to sunweaver

[2016-03-22 20:20] woglinde opened #105 "xfree vs. free"
We want to follow the developemt of Xorg to close the gap with the nxlibs.

A huge step is to change all xfree() calls to free().

[2016-03-23 16:03] sunweaver commented on #97
I am not fully sure, if the above patches are needed for nxagent. With some quick tests, it seems that CAPS lock is kept in sync between local X and nested X session.

However, we have an with the NUMLOCK key, which may be similar here (needs to be verified): with NUMLOCK, some session managers manipulate the NUMLOCK state (e.g. MATE's session manager). In the remote session NUMLOCK is then enable

[2016-03-28 08:42] salva commented on #103
@sunweaver: could you add @fcarvajaldev (Fernando) to the project so that we can assign him this task?

[2016-03-28 15:51] sunweaver commented on #103
@salva, @fcarvajaldev: Fernando has been invited.

[2016-03-29 19:23] stefanbaur opened #107 "running evince crashes X2Go session when host is a 64-bit VMware/KVM virtual machine guest"
Hi,

I have two X2Go hosts running in virtual machines, one is 64-bit, one is 32-bit.

Both are running Debian Jessie.

Here's the output of dpkg -l | grep x2go on the 64-bit host:

ii  libnx-x11-6:amd64
2:3.5.0.32-0x2go1+git20160126.734+jessie.main.1 amd64        nx-X11
client-side library
ii  libnx-xcomposite1:amd64
2:3.5.0.32-0x2go1+git20160126.734+jessie.main.1 amd64        nx-X11
Composite ex

[2016-03-30 09:16] fcarvajaldev opened #108 "Review nxcomp to drop all compatibility code for versions prior to 3.5.x"
For clean-up purposes all compatibility code for nxcomp < 3.5.x should be dropped. Anyone who is still using nxcomp 3.4 and earlier, should really stop using that code and upgrade.

At this moment nxcomp has compatibility code for versions up to 1.5.0 (protocol step 6) and there are many blocks of conditional code depending on the protocol step value.

Setting a new compatibility limit at 3.5.x ve

[2016-03-30 12:37] sunweaver commented on #108
Thanks for looking into this.

One question: would it make sense to keep the step 10 condition checking (even if always resulting as true) as documentation of history? If the code becomes much more readable when dropping the if clauses, forget my question.

Another reason for keeping the conditionals could be future work on the protocol. If we know where we checked for conditions earlier, we maybe

[2016-03-31 11:33] fcarvajaldev commented on #108
Both reasons seem reasonable but I see some drawbacks in keeping the conditionals.

The main problem is that keeping the conditionals (even if always resulting as true) would also require to keep the corresponding else branches just as they are right now, or at least with an error handling procedure to manage the case of working with an older protocol version (despite this should not really happen

[2016-03-31 11:36] sunweaver commented on #108
Ack. Please go ahead with what you proposed. The above code example look fine. Than you!!!

[2016-03-31 12:11] uli42 commented on #108
On Thu, Mar 31, 2016 at 1:33 PM, fcarvajaldev notifications@github.com wrote:

How about putting the whole code block into a function/method and just
call it here? This way you could have both: readable code and
compatibility.

Since development targets Linux in the first place it might become (or
already is?) difficult to compile for old platforms. So if you have
some legacy systems that cannot b

[2016-03-31 13:36] salva commented on #108
@uli42: our aim is to simplify and improve the nxcomp code in order to get it to a state where we could be comfortable adding new features.

As a first step we are looking for code branches that depend on old protocol versions (that we assume nobody really uses anymore) and removing them. But then, we have found that there is going to be a cascade effect that would allow us to remove even more dea

[2016-03-31 19:07] nitomartinez commented on #108
My 2 cents:
- Remove it
- Put a comment and referencing this issue, so we can find what it was before if needed

Second alternative
- Create a README.protocol-compatibility.txt with the same info

[2016-04-06 22:44] sunweaver opened #110 "Don't overlink nxagent"
[code]

[2016-04-13 08:28] sunweaver commented on #108
@uli42: I am about to merge the PR referenced above (https://github.com/ArcticaProject/nx-libs/pull/111). I understand your concerns regarding old platforms.

Do we agree that keeping 3.5.x proto compatibility for as long as possible / sensible will suffice your needs? What we are planning to drop here is proto support for nxcomp based builds << 3.5.0.

Greets,
Mike

[2016-04-13 09:46] uli42 commented on #108
On Wed, Apr 13, 2016 at 10:28 AM, Mike Gabriel notifications@github.com wrote:

It is not really a need. But generally I do not like throwing out
stuff that works. Might be useful one day.

But I am in no way blocking. Do whatever is best for the project. I
just wanted to speak out my concerns.

Uli

[2016-04-20 13:37] sunweaver opened #112 "nxcomp/Version.c: Wrong license (GPL-3+ -> GPL-2)"
In Version.c, I see this license header hinting at GPL-3+.

[code]

As the rest of the nxcomp code is licensed GPL-2 (not +), the Version.c file has to be licensed as GPL-2, as well.

@salva: Can you please fix this with your Qindel developer hat on? Thanks

[2016-04-20 14:16] #112 closed, assigned to nobody

[2016-04-20 14:22] sunweaver commented on #108
Closed by 03b65211260ff757b35a367f8936fd5e882ce56c.

[2016-04-20 14:22] #108 closed, assigned to fcarvajaldev

[2016-04-22 18:51] sunweaver opened #115 "nx-X11/config/cf/lnxLib.tmpl requires post-library removal cleanup"
[code]

Removed: SharedXtstReqs, SharedGLReqs (not used), SharedXineramaReqs, SharedXfixesReqs, SharedXdamageReqs and SharedXcompositeReqs.

[2016-04-24 08:58] sunweaver opened #116 "Drop XTrap extension from nx-X11 Xserver (like also done in X.org)"
Suggested by @uli42:

[code]

[2016-04-25 10:54] HolySephi opened #117 "Not able to disable Xinerama"
While debugging another issue we encountered the problem that we were unable to turn off the new xinerama feature. Neither "-xinerama" nor "-extension XINERAMA" disables Xinerama.

Steps to reproduce:

`/usr/bin/nxagent -extension XINERAMA :1`

In any combination you are trying you get the same message from the new xinerama-Code:

[code]

[2016-04-25 11:03] HolySephi opened #118 "nxagent segfaults on session resume"
Our environment:
- Ubuntu 14.04
- X2Go from PPA/X2Go
- Arctica from `deb http://packages.arctica-project.org/ubuntu-nightly trusty main`

nxagent segfaults reproducable after a few resumes with the same message every time.

Steps to reproduce:
1. `/usr/bin/nxagent :1`
2. get the pid of the nxagent process
3. `while :; do kill -SIGHUP <pid>; sleep 10; done`
     -> the segfault appears faster with

[2016-04-25 11:35] uli42 commented on #117
On Mon, Apr 25, 2016 at 12:54 PM, Florian Wicke
notifications@github.com wrote:

If at the time of session creation the real xserver does not offer
Xinerama it gets enabled in nxagent nevertheless because at reconnect
time the real xserver might offer xinerama and we cannot enable it on
the fly (although - thinking about it it might be possible to activate
an extension at a later time. Need to che

[2016-04-25 11:39] HolySephi commented on #117
sunweaver suggested to disable the xinerama code while debugging #118 and it was not working thus he advised me to file this as a seperate bug. If it is intentional to never be able to disable the xinerama code then don't mind my bugreport on this.

[2016-04-25 11:49] uli42 commented on #117
Ok, then I'll close this for now..

BTW: there was this option -disablexineramaextension that might work if you really need to disable Xinerama. Not sure if it is still there in the current 3.6.0 version.

[2016-04-26 08:00] uli42 commented on #117
Reopening.

Currently you can disable XINERAMA only by also disabling RANDR (-extension RANDR). Do we need a solution where XINERAMA can be disabled independently?

[2016-04-26 08:46] HolySephi commented on #117
Maybe as sunweaver suggested for debugging purposes - as #118 states we encounter segmentation faults and by observing the crash my best guess is that it fails on setting the (new) resolution on resume. Being able to turn off single features could help in identifying the cause of problems.

[2016-04-26 09:02] uli42 commented on #118
Please try to reproduce this with -extension RANDR

[2016-04-26 09:04] uli42 commented on #117
You can disable that code by specifying -extension RANDR. If you want to keep RANDR and disable XINERAMA only that is not possible currently and regarding your suspicion will not help as the XINERAMA stuff is coming from RANDR. There's a separate XINERAMA extension in the code but that one is not used.

[2016-04-26 09:15] HolySephi commented on #117
starting nxagent with
`nxagent -extension RANDR :1`
does nothing - the randr/xinerma stuff is loaded anyway:

[code]

[2016-04-26 10:02] HolySephi commented on #118
As stated in #117 adding "-extension RANDR" changes nothing in log output or behaviour

[2016-04-26 10:42] uli42 commented on #118
But xdpyinfo does not show the extensions anymore, right?

[2016-04-26 10:45] HolySephi commented on #118
xdpyinfo neither states RANDR nor XINERAMA; correct

[2016-04-26 14:29] sunweaver commented on #117
Hi Uli,

On  Mo 25 Apr 2016 13:35:00 CEST, Ulrich Sibiller wrote:

We can enable Xinerama on the fly (i.e., on session resumption).

https://github.com/ArcticaProject/nx-libs/commit/0297567cd501b6fc012c41ff4a1ae27304ff6a10

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Key ID 0x25771B31
mail: mike.gabriel@das-netzw

[2016-04-26 14:30] sunweaver commented on #117
On  Di 26 Apr 2016 10:00:42 CEST, Ulrich Sibiller wrote:

IMHO, I'd say we want to have it. We want to disable XINERAMA via
cmdline or via NX option.

The latter should work (not well tested). I always thought the first
does also work. One is never done with learning new things...

Greets,

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (

[2016-04-26 14:41] uli42 commented on #117
Well, while enabling on the fly is technically possible I am totally unsure if that is supported by X11. I have tried to find some hints about late extensions activation but failed. My concerns are applications that ask the xserver once and cache the result (for whatever reason). If that is a defined behaviour in respect to X11 standards we cannot enable the extension on demand.
Also, I know there

[2016-04-26 14:50] sunweaver commented on #117
Hi Ulrich,

On  Di 26 Apr 2016 16:41:49 CEST, Ulrich Sibiller wrote:

Ah. Ok. Maybe we are talking about different things here.

What we (Sephi and I) want is to disable the reporting of multiple
screens and a screen split by the Xinerama+XRandR code.

This behaviour should be on/off switchable (which should work and
obviously does with "-xinerama" and the xinerama NX option).

Disabling the exten

[2016-04-26 15:06] uli42 commented on #117
So then use -extension RANDR.

If you want to completely switch off my code there's no way currently, I fear. I'll try to look into that later today.

The XINERAMA part in the RANDR extension can be disabled in the randr code but not in the nxagent code. I 'd prefer to avoid that to keep the number of files changed by nx low.

[2016-04-26 16:06] Ionic commented on #117
That's not really true. While working on the Composite extension, I stumbled upon `AddExtension()`. This function is defined in `nx-X11/programs/Xserver/dix/extension.c`, must be used during extension initialization and explicitly requires a CloseDown procedure, which sets `ext->CloseDown`. I haven't looked further if and how this is used in later code, though.

Newer X.Org Server versions also ac

[2016-04-26 16:11] Ionic commented on #117
From `nx-X11/programs/Xserver/include/extnsionst.h`:

[code]

I think dynamic extension loading and unloading isn't a thing, at least with the old X.Org Server version in NX. I'd have to look at the current X.Org Server master branch to comment on the current state, but I suspect the behavior has not changed (mostly because extension unloading doesn't make a huge amount of sense in normal X.Org Se

[2016-04-26 20:12] uli42 commented on #118
I can reproduce this with a debbugging version (and sleep .1 instead of sleep 10) and get this:

So, XReadEvents() does not set dpy->head, for whatever reason.

[2016-04-26 20:46] uli42 commented on #118
XReadEvents() has NX modifications, that - under some circumstances - return where the original code did not return. If that happens in a state where no event has been read, this could explain the problem.

My log above shows that this branch was executed just before segfault:

Must be analyzed further. Help appreciated ;-)

[2016-04-27 11:55] #103 closed, assigned to fcarvajaldev

[2016-04-28 09:59] uli42 commented on #118
I can confirm that commit 2d776b14fddc5ec70c97aa82672f3a7c9caef6a3 does not show that segfault, but the next one (c6482d24fff982d5e11636167c719766f8207d48) has this (and a similar segfault, too). I'll try to find the reason the next days.

[2016-04-28 21:29] sunweaver commented on #118
@uli42: Thanks for investigating this and taking your time for fixing it. :-)

[2016-04-29 07:05] uli42 commented on #118
I have not really come further although I investigated quite some time....

And I am no longer sure that the problem is not in 2d776b14fddc5ec70c97aa82672f3a7c9caef6a3. It might just be more difficult to trigger.

The culprit is that XPeekEvent() calls XReadEvents(), which should block until at least one event is in the queue. But the nx code has added some "return" statements where the original c

[2016-04-30 05:53] tjwde commented on #86
I have the same issue (X2Go Client 4.0.5.0  and Windows 7) connecting to LXDE running on Ubuntu 14.04 LTS as well as connecting to LXDE running on Lubuntu 16.04 LTS.

[2016-04-30 15:11] uli42 commented on #118
Today I have tested some more and came across the following output, which leads to the conclusion that gettign the SIGHUP _during_ Xselect() leads to all this:

[2016-05-01 20:12] uli42 commented on #118
Thinking a bit about this problem it came to my mind that this way of using nxagent is not really a use case. SIGHUP is used for disconnects and reconnects when the nx transport is used. And looking at the code it is a different codepath that handles the signal then (see XSelect() in XlibInt.c). It is questionable if using nxagent in the described way has to be supported at all. I mean, you can us

[2016-05-01 20:53] sunweaver commented on #118
Hi Uli,

On  So 01 Mai 2016 22:12:43 CEST, Ulrich Sibiller wrote:

It is not a use case now, but it may become one.

Actually, I use nxagent instead of Xephyr and Xnest everywhere,
because it performs so much better than the others (esp. regarding
resizing, regarding Xinerama).

I actually also suspend sessions via SIGHUP sometimes.

Furthermore, we plan to use freerdp-shadow-x11 on top of nxagent

[2016-05-01 20:58] HolySephi commented on #118
My use-case is that x2go with arctica is sometimes segfaulting on resume. The kill -SIGHUP procedure was a fast reproducing advice from sunweaver and to be able to gdb the segfault correctly.

I don't know if it is this specific segfault but there is sometimes a segfault on resuming sessions with x2go.

[2016-05-02 05:57] uli42 commented on #118
@sunweaver: Well, this would have to be done in XlibInt.c:_XSelect(), I guess. The first part of _XSelect() is taking care of the nx transport, the second part is dealing with the non-nx transport. So the second part should be adapted accordingly. But how? If you get EINTR you could re-enter a loop that repeat the select(). However, when EINTR is returned you should also check what signal you got

[2016-05-02 07:42] HolySephi commented on #118
I'm sorry but i don't understand - how did i disable the nx transport? Is manually running nxagent so different from spawning nxagent from a x2goclient? Is suspending and resuming sessions via x2go different from sending SIGHUP to the nxagent process?

[2016-05-02 08:24] uli42 commented on #118
By running nxagent locally without specifying an nx display (nx/nx...) the nx transport is disabled/not activated. You can force usage of the transport by specifying `-forcenx`, IIRC.

[2016-05-02 08:43] HolySephi commented on #118
so then starting nxagent like:
`nxagent -forcenx :1`
?

Because the same segfault still occurs while sending SIGHUP

[2016-05-02 08:47] sunweaver commented on #118
Hi Florian,

On  Mo 02 Mai 2016 09:42:18 CEST, Florian Wicke wrote:

A DDX like Xnest or Xephyr only speak the X11 proto and directly
communicate with an underlying X(.org )server.

A DDX like nxagent has two options: (a) communicate directly with an
underlying X(.org )server or (b) communicate with an underlying
X(.org) server through nxagent<->nxcomp(<->nxproxy).

Greets,
Mike

##

DAS-NETZWERKT

[2016-05-02 08:48] uli42 commented on #118
Ok, hmm, interesting, must check that again.

[2016-05-02 09:04] sunweaver commented on #118
Hi Uli,

On  Mo 02 Mai 2016 07:57:38 CEST, Ulrich Sibiller wrote:

I may not have grasped the underlying problem fully, but I would start
with looking at
nxagentSighupHandler() in hw/nxagent/Display.c.

It seems we can manipulate when SIGHUP is supposed to suspend a
session and when not.

Also, the SIGHUP signal triggering a session suspension is not limited
to nxagent using the nxcomp transport.

[2016-05-02 09:21] sunweaver commented on #118
Hi Uli,

On  Mo 02 Mai 2016 07:57:38 CEST, Ulrich Sibiller wrote:

we may not be able to access any variables from nxagent within the lib.

However, maybe we can hold the incoming SIGHUP signal for some time
and wait until an ongoing _XSelect operation has been processed fully
and suspending is safe.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
land

[2016-05-02 09:28] HolySephi commented on #118
Just to add as much information as possible to this case - i ran
`nxagent :1`
with the current 3.5.0 "stable" of nxagent and SIGHUPed the hell out of it for about half an hour now every 5s without running into the segfault i get after 2-10 SIGHUPs with arctica nxagent

even changing the interval to .2 did not segfault the nxagent in any way

[2016-05-02 09:31] uli42 commented on #118
@Mike: Are you familiar with signal handling? My googling the last days revealed a lot of details to be aware of. + differences between OSes.

@HolySephi: so did I, without "success". I even tried 0.1s.. However, disabling all the xrandr/xinerama code in 3.6.x did not help either... still crashes without that code.

[2016-05-02 11:16] sunweaver commented on #118
Can you please build nx-libs from source from this branch and test if the error also occurs using that branch?
https://github.com/sunweaver/nxlibs, Branch: pr/hw-nxagent-drop-duplicate-Xserver-code_disable-Xserver-code-and-include-in-nxagent

[code]

Greets,
Mike

[2016-05-02 11:17] sunweaver commented on #118
Ah... forgot to mention... I have tested the above and had 400+ resume/suspends using HolySephi's online-torturer.

[2016-05-02 11:23] uli42 commented on #118
Interesting. Let's say that we really cannot reproduce the error with that changes. What does that mean for us? Is there some code that has not been linked in before because it existed twice?

Will try that this evening (hopefully...)

[2016-05-02 14:06] HolySephi commented on #118
I built the packages as requested with your extra patches but the segmentation fault still occurs.

[2016-05-02 21:03] uli42 commented on #118
Same here, segfault almost immediately

Update: and going back to e4763fb4879ce8782e50c784ed9e7d8c5a1b7322 the torture produces

[2016-05-03 15:04] sunweaver commented on #118
Some more test cases:
- my latest code from https://github.com/sunweaver/nx-libs/tree/pr/hw-nxagent-drop-duplicate-Xserver-code_disable-Xserver-code-and-include-in-nxagent
- Debian jessie client (X.org from jessie)
- Debian jessie nxagent (built from above sources)
- Debian sid nxagent (built from above sources)
- Ubuntu trusty nxagnet (built from above sources and launched inside chroot)
- Ubuntu

[2016-05-03 15:04] sunweaver commented on #118
... and all systems are 64bit.

[2016-05-03 15:22] uli42 commented on #118
Now it is getting interesting! What's the version of the X server you using on trusty? Can you please retry with Unity?

[2016-05-03 15:49] uli42 commented on #118
I tried to compile on SuSE 13.1 and failed:

That's the drawback of using the system libraries...

[2016-05-03 17:03] sunweaver commented on #118
On  Di 03 Mai 2016 17:49:30 CEST, Ulrich Sibiller wrote:

@uli42: please re-fetch the branch [1] anew so it includes this commit:
https://github.com/sunweaver/nx-libs/commit/e3e451629b00ab589f8720d498089dba0447cf8f

The previous approach (that included <X11/fonts/fontmisc.h> caused
FTBFS on systems using libXfont << 1.5).

The new approach is much better.

Mike

[1]

## https://github.com/sunweave

[2016-05-03 18:04] sunweaver commented on #118
I actually force-pushed to the same branch again just now.

[2016-05-03 18:16] sunweaver commented on #118
Tested with a very minimal Unity desktop shell in a chroot running in Xepyhr. All from Ubuntu 14.04 64bit.

I can reproduce the segfaults then.

[2016-05-03 18:39] uli42 commented on #118
Ok, what now? So Unity must do something the other WMs do not.

[2016-05-04 07:51] uli42 commented on #118
I was able to compile the recent version on Suse 13.1 and did not get the segfault in XPeekEvent but (again) this:

and when running with `-sync` I get this (again):

So it does not seem to be limited to Unity, this was with KDE in a nested nx session.

[2016-05-07 19:21] uli42 commented on #118
With this patch I did not see the crashes. However, this is ugly...

[code]

[2016-05-07 19:46] uli42 commented on #118
I think the source of the problem is Unity placing the nxagent window at a slightly different position for every resume. So a ConfigureNotify event gets triggered. Handling that event is probably unexpected at some parts of the code.

[2016-05-07 23:03] uli42 commented on #118
Configuring a fixed position for nxagent (using https://wiki.ubuntuusers.de/Compiz_CCSM/ ) greatly prolonged the time until I got a segfault. Next I disabled window animation and fading in ccsm and could not produce a single segfault. But interestingly reverting all these changes did not bring back the segfaults! I still cannot get any now! Can anyone confirm this?

[2016-05-08 00:19] HolySephi commented on #118
But i don't use unity or compiz - in my tests the nxagent was displayed via X11 forward(from ubuntu14.04) on my Xming(Windows 10/MobaXterm)

[2016-05-08 10:02] uli42 commented on #118
Oh, even more places to look for the problem ;-(

However, are you able to test the ugly patch I posted yesterday? It might
lead to other problems but at least it will prevent the segfault.
Am 08.05.2016 02:19 schrieb "Florian Wicke" notifications@github.com:

[2016-05-08 14:56] HolySephi commented on #118
i'll be able to test the patch on tuesday. I don't mind if you don't test nxagent and Xming - our setup in special is x2goagent running inside a plain Xorg-process (like the x2gothinclient setup) and it is segfaulting there too.

Maybe your approach was the wrong way? Maybe it is segfaulting in "normal" or most setups but not in the special env of sunweaver?

[2016-05-08 15:57] uli42 commented on #118
Yes, of course that's possible... However, I could also not reproduce this without Unity.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Florian Wicke" notifications@github.com
Gesendet: ‎08.‎05.‎2016 16:56
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Mention" mention@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] nxag

[2016-05-09 08:17] sunweaver opened #122 "Link statically against reduced libNX_Xext"
Once that https://github.com/ArcticaProject/nx-libs/pull/121 has been merged into 3.6.x, we should link nxagent statically against libNX_Xext and drop the shared library files and related packages (as suggested by @uli42).

[2016-05-09 11:45] camiloaa opened #123 "XIinputExtension XI2 applications won't work"
A number of GNOME applications were updated to use XI2, and as a result stopped working with libnx/x2go.

For example, gedit tries to set XInputExtension.X_XIGetClientPointer and causes the next error:

[code]

[2016-05-09 13:24] sunweaver commented on #123
Oh well... The lack of Xinput2 is also causing KDE5 to crash during startup. So this is something we need to look at rather sooner than later.

Thanks for giving feedback on recent changes in GNOME apps.

[2016-05-09 13:48] uli42 commented on #123
It makes me feel bad about KDE and Gnome quality if they crash instead of reporting an error...

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎09.‎05.‎2016 15:25
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] XIinputExtension XI2 applications won'twork (#123)

Oh well... The lack of Xinput2 is also causing

[2016-05-09 13:51] sunweaver commented on #123
Exactly what I thought, the first time I saw Plasma5 crash in nxagent.

[2016-05-10 09:25] sunweaver opened #124 "Add benchmarking hooks"
We want to know, what nxagent / nxproxy spent most of its time on (compression, waiting for roundtrips, etc.).

For this, we need some high resolution measurement hooks in NX.

[2016-05-11 13:21] HolySephi commented on #118
With the patch from above i'm no longer able to run into the segfault but the screen stays gray sometimes (i think this would be time where the segfault would trigger) instead of getting the "black" background of the empty X session.

[2016-05-11 13:34] HolySephi commented on #118
I'm currently testing this code:

[code]

and it looks promising so far

[2016-05-11 13:39] HolySephi commented on #118
with my code the session always gets resumed (sometimes it takes a few extra seconds) but if you suspend the session before the session was able to get the _XReadEvents(dpy); then the process will hang forever

[2016-05-11 13:46] HolySephi commented on #118
the screen stays gray between these two log entries from nxagent:

[code]

[2016-05-11 18:11] sunweaver commented on #118
Hi,

On  Mi 11 Mai 2016 15:34:28 CEST, Florian Wicke wrote:

Shouldn't this go into the nxagent code where XPeekEvent is called?

We avoid hacking libX11...

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Key ID 0x25771B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

freeBusy:
https://mail.das

[2016-05-11 20:29] uli42 commented on #118
It should not be done at all, that is why I was calling that 'ugly'. The main problem is that XReadEvents() returns without having read any event. It should be blocking but it is not thanks to code added by nx.

Besides: Busy looping is not nice either...

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎11.‎05.‎2016 20:11
An: "A

[2016-05-12 07:04] HolySephi commented on #118
Of course this was just a quickndirty hack - i thought it might be helpful to test this to get the information if dpy stays NULL on a segfaulted resume or will get filled later on. It seems that _XReadEvents(dpy); needs more time sometimes and should block/loop for itself then.

The unchanged code now just reads it once if its NULL and then magically thinks it will work without further checks.

[2016-05-13 04:20] #101 closed, assigned to nobody

[2016-05-13 14:37] sunweaver commented on #123
I just took a quick look at this today. The XInput2 extension requires forward-porting of the Xserver code at least to X.org v1.7. This will be impossible for nx-libs 3.6.x, unfortunately.

However, there might be a way of providing some xistubs.c code that fake-handles the most important XI2 requests and either drops them or converts them to XI1 requests. Not sure.

[2016-05-31 08:42] nitomartinez opened #127 "Always display version of nxcomp in the log"
Currently from the log there is no way to know the version of the code executed.

It would be good from the support perspective to get that info in the log

[2016-05-31 10:12] #127 closed, assigned to sunweaver

[2016-05-31 10:46] nitomartinez opened #130 "Fix debugging function for Loop.cpp. getDebugSpec was replaced by << operand in ChannelEndPoint.{h|cpp}"
This was probably missed because it was inside #ifdef TEST

[2016-05-31 10:48] #130 closed, assigned to sunweaver

[2016-06-01 12:01] sunweaver commented on #94
@sebastiendu: any more feedback on your nxagent crashes caused by Icedove? Thanks for feedback.

[2016-06-01 19:58] #116 closed, assigned to sunweaver

[2016-06-02 05:06] mbecroft opened #132 "nxagent a) hangs for long periods when no client b) overly strict about reconnection"
a) Currently, nxagent has deliberate delays inserted in several places when no client is connected. This is clearly designed to mitigate things like Flash web sites hogging the CPU when no user is connected to a session. However it has the following (and probably other) unintended side-effects:
- Depending on the system configuration, the long delays in responding to X protocol requests can lead t

[2016-06-02 05:17] mbecroft commented on #132
The attached patch is hack workaround for these issues that got things going for me. use it only as a template to find the relevant sections of code requiring attention.

_I have done:_

a) comment out all deliberate delays in response to X protocol requests with `#ifdef MARIO_ENABLE`

b) Short-circuit several dubious compatibility checks by adding `return 1` (meaning "target X server is compatibl

[2016-06-03 10:09] sunweaver commented on #132
@mbecroft: I assigned Ionic to working on this in the coming week(s).

[2016-06-03 12:56] sunweaver commented on #110
/me just looked into this. I am still undecided why the referenced binary blobs have been linked against libgcc_s.so.1 and libstdc++.so.6.

Fixing the over-linking regarding Xrandr and Xtst for now.

[2016-06-03 12:57] sunweaver opened #133 "don't overlink nxproxy, libXcomp and libXcompext"
[code]

[2016-06-03 12:58] #115 closed, assigned to nobody

[2016-06-03 12:58] #110 closed, assigned to nobody

[2016-06-03 15:08] sebastiendu commented on #94
Ok I just got feedback from the other user, who does not use X2Go so often. The bug does not occur anymore with the new libs, server-side.

[2016-06-03 15:08] #94 closed, assigned to sunweaver

[2016-06-09 10:04] sunweaver commented on #117
Looked into this a bit deeper...

We have to differentiate here between XINERAMA's Xinerama (+|-xinerama or +|-extension XINERAMA) implementation and RANDR's Xinerama implementation.

Currently, you can enable / disable XINERAMA's Xinerama with various options:
  +|-extension XINERAMA (cmdline option)
  +|-xinerama (cmdline option, synomous option for +|-extension XINERAMA AFAICT)
  xinerama=0|1 (

[2016-06-09 10:19] sunweaver commented on #117
Well... Actually the old XINERAMA extension implementation is broken by design in nxagent.

Just thinking: wouldn't it be better dropping the libXinerama dependency fully and default to rrxinerama always.

We should then "abuse" "+|-xinerama" for enabling/disabling rrxinerama.

We should also "abuse" nx/nx option xinerama=0|1 for enabling/disabling rrxinerama.

Comments, thoughts?
Mike

[2016-06-10 07:09] sunweaver opened #136 "RANDR panning and nxagent"
Hi Uli, hi all,

I would like to bring up another topic regarding RANDR here. The RANDR 1.3 proto version bring "panning" to the Xserver. For a little reader on panning, see here:
https://sfxpt.wordpress.com/2011/02/02/panning-using-xrandr/

I think we should support that for nxagent in fullscreen mode. For this, we need more modes then the current resolution (nx_<phys-x>x<phys-y>) to be available

[2016-06-10 07:22] HolySephi commented on #117
Yeah, sounds like a good idea - especially only having one xinerama implementation might be good for future debugging/maintaining

[2016-06-13 21:17] sunweaver opened #139 "Revisit libXcompext function calls from within nxagent"
Calling functions from libcompext in nxagent sounds like a bad idea. Other code locations might well be affected by issues alike to that as well.

We can work around this by using the Xlib-based Window data type on the server-side as well, but this problem is likely a more general one.

In order to silence compiler warnings, we can use a "macro hacks" for overriding an e.g. "Window" type in NXlib.

[2016-06-13 21:31] sunweaver commented on #118
It seems that 3.5.0.x is also affected: http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=908

[2016-06-13 22:42] sunweaver opened #140 "Several Cairo test suite cases fail on nxagent"
Previous versions (3.5.x) of nxagent segfaulted when the Cairo test suite was run on it.

With nxagent 3.5.99.0, no more segfaults could be observed, when running the cairo test suite. However various test cases fail on nxagent. This does not mean that nxagent is broken, but it should be checked if tests failing with nxagent also fail with local X.org server or Xephyr.

Short howto for running Cai

[2016-06-13 22:55] sunweaver opened #141 "Support DESTDIR and OPTFLAGS in build process"
For discussion details, see http://bugs.x2go.org/cgi-bin/bugreport.cgi?bug=84.

X2GoBTS also offers some not 100% fool proof patches.

[2016-06-14 12:38] HolySephi commented on #118
I encountered segfaults in 3.5.0.x very very rarely and was unable to reproduce the segfault like we did in 3.6.0.x - since i limited the maximum session time to one day  i never encountered any hanging or segfaulting sessions with 3.5.0.x

[2016-06-14 22:40] #92 closed, assigned to nobody

[2016-06-17 02:03] Ionic commented on #132
a.) has been implemented in [feature/configurablesleep branch in Ionic/nx-libs](/Ionic/nx-libs/tree/feature/configurablesleep).

[2016-06-17 07:03] sunweaver commented on #132
@Ionic: looks good to me. Please file a PR for that portion of @mbrecroft's proposal. Thanks.

[2016-06-17 19:10] Ionic commented on #132
Referencing #143.

[2016-06-18 14:25] Ionic commented on #132
Btw, I haven't tested x11vnc, but instead made short tests with a session running `fluxbox`, `urxvt` and `glxgears`. While the framerate was always more or less stable whenever `nxproxy` was connected, the `sleep` option caused following effects:
- when set to 0: a higher FPS rate in suspended state (probably because `nxagent` can run "unbounded" in this case and is not limited by network traffic

[2016-06-18 17:50] #117 closed, assigned to nobody

[2016-06-20 09:20] HolySephi commented on #91
I can confirm that this bug is still present in the current nightly ubuntu packages from:

deb http://packages.arctica-project.org/ubuntu-nightly trusty main

but only while connecting with x2goclient - neither a manually 'nxagent :1' nor 'x2goagent :1' shows this behaviour - they complain about the missong /usr/NX/bin/nxclient binary on pressing 'ctrl+alt+r'

[2016-06-20 09:26] nitomartinez commented on #72
Some more info:

The bandwidth checks are done (at least in this place, not sure if there are others) in  the 3.5 branch in the function handleCheckBitrateInLoop in Loop.cpp. There could be pauses up to 435ms (~ 50000 ^ 1.2)

Here is an example of playing an mp3 file, through the NX audio channel .

![tcpdump-server-pulseaudio-bytes-per-tenth-of-sec](https://cloud.githubusercontent.com/assets/3538

[2016-06-20 14:17] sunweaver opened #144 "Use XORG_TOO_OLD macros instead of NXAGENT_SERVER for missing Xserver features"
Throughout the Xserver code, we use defined(NXAGENT_SERVER) to check if building nxagent.

When backporting extensions, we need this check and it denotes that actually the underlying Xserver code (mainly in Xserver/dix/ and Xserver/mi/) is too old for recent extension ABIs.

We should use another macro name for indicating a too old Xserver version, e.g. XORG_TOO_OLD.

See #125, #137 for earlier di

[2016-06-21 10:49] uli42 commented on #91
In Events.c I can find this:

[code]

This indicated there should be a dialog. Dialogs are shown using /usr/NX/bin/nxclient which is not installed on most systems (binary from nomachine). Does it work when you link this to `/bin/true` or `/bin/false` (please try both)?

Also, is this limited to reconnected sessions? Does it also happen on new sessions?

Update: fixed double paste in code above

[2016-06-21 11:13] HolySephi commented on #91
Link to what?

[2016-06-21 11:18] uli42 commented on #91
Oh, wrong markup. I have fixed the above comment now. But for clarity:

[code]

[2016-06-21 11:23] HolySephi commented on #91
neither linking /bin/true nor /bin/false changes the behaviour - whenever you are connected to a x2gosession or start a new one pressing ctrl+alt+r disconnects you beside turning resizing on or off

[2016-06-22 05:37] sunweaver commented on #122
@uli42: @all: I looked into statically linking libNX_Xext.a into nxagent and drop the shared library. However, I just saw, that the XShm part of libNX_Xext is linked against by libXcompshad. So static linking is a no go for now.

Closing this issue report...

[2016-06-22 05:37] #122 closed, assigned to nobody

[2016-06-22 15:03] uli42 commented on #118
I have again looked into that. I think the nx modification of XReadEvents() is buggy.

[code]

But there are two code paths where the nx version simply returns without ensuring that there's at least one event read and enqueued. I am unsure what to do about that... Should we insert a fake event in that case?

[2016-06-22 15:18] uli42 commented on #118
I think I've found a workaround. Please try this:

[code]

[2016-06-22 15:36] HolySephi commented on #118
Unfortunately this patch renders the code un-build-able:

`/root/nx-libs/nx-X11/programs/Xserver/hw/nxagent/Events.c:4560: undefined reference to 'Xpending'`

[2016-06-22 16:49] uli42 commented on #118
Typo, try a capital P

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Florian Wicke" notifications@github.com
Gesendet: ‎22.‎06.‎2016 17:36
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Mention" mention@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] nxagent segfaults on session resume(#118)

Unfortunately this patch rend

[2016-06-23 07:31] sunweaver commented on #118
@uli42: Just heard back from @HolySephi on IRC. Patch seems to work. Please file a PR for this fix. (Or shall I?).

[2016-06-23 07:40] uli42 commented on #118
Nice to hear, at least it helps. But I used the evening to rethink this again and came to the conclusion that this patch is wrong. It is wrong because it changes the semantics. XPeekEvent() is supposed to block, but if we only run it when there are events waiting the code will never block. So in the normal case, where no signals or IOErrors are around, it should really block. With my patch it will

[2016-06-23 07:51] sunweaver commented on #118
Hi Ulrich,

On  Do 23 Jun 2016 09:40:13 CEST, Ulrich Sibiller wrote:

I think that the non-blocking hacks are actually what NoMachine came
up with that makes nx-libs superior to Xnest.

I understand that this all is not required when using XCB instead of Xlib.

What happens with the nxagent performance when we introduce blocking
code in XPeekEvent?

Actually, NoMachine also added a function to Xli

[2016-06-23 07:54] HolySephi commented on #118
Yeah as sunweaver said i'm unable to run into any segfaults with this change. Neither 'sleep .1' nor 'sleep 10' are able to produce segmentation faults over the testing period of half an hour each.

[2016-06-23 08:05] sunweaver commented on #118
On  Do 23 Jun 2016 09:54:36 CEST, Florian Wicke wrote:

How about the overall performance of the running session? How about
the process load of nxagent comparing the version without uli42's
workaround and with?

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577

[2016-06-23 08:12] uli42 commented on #118
Once again: with this patch we are handling a special case and for that special case it really helps.

However, it changes the normal case. The normal case at this part of the code (nxagentWaitEvents(), which is described as "Blocks until an event becomes available.") is a call of XPeekEvent() and expecting it to block until an event occurs. When we call XPending() before XPeekEvent() and only cal

[2016-06-23 09:29] sunweaver commented on #118
Hi Uli,

On  Do 23 Jun 2016 10:12:14 CEST, Ulrich Sibiller wrote:

Ok.

So would it make sense to introduce a looping around XPending()
directly in nxagentWaitEvents()? Instead of leaving the blocking to
NX_X11, we could move that into nxagent code directly.

Please note, that libNX_X11 _XReadEvents() function will only ever
used by nxagent. By nothing else. So we are free to handle things "as
we

[2016-06-23 10:11] sunweaver commented on #141
DESTDIR support is already available in nx-libs's Makefile.

Currently working on getting the OPTFLAGS support straight.

[2016-06-23 10:34] uli42 commented on #118
On  Do 23 Jun 2016 10:12:14 CEST, Ulrich Sibiller wrote:

I am not sure about adding a loop to nxagentWaitEvents. We'd need to anticipate what XReadEvents is going to do. So calling XPeekEvent (and therefore _XReadEvents) could be completely replaced by something own.

However, _XReadEvents is also called by MaskEvent, CheckIfEvent a.s.o. where special nx code has been added to handle the "emtpy"

[2016-06-23 10:41] sunweaver commented on #118
On  Do 23 Jun 2016 12:34:38 CEST, Ulrich Sibiller wrote:

Ok, Then we should add "that code" there.

Ohhhh... forget that. Latest libX11 is basically a wrapper around
libxcb. It has changed so tremendously, you don't want to know.

Maybe the above comment comes from the X.org team.

And the code above here, of course, comes from NoMachine.

I think, NoMachine forgot to clean up the comment. Not th

[2016-06-23 11:29] uli42 commented on #118
E.g. in PeekIfEvent.c and MaskEvent.c:

[code]

at the end of the while loop. This is not applicable to XPeekEvent (and XNextEvent) since that is supposed to return an event and not just a number. I'll check this evening if leaving the dpy->head at NULL in case of an IOError and skipping the read is sufficient here.

Update: nxagentWaitEvents does not use the delivered event. It is just called to

[2016-06-23 21:39] uli42 commented on #118
Well, I am puzzled. It seems like I still have not fully understood the problem.

If have changed XPeekEvent like this:

[code]

And it is running rock solid now. However, the strange thing is: I still have debugging prints in _XReadEvents and while I see them when I do not add the patch above they completely vanish when I have the patch included.

In other words:

before: XReadEvents returns with

[2016-06-23 22:00] sunweaver commented on #118
On  Do 23 Jun 2016 23:39:47 CEST, Ulrich Sibiller wrote:

Well done, Uli!!!

Mike

##

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2016-06-24 07:27] uli42 commented on #118
I suppose that code would also crash if the WM would change the size instead of repositioning. So my additional check for position changes is not wrong, but the resulting code path is not SIGHUP safe because of XPeekEvent.

Therefore the fix in XPeekEvent is the way to go. There's no need to change xinerama then. I think the missing event is something we have to live with.

A similar patch could a

[2016-06-24 08:06] HolySephi commented on #118
[code]

I'm unable to reproduce any segmentation faults with this patch too so i can confirm that this patch should resolve the segmentation fault.

[Edited by @Ionic: changed to diff syntax highlighting]

[2016-06-24 08:28] sunweaver commented on #118
Hi Ulricht, Florian,

On  Fr 24 Jun 2016 10:06:53 CEST, Florian Wicke wrote:

@uli42: please file a PR for this fix. Thanks. And adapt XNextEvent,
as well, even if rarely called.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-net

[2016-06-24 18:46] uli42 commented on #33
has been done at other places

[2016-06-24 18:46] #33 closed, assigned to nobody

[2016-06-24 20:22] uli42 opened #153 "libNX_X11 XErrorDB is missing RANDR 1.3-1.5 stuff"
See this commit: https://cgit.freedesktop.org/xorg/lib/libX11/commit/src?id=90ef36f6336068183bf9d13ca972202db35b1202

These (and similar commits) are missing in nx-X11/lib/X11/XErrorDB.

Does this file need to be extended because of the RANDR 1.5 backport? If not: can we remove it?

[2016-06-24 22:17] #118 closed, assigned to nobody

[2016-06-24 22:37] uli42 opened #157 "backport lots of libX11 fixes beginning ~2006 to libNX_X11"

[2016-06-24 23:43] uli42 commented on #153
my libNX_X11.so points to a location for the ErrorDB file that does not exist:

[code]

So either we should ship this file or point to the one from the system. Or get completely rid of it including every function calling it.

[2016-06-25 22:38] sunweaver commented on #157
@uli42: Can you take a look into this?

[2016-06-25 23:10] sunweaver opened #158 "nxagent in nxagent, pixman_region_copy/union: Malformed region <var>"
When running nxagent inside an nxagent desktop sessions, I get the below output on a Debian unstable system (26th June 2016):

[code]

[2016-06-25 23:11] sunweaver commented on #153
I'd say we should ship it and it should be copied over from latest X.Org. Or we should even point at latest X.org's version of the XerrorDB file.

Our libNX_X11 has to speak to recent X.org servers and should know about all recent error codes.

[2016-06-25 23:18] sunweaver commented on #158
Tested on Debian jessie, not an issue... Possibly an API change in libpixman-1?

[2016-06-26 08:12] uli42 commented on #153
We should find a way to change the path to the system version

[2016-06-26 08:12] uli42 commented on #157
Yes, I will
Am 26.06.2016 00:38 schrieb "Mike Gabriel" notifications@github.com:

[2016-06-26 14:56] sunweaver commented on #153
libx11-data: /usr/share/X11/XErrorDB

[2016-06-26 14:58] sunweaver commented on #153
We need to fix it here: nx-X11/lib/X11/ErrDes.c:#define ERRORDB "/usr/lib/X11/XErrorDB", I guess.

[2016-06-26 14:59] sunweaver commented on #153
and clean it up here:

[code]

[2016-06-26 15:00] sunweaver commented on #153
Simply run a grep on nx-X11/ to find references... I can file a PR for this tomorrow.

[2016-06-27 10:00] sunweaver commented on #105
X.org commit for this:

[code]

[2016-06-27 12:27] HolySephi opened #161 "Segfault in nxagent and screen flickering when maximizing x2go session window"
Server O/S: Ubuntu 14.04

x2goserver version: 4.1.0.0-0~1315~ubuntu14.04.1
nxagent version: 3.5.99.0-0~git20160625.1249+t

Client O/S: Windows 10
X2Goclient Version: 4.0.5.1

maybe related to #162

Steps to reproduce:
- Connect to the server as a normal window (800x600)
- Maximize the x2goclient window of the session

I now get a very flickering screen because the resolution of the maximized windo

[2016-06-27 12:31] HolySephi opened #162 "libX11 segfault when resizing x2go session window"
Server O/S: Ubuntu 14.04

x2goserver version: 4.1.0.0-0~1315~ubuntu14.04.1
nxagent version: 3.5.99.0-0~git20160625.1249+t

Client O/S: Windows 10
X2Goclient Version: 4.0.5.1

Maybe related to #161

x2goagent segfaults in libX11.so.6.3.0 when resizing the x2go session window - happens more likely when running ANY application within the desktop like Thunar, Firefox or xterm. Just resizing the deskto

[2016-06-27 12:40] uli42 commented on #161
Is this new? Does it also happen with last week's version before the Event patches?

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Florian Wicke" notifications@github.com
Gesendet: ‎27.‎06.‎2016 14:27
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Betreff: [ArcticaProject/nx-libs] Segfault in nxagent and screen flickeringwhen maximizing x2go session window (#161)

Se

[2016-06-27 12:50] HolySephi commented on #161
Unfortunately i don't know - i ran into this while debugging #162 but as this segfaults in another location i created a seperate bug and #162 might not be new - i might remember some reports from my first tests with 3.6.0 (3.5.99) when i ran into the segfault from #118 but did not dug any deeper into this issue. We might have multiple things in resolution changing/setting that run into segfaults a

[2016-06-27 13:18] uli42 commented on #161
Hmm does it also happen with -rrxinerama?

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Florian Wicke" notifications@github.com
Gesendet: ‎27.‎06.‎2016 14:50
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Comment" comment@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] Segfault in nxagent and screenflickering when maximi

[2016-06-27 14:18] HolySephi commented on #161
Using "-rrxinerama" as X2GO_NXAGENT_DEFAULT_OPTIONS xinerama is no longer working as expected. The "flickering" of setting the resolution a few times per second on maximizing is still present and the segfault is still occuring ~~but i'm unable to trigger the segfault in libX11 from #162~~

Sorry, #162 is still happening even with -rrxinerama

[2016-06-27 14:19] HolySephi commented on #162
~~As stated in #161 i'm unable to reproduce the segfault without the xinerama code (-rrxinerama)~~

Edit: wrong - it just took longer this time - sorry!

[2016-06-27 14:28] uli42 commented on #161
So just to get this straight:
- it happens with the current source from today
- it has not been seen before
- it is unsure if it happens since my events fix
- there are no SIGHUPs involved

Is that correct?

Do you have coredumps you can examine?

[2016-06-27 14:53] HolySephi commented on #161
- this is happening with the current nightly packages from the ubuntu repo
  `http://packages.arctica-project.org/ubuntu-nightly`
- this and #162 do not occur on 3.5.0
- It could have occured before our fix for #118 but i did not test against this until now
- there are no SIGHUPs involved - just screen resizing and _sometimes_ even right after starting the session (might be where the screen size g

[2016-06-27 20:09] uli42 commented on #161
I tried to setup an LXDE session using the nightly arctica build on Ubuntu 14.04. It crashed after some seconds with a coredump. Here's the backtrace:

[code]

I am wondering about the output. Why is it using _XSend from libX11 instead of libNX_X11? @sunweaver: can you please check the build?

[2016-06-27 20:35] uli42 commented on #161
I can get the crash by running `x2goagent -ac :55` and then `DISPLAY=:55 startlxde`. Resizing the window immediately produces this segfault:

[code]

When there's no LXDE running resizing works fine without crash (tested empty x2goagent and xterm with and without fvwm running). It works when I add `-norender`

[2016-06-27 20:46] uli42 opened #163 "x2goagent nightly crashes with Composite but without render"
Running on Ubuntu 14.04

[code]

(or simply `/usr/bin/x1goagent -ac +extension Composite -norender :55` if you do not want the backtrace)

leads to

[code]

If I remove  `-norender` it works.

[2016-06-27 20:52] uli42 commented on #162
I can reproduce this with an lxde session, even with a standalone agent: `nxagent -ac :55`. It works when I specify `-norender` in addition. Does this help for you, too?

[2016-06-27 22:33] uli42 commented on #161
A self compiled nxagent reveals some more info:

[code]

So I suppose there something wrong with xrender

[2016-06-28 09:58] sunweaver commented on #161
11:55 < sunweaver> Sephi: about #161 and #162...
11:57 < sunweaver> do you have anything in /usr/lib/nx/X11/Xinerama on the server?
11:57 < sunweaver> and... is $LD_LIBRARY_PATH set to that path in your X2Go sessions?
11:57 < sunweaver> (the LD_LIBRARY_PATH is probably set, but the dir should not exist).
11:58 < sunweaver> it is old school stuff from nx-libs 3.5.x

[2016-06-28 09:59] sunweaver commented on #161
@HolySephi: Can you please provide output of

ldd /usr/lib/nx/bin/nxagent

? Thanks.

[2016-06-28 10:20] HolySephi commented on #161
removing the old Xinerama folder does not change the segfaulting behaviour.

[2016-06-28 10:24] HolySephi commented on #161
LD_LIBRARY_PATH is directing to:

X11 is empty because i deleted Xinerama as mentioned before.

[2016-06-28 10:28] HolySephi commented on #161
Adding "-norender" to X2GO_NXAGENT_DEFAULT_OPTIONS does not change anything regarding the segfaults or the "screen flickering" when maximizing the window.

[2016-06-28 10:45] sunweaver commented on #161
[code]

The above is the linker command as taken from jenkins's last trusty build job for nx-libs.

Some files are duplicated in this cmdline.

[2016-06-28 11:09] sunweaver commented on #161
Damn it... another Ubuntu issue that does not exist in Debian.

[2016-06-28 11:29] uli42 commented on #161
BTW: it also happens in my self compiled version on Ubuntu

[2016-06-28 11:47] sunweaver commented on #162
@uli42: https://github.com/sunweaver/nx-libs/commit/fd1af6d1288562065e44646e686c2038e8b291ce

[2016-06-28 11:48] sunweaver commented on #161
https://github.com/sunweaver/nx-libs/commit/fd1af6d1288562065e44646e686c2038e8b291ce

[2016-06-29 08:43] sunweaver opened #165 "Fix byte swapping in Xext/xvdisp.c"
We should backport this X.org commit...

[code]

[2016-06-29 08:55] sunweaver opened #166 "Fix byte swapping for GetFBConfigs (Xserver/GL/glx/glxcmds.c)"
We should backport this commit...

[code]

[2016-06-30 17:05] HolySephi commented on #161
Update: Setting the resolution a few times per second after maximizing the window stops after about one minute and the session behaves normally then

[2016-06-30 22:10] uli42 opened #171 "nxagent static make target broken"
[code]

Both targets do not work and fail with various problems.

[2016-06-30 23:33] uli42 opened #174 "Fix/Adapt header guard defines in include files"
Upstream has prepended  `_X11_` to the header guards (e.g. https://cgit.freedesktop.org/xorg/lib/libX11/commit/include/X11/Xlib.h?id=d0cbf388919364fe6b5b9127f36426eb744090a0). Since we are using more and system libs and includes instead of our own conflicts occur when headers from both worlds are included (which happens indirectly by headers including other headers). Therefore we should use the sa

[2016-07-01 11:11] #141 closed, assigned to nobody

[2016-07-01 14:04] sunweaver commented on #122
Fixed by https://github.com/ArcticaProject/nx-libs/commit/da7261cfe0244fcf329e0597f9d122293fd4f9eb

[2016-07-01 14:05] sunweaver commented on #48
Fixed since https://github.com/ArcticaProject/nx-libs/commit/17f3e3bc5157eeb6018ddaa6d862ca94f4b02b2b

[2016-07-01 14:05] #48 closed, assigned to nobody

[2016-07-01 14:18] sunweaver commented on #163
@HolySephi: I think that this issue can be closed now. Relevant commits / PRs: https://github.com/ArcticaProject/nx-libs/commit/dd5f5b56b48127641ca2bf70a272f60872f2568b (#172) and https://github.com/ArcticaProject/nx-libs/commit/5b36f6443a1186d482ae1044b826c9fd67624c31 (#170).

Thus, closing. Reopen if issue re-occurs.

[2016-07-01 14:18] #163 closed, assigned to nobody

[2016-07-01 14:20] sunweaver commented on #162
Also closing, same reasoning as given in #163.

[2016-07-01 14:20] #162 closed, assigned to nobody

[2016-07-01 14:22] uli42 opened #176 "xinerama: wrong screen sizes"
xrandr show this:

[code]

What I did: open nxagent -ac :55 on my system (2x1920x1200 side by side). Pull the window as wde as possible. Push the window left and right, try to make most of the window invisible. Regurlarly check xrandr output.

[2016-07-02 12:12] #105 closed, assigned to sunweaver

[2016-07-04 18:25] uli42 opened #179 "Update XFixes extension"
nx offers version 3.0 while upstream is at 5.0

[2016-07-04 18:27] uli42 commented on #136
Yes, it is okay. Does that collide with the viewport stuff nx is already capable of?

[2016-07-04 20:31] uli42 commented on #59
I was unable to reproduce this on nx-lib 3.5.99 27b0b57 and libpango1.0-dev 1.36.3-1ubuntu1.1

[2016-07-04 20:40] sunweaver commented on #136
HI Ulrich,

On  Mo 04 Jul 2016 20:27:20 CEST, Ulrich Sibiller wrote:

I don't think it does.

Maybe panning does not make much sense in windowed desktop mode (and
it may also overlap with the viewport stuff), but in fullscreen mode,
the panning API should be supported in nx-libs, I think. The panning
always involves resolution changes of the underlying X.org screen, so
maybe the panning request mu

[2016-07-04 20:43] sunweaver commented on #59
Hi Ulrich,

On  Mo 04 Jul 2016 22:31:17 CEST, Ulrich Sibiller wrote:

it is still there... And it is related to AddGlyphs producing an X11
request that exceeds the maximum size of one request.

I have this test mail from a customer here in thunderbird that
contains HUUUUGE letters which triggers the issue.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 14

[2016-07-04 20:56] #153 closed, assigned to nobody

[2016-07-04 21:33] uli42 commented on #140
I see a lot of fails with the current build (), but most of them seem related to xcb - which we do not have in nxagent. So I skip those for now. I have seen a crash in clip-mixed-antialias.xcb-render-0_0.rgb24 [0x1] with this backtrace:

[code]

[2016-07-05 06:07] uli42 commented on #140
- `cairo-test-suite -f big-empty-box` fails for _big-empty-box.xlib-render-0_0.rgb24 [0x1]_
- `cairo-test-suite -f clip-group-shapes-aligned-rectangles` fails for _clip-group-shapes-aligned-rectangles.xlib-render-0_0.rgb24 [0x1]_ (this test even shows a crash for _clip-group-shapes-unaligned-rectangles.xcb-render-0_0.argb32 [0x1]_)

on NX but not on native Xorg 1.15.1-0ubuntu2.7.

[2016-07-05 08:09] #70 closed, assigned to nobody

[2016-07-09 10:11] uli42 opened #184 "debian/README.source is out of date"
it mentions nxauth and instabilities with upstream libs. This is clearly not true anymore.

[2016-07-09 10:14] uli42 opened #185 "general Makefile is missing"
now:

[code]

before:

[code]

For my tests I was simply calling `make` in the nx-libs dir. The corresponding Makefile is missing now. Is this on purpose? What is the easiest way to build everything now?

[2016-07-09 12:36] sunweaver commented on #185
Hi Uli,

On Sat Jul 9 12:14:58 2016 GMT+0200, Ulrich Sibiller wrote:

Sounds like you are on the 3.5.0.x branch...

Mike

##

Sent from my Jolla

[2016-07-09 20:25] uli42 commented on #185
Doh! - you are right - I forgot to checkout the right branch. Is there a way to annihilate a ticket without traces????

[2016-07-09 20:25] #185 closed, assigned to nobody

[2016-07-09 20:26] uli42 commented on #184
had checked out the wrong branch - this issue is a non-issue

[2016-07-09 20:26] #184 closed, assigned to nobody

[2016-07-09 20:28] uli42 commented on #139
Can you please be specific why this is considered being a bad idea? I mean, a lib is a lib, why no use it?

[2016-07-09 22:02] uli42 commented on #91
I think I have found the reason for this. The x2goagent that is started by the x2goserver sets the environment. In that environment I find

[code]

`/usr/lib/x2go/x2gosuspend-agent` is a command that will trigger session suspension. However, NX_CLIENT is the variable that is used by nxcomp to find the nxclient executable which is used for displaying dialogs (the name is misleading, but that's the

[2016-07-11 19:01] uli42 opened #186 "add a debugging possibility to have coredumps for crashes"
SSIA

[2016-07-11 19:55] uli42 commented on #186
Normally we could simply add `ulimit -c unlimited` or `ulimit -c 100000` to the `nxagent` wrapper script.  But that does only work when the nx transport is used. Looks like nxcomp is handling the signal stuff.

[2016-07-18 08:46] uli42 opened #188 "update debian/copyright.in"
The files in there are no longer in sync with the files we ship.

I have addressed this partly in https://github.com/ArcticaProject/nx-libs/pull/187

[2016-07-18 12:21] sunweaver commented on #188
This is basically a duplicate of #2.

Please note, debian/copyright.in is machine generated and I plan doing that before the final 3.6.x release. (Of course, I can update the file for every release). But finalizing the actual debian/copyright will be painful and done before 3.6.0 at the end of August.

Say this, please undo the changes manually done on debian/copyright.in in PR #187.

[2016-07-20 15:03] HristoMohamed commented on #91
Yep, this bug has attacked our infrastructure as well.
Commenting system("x2gosuspend-session @words[2] > /dev/null"); doesn't do the trick either.

I tried to hack stuff around and I tried commenting any lines concerned with session suspension from the x2gostartagent and x2goresume-session , but it still gets suspended, wait, what?

[2016-07-21 08:51] HristoMohamed commented on #91
@uli42
Hey, just a simple update:
I dont really think that  **/usr/lib64/x2go/x2gosuspend-agent** get executed at all when this bug gets triggered.

[2016-07-21 08:59] uli42 commented on #91
Hmm, you can check if your configuration has NX_CLIENT set. Find the PID of the x2goagent process on the server. Then do `strings /proc/<PID>/environ | grep NX_CLIENT`. The executable configured there will be executed when you press CTRL+ALT+r.

Maybe you have ANOTHER bug. To ensure we are talking about the same please write down the exact steps how to reproduce this.

[2016-07-21 09:16] HristoMohamed commented on #91
Hey,
No I have the correct NX_CLIENT set there.
**NX_CLIENT=/usr/lib64/x2go/x2gosuspend-agent**

I have tried a few times to change NX_CLIENT to /bin/true (like suggested above), sadly this does not help the issue.
I did a very dummy debug of this script, I have added a simple print on the perl script in a file:
I do not see that print appearing when my session gets autosuspended or when I press c

[2016-07-21 09:47] uli42 commented on #91
How do you supend the session in step 2?

Where are you looking for the debug print you inserted? You should find a log on the server in /home/$USER/.nx/<your session>/ (I cannot check for details right now)

[2016-07-21 09:58] HristoMohamed commented on #91
Hey,
I suspend by clicking on the "SUSPEND" on the main client, (next to it is the terminate ;)) /I do not run it in fullscreen/.
I just do for the print, a simple system call /before you ask, yes it can write in /tmp/ / :
**system("echo whatever > /tmp/whatever") ;**

Anyway from the logs I see (here I presset ctrl+alt+r, in another session it would just do it immediatelly with 20-30seconds in be

[2016-07-21 10:23] uli42 commented on #91
Hmm, I will try to resproduce this this evening (probably without windows being involved).

Can anybody else reproduce this?

[2016-07-26 21:30] uli42 commented on #188
done

[2016-07-28 11:21] #132 closed, assigned to Ionic

[2016-07-28 11:32] sunweaver commented on #73
I presume that this can be considered as fixed by https://github.com/ArcticaProject/nx-libs/commit/443b52723e9d790e3a619406bcd8b0dd32390dc3.

Notes:
- from the provided doc URL, it only matters if the client-side Xserver has Render support or not. This has not been addressed so far and I see it as non-critical, because most Xservers nowadays have Render support on by default.
- The color depths is

[2016-07-28 11:32] #73 closed, assigned to nobody

[2016-08-01 08:24] uli42 opened #190 "remove nomachine reference"
nxcomp/Loop.cpp contains reference to nomachine:

[code]

Should be changed...

[2016-08-01 10:54] HristoMohamed commented on #91
Any update on this?
I am sure something is calling the /usr/bin/x2gosuspend-sesison => I moved it to a different file name and I could resume (albeit not suspend ;-) ) all my suspended test sessions.
It it funny because this bug with the auto-suspend only happens with sessions that have already been suspended, not with new sessions ;(

[2016-08-01 11:57] uli42 commented on #91
Sorry, forgot to update the topic. I can not provoke that behaviour.

You could try to replace/extend `/usr/bin/x2gosuspend-session` by some code that dumps the process tree so we know where it is called from. E.g call `ps -axjf` right at the beginning.

[2016-08-01 15:42] HristoMohamed commented on #91
Thanks a lot.
I am thinking that this is somehow related to x2goclean sessions. :(

[code]

[2016-08-01 16:43] uli42 commented on #91
I have looked into `/usr/sbin/x2gocleansessions`. There's only one code path that leads to x2gosuspend-session being called. That is when `/usr/lib/x2go/x2golistsessions_sql `hostname`` prints `S` in column 4 (starting from 0) but the session is still running. Then, and only then the session will get suspended by calling `x2gosuspend-session`.

All this should be visible in the syslog once you act

[2016-08-01 17:42] HristoMohamed commented on #91
It seems to have stopped after killing of all processes that had --help (three of them!), so I can't really reproduce this at the moment.
I tried around 10 reconnects and suspensions and it was ok, so I will ask my users to test it out as well.
I will report of it happens again.

Thanks a lot!

[2016-08-02 11:02] uli42 opened #191 "nxagent -full"
`nxagent -h` shows

`-full                  utilize full regeneration`

That switch opens the session in fullscreen for me, so the description seems a bit odd at least.

[2016-08-02 11:14] Ionic commented on #191
Good catch, I think that should be changed to "fullscreen" then... but what exactly is the "full regeneration" and how does it toggled?!

[2016-08-02 19:35] uli42 opened #192 "Invisible menu bar in java apps"
When running the example from http://alvinalexander.com/java/java-menubar-example-jmenubar-jframe in a rootless x2go session the window gets shown but the menu bar is not visible until the window is moved or resized. This happens (for me) in about 85% of all starts. It does not happen with all window managers since some of them take care of placing the window and this seems to trigger a event for

[2016-08-06 21:20] uli42 commented on #192
I now figured out that this is NOT related to using the nx transport. It happens in rootless session, regardless of the transport. You can simply run

[code]

and from another shell

[code]

to trigger that bug

[2016-08-08 15:49] wolkym commented on #82
Ubuntu 16.04.1 and stable ppa are affected by the same bug. Application: rootless Eclipse Kepler. On Ubuntu 14.04 everything works fine with the same versions of x2go from stable ppa.

[code]

# ubuntu 16.04 (bug)

[code]

# ubuntu 14.04 (no bug)

[code]

[2016-08-09 19:43] uli42 commented on #192
I have done some debugging. It looks to me like the problem is the way java tries to detect window managers. By adding some debug output for the java XWM class to the example above I can see that java does not detect a window manager in the rootless session. I think it should detect the outside window manager instead. Further, java decides that the example window`s parent ist the root window. This

[2016-08-10 07:13] woglinde commented on #192
This problem often occurs when using awt/swing and a fancy window manager like awesome.
Often it helps when setting

_JAVA_AWT_WM_NONREPARENTING=1; export _JAVA_AWT_WM_NONREPARENTING
or faking the windowmanager with
wmname Sawfish
or
wmname LG3D

[2016-08-10 07:22] uli42 commented on #192
On Wed, Aug 10, 2016 at 9:13 AM, Henning Heinold
notifications@github.com wrote:

I have tried all those - to no avail unfortunately...

Uli

[2016-08-21 11:47] uli42 commented on #161
@HolySephi Is this working now?

[2016-08-22 14:46] HolySephi commented on #161
No - but there isn't any new version available - still nxagent 3.5.99.0-0.1~git20160707.1403+14.04.nightly.1

tested with the new August-build ofthe windows x2goclient

[2016-08-23 15:49] sunweaver commented on #190
@uli42: good catch, will fix that wit a non-PR push...

[2016-08-23 15:51] sunweaver commented on #157
@uli42: do you already have a branch with libNX_X11 backports?

[2016-08-24 06:02] uli42 commented on #157
Yes, but not pushed yet. Maybe this afternoon.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎23.‎08.‎2016 17:51
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Mention" mention@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] backport lots of libX11 fixes beginning~2006 to

[2016-08-24 12:17] uli42 commented on #161
I have been trying (and failing) to see that with a linux client (I do
not have windows at hand). I am unsure what exactly you mean with
"Connect to the server as a normal window (800x600)". So you run any
desktop environment in there? What environment?

Second, "Maximize the x2goclient window of the session" is also not
very specific. Are you using the maxinimize button of the window? Or
are you

[2016-08-24 14:32] sunweaver commented on #190
Fixed by https://github.com/ArcticaProject/nx-libs/commit/ed5d920f6659d990408909c4195f4965955b5251. Thus closing (the commit message had a flaw in the "fixes"-statement).

[2016-08-24 14:32] #190 closed, assigned to sunweaver

[2016-08-24 14:50] HolySephi commented on #161
Just as i said. session setting is set to "window 800x600" and i'm pressing the "maximize window"-button on the top right corner of the window - i created a video file for you:

https://cloud.sephi.de/f/7b813481ba/    (valid for 14 days)

[2016-08-24 17:19] uli42 commented on #161
On Wed, Aug 24, 2016 at 4:50 PM, Florian Wicke notifications@github.com wrote:

This _could_ be caused by your desktop _inside_ the session, that is
why I am asking what you are running there. It looks like a Gnome
desktop, but just to be sure...

And in the video I cannow  see _how_ you trigger the window
maximization (by clicking the symbol in the window border, not by
other means). This was unc

[2016-08-24 18:54] HolySephi commented on #161
XFCE is  used as DE and yes, xinerama is enabled.
This does not happen with nxagent 3.5.0 and i'm able to reproduce this on different servers and on the same server while down- and upgrading back and forth between nxagent 3.5.0 and 3.5.99

[2016-08-24 19:22] uli42 commented on #161
Ok, thanks. This works for me with the Linux client.

Can you please retry with 3.5.99 with disabled xinerama and the
following /etc/x2go/x2goagent.options:

$ cat /etc/x2go/x2goagent.options
X2GO_NXAGENT_DEFAULT_OPTIONS=""
X2GO_NXAGENT_DEFAULT_OPTIONS+=" +extension XFIXES +xinerama"

# For everyone else: don't touch the line below!!!

X2GO_NXAGENT_DEFAULT_OPTIONS+=" -nolisten tcp"

Uli

On Wed, A

[2016-08-24 22:09] sunweaver commented on #174
@uli42: Will this issue be (fully) closed by any of the commits in PR #195? If so, please close this bug in the specific commit (by adding: Fixes ArcticaProject/nx-libs#174). Thanks.

[2016-08-24 22:11] sunweaver commented on #157
This issue will be closed by PR #195, the "merger" shall close this issue with the Git merge of PR #195.

[2016-08-24 22:59] uli42 commented on #174
I think so, but will check again.

[2016-08-24 23:02] uli42 commented on #157
Well, #195 updates libX11 to 1.3.4 (from  2010), so there are some
more years left. We can skip the XCB patches for now, but there might
be others as well, I have not checked yet

[2016-08-25 08:01] HolySephi commented on #161
No change in behaviour. Xinerama is disabled in the client and the x2goserver.options are set to your settings (+extension XFIXES instead of -extension)

[2016-08-25 08:19] uli42 commented on #161
Hmm, I have no idea of the reason. You could try enabling debugging output by defining TEST and DEBUG in `Screen.c` (somewhere at the top is a section, where these are undefed currently.). and build a new nxagent. Copy it to the same location your nxagent currently resides at. When starting the session a new session dir in `/tmp/.x2go-<username>` will be created. Please send me the `session.log`.

[2016-08-25 10:39] HolySephi commented on #161
[session.zip](https://github.com/ArcticaProject/nx-libs/files/436736/session.zip)

Window resizing starts on line 95

looks like a functions is sending a false return code:
117 nxagentChangeScreenConfig: return 1

[2016-08-26 11:29] uli42 commented on #161
Your log shows that there are requests to change the size to same values again and again. I suppose I should add a better check and do nothing then.

There are new nightlies now, please test with those.

[2016-08-29 09:01] HolySephi commented on #161
Sorry, it's still the same. The maximised resolution still gets set a few times per second in the session.log:

[2016-09-10 11:03] ColinFinck commented on #82
I'm suffering from the same bug on Ubuntu 16.04 while it previously worked in 14.04.
Binary patching out "BIG-REQUESTS" with "_IG-REQUESTS" in libxcb.so.1 as described in https://github.com/atom/atom/issues/4360 fixes the problem for me.
However, this is the worst possible solution for a production system..

[2016-09-11 10:19] uli42 commented on #82
On Sat, Sep 10, 2016 at 1:03 PM, Colin Finck notifications@github.com wrote:

Have you tried using the latest nightly builds of nx-libs?
(https://sunweavers.net/blog/node/20)

Uli

[2016-09-11 10:43] sunweaver commented on #82
Hi Uli, hi Colin,

On  So 11 Sep 2016 12:19:27 CEST, Ulrich Sibiller wrote:

Unfortunately, BIG-REQUESTS are broken-by-design in nxcomp. See:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=766299

Do thinks work better when disabling BIG-REQUESTS in x2goagent/nxagent?

 From the command line (although, this does not use nxcomp):

   nxagent -R -ac -extension BIG-REQUESTS :1

Or via /etc/x2go/x2

[2016-09-12 12:34] ColinFinck commented on #82
Yep, adding "-extension BIG-REQUESTS" to the X2GO_NXAGENT_DEFAULT_OPTIONS variable in /etc/x2go/x2goagent.options fixes the problem as well!

[2016-09-22 17:27] uli42 opened #200 "Server build still referring to X11 includes"
Imake places dependencies to include files in the resulting Makefile. There you can see that the compilation refers to files in /usr/include/X11 even if we have our own copies of most of them:

[code]

We need to clarify why that is and what we can do against that as it might cause hard to track problems...

In Agent.h I have included a workaround but I do not think we can add something like that

[2016-09-24 15:46] mikedep333 opened #202 "RPM FTBFS: imake: Command not found"
I am attempting to build 3.5.99.1 on Fedora 23 with the included .spec file.

I am getting this output:
make[2]: Entering directory '/builddir/build/BUILD/nx-libs-3.5.99.1/nx-X11'
make[2]: warning: jobserver unavailable: using -j1.  Add '+' to parent make rule.
make -w xmakefile
make[3]: Entering directory '/builddir/build/BUILD/nx-libs-3.5.99.1/nx-X11'
imake -I./config/cf  -s xmakefile -DTOPDIR=.

[2016-09-24 16:15] uli42 commented on #202
You need to install imake.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike DePaulo" notifications@github.com
Gesendet: ‎24.‎09.‎2016 17:46
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Betreff: [ArcticaProject/nx-libs] RPM FTBFS: imake: Command not found (#202)

I am attempting to build 3.5.99.1 on Fedora 23 with the included .spec file.
I am getting this output

[2016-09-24 19:31] sunweaver commented on #202
@mikedep333: I you add

[code]

To the top section of the .spec file, does that fix the FTBFS?

Mike

[2016-09-24 20:47] mikedep333 commented on #202
That fixes it. The entire F23 build was successful. I will submit a PR shortly.

Also, that should fix it for every RPM-based distro; [they seem to all use the package name "imake".](https://pkgs.org/search/imake)

[2016-09-24 22:00] #200 closed, assigned to sunweaver, Ionic

[2016-09-25 13:05] mikedep333 opened #204 "3.5.99.1 FTBFS on EPEL6"
After applying the fix for #202, I am getting these errors when attempting to build on the oldest Red Hat family release I tried, EPEL6:

In file included from Screen.c:88:
X11/include/Xrandr_nxagent.h:59: error: redefinition of typedef 'RRProvider'
../../randr/randrstr.h:70: note: previous declaration of 'RRProvider' was here
X11/include/Xrandr_nxagent.h:60: error: redefinition of typedef 'RRMode

[2016-09-26 08:53] uli42 opened #205 "randrproto.h references X11/ not nx-X11 - why?"
nx-X11/include/extensions/randrproto.h includes randr.h - but from the X11 namespace, not the nx-X11 namespace. #200 changed behaviour regarding X11/.. paths and we have randr.h in the nx-X11 namespace, too and that one will be taken now.

So the question arises: Is that a bug/mistake/flaw or is this on purpose?

`#include <X11/extensions/randr.h>`

[2016-09-26 08:58] uli42 opened #206 "replace makedepend by makegccdep"
compiling current 3.6.x results is lots of makedepend messages because stddef.h and stdarg.h cannot be found by makedepend. A quick google search suggested to use makegccdep instead which worked in my case.

Example:

[code]

There's some stuff in imake.tmpl and friends that seems to be there for a case like this (e.g. `DependCmd`).  However, I failed to integrate that into this imake config file

[2016-09-26 09:01] uli42 commented on #204
Does it work when you undo the fix for #200 ?

[2016-09-26 09:50] uli42 commented on #204
I cannot reproduce this on CentOS 6.7. When simply running `make` in the repo base dir it is compiling fine.

When I use `rpmbuild -ta` I get this:

[code]

According to [this posting](https://www.redhat.com/archives/fedora-packaging/2008-June/msg00011.html) we should extend the spec file.

[2016-09-26 11:06] vatral opened #207 "nxproxy host argument parsing is broken"
Revision c6e95651  appears to have introduced the change.

This commandline used to work, but now throws an error:

[code]

[2016-09-27 21:25] sunweaver commented on #207
On  Mo 26 Sep 2016 13:06:44 CEST, Vadim Troshchinskiy wrote:

I'll look into this the coming week. Thanks for discovering it and
reporting it.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerktea

[2016-09-27 21:26] sunweaver commented on #204
On  Mo 26 Sep 2016 11:50:54 CEST, Ulrich Sibiller wrote:

Looks good to me. Please propose a (tested) PR.

Thanks,

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2016-09-27 21:28] sunweaver commented on #205
On  Mo 26 Sep 2016 10:53:45 CEST, Ulrich Sibiller wrote:

I'll need to look into this in detail. I'll get back to you with some
thought the coming week.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-n

[2016-09-29 12:40] #202 closed, assigned to nobody

[2016-09-29 13:48] uli42 commented on #204
Strangely I cannot reproduce my problem. Instead I see the initial problem. The fix is to remove this line from `nx-X11/programs/Xserver/hw/nxagent/Screen.c`:

[code]

However, I must check again why this problem does not show on Ubuntu.

[2016-09-29 17:32] uli42 commented on #204
This error does not happen in Ubuntu 14.04 with gcc 4.8.4 while it happens with RHEL6's gcc 4.4.7

According to
https://bugzilla.redhat.com/show_bug.cgi?id=767538

this duplicate typedef is not allowed in C89 and C99 but newer gccs have an extension allowing it for identical typedefs. I can see that error on Ubuntu, too, when running `gcc -Wpedantic`

While removing the include line (see previous

[2016-09-29 21:03] uli42 commented on #205
Same for `nx-X11/include/extensions/damageproto.h`

[code]

[2016-10-01 09:05] #204 closed, assigned to nobody

[2016-10-01 18:17] #205 closed, assigned to sunweaver

[2016-10-01 18:20] #206 closed, assigned to sunweaver

[2016-10-03 23:12] uli42 opened #212 "add zstd support"
see [zstd](https://code.facebook.com/posts/1658392934479273/smaller-and-faster-data-compression-with-zstandard/)

_"In other words, compared with zlib, Zstandard scales:
    At the same compression ratio, it compresses substantially faster: ~3-5x.
    At the same compression speed, it is substantially smaller: 10-15 percent smaller.
    It is almost 2x faster at decompression, regardless of compre

[2016-10-04 14:43] uli42 opened #213 "Security advisory from X.org"
https://lists.freedesktop.org/archives/xorg/2016-October/058344.html

Thanks to our cleanup efforts we are only (directly) affected by one of the mentioned problems (in libX11) and should apply the corresponding fix.

[2016-10-07 12:03] vatral opened #217 "nxproxy crashes when TEST is defined"
[code]

[2016-10-07 19:53] #217 closed, assigned to nobody

[2016-10-07 20:00] sunweaver opened #219 "PR #208 causes FTBFS..."
@uli42: I merged #208 too quickly and did not wait for my test build to finish. Is it possible that you forgot to add xkbfile.h in one of the #208 commits?

Could you please take another look at that? Or does it needed #214 to get merged, too.

Mike

[code]

[2016-10-07 20:13] #207 closed, assigned to sunweaver

[2016-10-07 22:33] uli42 commented on #219
Yes, I seem to have forgotten xkbfile.h. Sigh. This is even worse, since the commit where it should have been included (2c31ce2f2a97a8dd358d95d3918c43d9474f3d16) has also a wrong commit message

So what's the best way to cope with this? Revert and re-commit?

Update: revert causes further grief, so I simply added a fix commit. Please retry!

[2016-10-08 07:00] sunweaver commented on #219
Yes, revert that special commit and re-apply the correct version.

Mike

On Sat Oct 8 00:33:59 2016 GMT+0200, Ulrich Sibiller wrote:

##

Sent from my Fairphone (running Sailfish OS)...

[2016-10-08 09:16] uli42 commented on #219
Revert was too intrusive, have done a fix commit.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎08.‎10.‎2016 09:00
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Assign" assign@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] PR #208 causes FTBFS... (#219)

Yes, revert tha

[2016-10-08 19:31] #219 closed, assigned to uli42

[2016-10-12 06:33] #157 closed, assigned to nobody

[2016-10-12 21:32] uli42 opened #223 "Recompilation with 'make Everything' fails"
After running `make` in the top level dir and compiling the whole stuff you can run some other make targets in the nx-X11 directory. Normally you run `make World` to rebuild the whole tree. But this is a lengthy process which can be shortened by running `make Everything`. Unfortunately this fails due to unclean linking:

[code]

`ln -snf` or similar should be used here. Or the target should be rem

[2016-10-12 21:47] uli42 commented on #223
Maybe the linking of the nxcomp headers should not be done from the xserver makefile but from the nxcomp makefile.

[2016-10-13 13:47] sunweaver opened #224 "segfault with nxagent 3.5.99.2"
$  export LD_LIBRARY_PATH="/usr/lib/x86_64-linux-gnu"/nx-X11/
$ gdb /usr/lib/x86_64-linux-gnu/nx/bin/nxagent

[code]

[2016-10-13 13:55] uli42 commented on #224
At first glance it looks like your $DISPLAY is set to `local:/0` which I have never seen anywhere. Can you please set it to :0 and retry?

[2016-10-13 14:24] uli42 commented on #224
Just to be sure: can you please run `ldd /usr/lib/x86_64-linux-gnu/nx/bin/nxagent` and check, if the system's libX11 is appearing in the list (it should NOT!)?

[2016-10-13 17:29] uli42 commented on #224
I cannot seem to provoke this with a fresh compile on Ubuntu 14.04. What OS are you running?

Also, I have just rebased the pr/further_backports branch. Can you please retry with that?

[2016-10-13 20:01] sunweaver commented on #224
I see this on Debian jessie and Debian unstable.

Also the build logs contain this:

[code]

[2016-10-13 20:11] uli42 commented on #224
I see those, too, and my system works.

I am suspecting you are using abstract sockets. But it looks like we
never compile the needed code, I cannot find where
HAVE_ABSTRACT_SOCKETS is defined.

On Thu, Oct 13, 2016 at 10:01 PM, Mike Gabriel notifications@github.com wrote:

[2016-10-13 20:12] sunweaver commented on #224
In lib/xtrans/Xtrans.c, you can find TRANS(ParseAddress). The comment at the top of the function explains the "local/:0" syntax of display_name.

Also, TRANS(ParseAddress) adds the local/ part if no hostname is given.

And of course, we want to support ABSTRACT_SOCKETS.

[2016-10-13 20:15] sunweaver commented on #224
in X.org's Xtrans/Xtranssock.c, I find:

[code]

[2016-10-13 20:16] sunweaver commented on #224
And we have that, too. But why do you mention it here?

[2016-10-13 20:23] sunweaver commented on #224
[code]

[2016-10-13 20:25] uli42 commented on #224
For two reasons:
- I have seen the local/:0 in the backtrace
- I do not have the problem here

On Thu, Oct 13, 2016 at 10:17 PM, Mike Gabriel notifications@github.com wrote:

[2016-10-13 20:26] uli42 commented on #224
The question is: Where does that local/:0 come from?

On Thu, Oct 13, 2016 at 10:23 PM, Mike Gabriel notifications@github.com wrote:

[2016-10-13 20:33] uli42 commented on #224
Ok, forget that, I see that, too, in my _working_ nxagent

On Thu, Oct 13, 2016 at 10:26 PM, Ulrich Sibiller uli42@gmx.de wrote:

[2016-10-13 20:34] sunweaver commented on #224
I checked a bit deeper...

[code]

It seems that the address of ciptr gets crippled. In _X11TransOpen, I initially get 0x555555bf7da0. In _X11TransConnect what remains is: 0x55bf7da0.

Any clue why that happens?

[2016-10-13 20:37] uli42 commented on #224
Hmm, might be the compiler, maybe we shoudl concentrate on the warnings

[2016-10-13 21:11] tasleson commented on #85
I look to be hitting this same issue, occurring on F24, nxagent-3.5.0.32-4.fc24.x86_64

[code]

and

[code]

[2016-10-13 21:19] uli42 commented on #224
My backtrace differs in XOpenDisplay already:

#2  0x00007ffff5c3ef14 in XOpenDisplay (display=0xb531e0 "") at OpenDis.c:221
       dpy = 0xb531e0
        i = 11761344
        j = 1
        k = 32767
        display_name = 0xb382c0 <nxagentDisplayName> ":0"
        endian = 32767
        client = {byteOrder = 0 '\000', pad = 0 '\000', majorVersion =
0, minorVersion = 0, nbytesAuthProto = 0, nbytes

[2016-10-13 21:56] uli42 commented on #224
Adding #define NX_TRANS_TEST at the top of OpenDis.c and ConnDis.c
gives me this output:

$ ./nxagent :1

NXAGENT - Version 3.5.99.2

Copyright (c) 2001, 2011 NoMachine (http://www.nomachine.com)
Copyright (c) 2008-2014 Oleksandr Shneyder o.shneyder@phoca-gmbh.de
Copyright (c) 2011-2016 Mike Gabriel mike.gabriel@das-netzwerkteam.de
Copyright (c) 2014-2016 Ulrich Sibiller uli42@gmx.de
Copyright (c)

[2016-10-14 13:46] sunweaver commented on #224
The build with NX_TRANS_TEST defined gives this:

[code]

[2016-10-14 13:47] sunweaver commented on #224
FYI: we are one step further. Reason for the segfaults "is" the -pie / -fPIE hardening flags in LDFLAGS / CFLAGS. If PIE hardening is disabled at build time, nxagent does _not_ segfault. With PIE enabled, it segfaults.

[2016-10-14 15:06] uli42 opened #225 "use RPATH for binaries"
Set the RPATH on nxagent and nxproxy so that they find their libs without LD_LIBRARY_PATH

[2016-10-15 16:15] uli42 opened #226 "warning: ISO C forbids conversion of object pointer to function pointer type"
In nx-X11/lib/X11 we get several of these warnings. And it is unclear how to fix them in clean manner. Upstream has exactly the same code here. So either they are not using  `-Wpedantic` or they don't care.

Here's a link with a possible solution but this way out code will differ from upstream: http://stackoverflow.com/questions/36384195/how-to-correctly-assign-a-pointer-returned-by-dlsym-into-a-v

[2016-10-15 16:29] uli42 opened #227 "libX11: enable COMPOSECACHE?"
Upstream has this configure switch:
  --disable-composecache  Disable compose table cache support

(so thje default is enable which results in -DCOMPOSECACHE)

We currently do not use this in libX11. Can we enable it?

Note: this way I found some unclean variable handling stuff in upstream imLcIm.c which should be reported.

[2016-10-15 16:30] uli42 opened #228 "libX11: fix overflow warning?"
[code]

Currently it is unclear how to fix this.

[2016-10-15 20:28] uli42 opened #229 "Fix "‘XKeycodeToKeysym’ is deprecated""
There are several places in hw/nxagent that warn about a deprecated function call:

[code]

According to http://stackoverflow.com/questions/9838385/replace-of-xkeycodetokeysym these calls should be replaced by `XkbKeycodeToKeysym`.

[2016-10-17 11:51] uli42 opened #231 "No nightlies for RPM-based distros"
https://jenkins.arctica-project.org/

No nightly builds for nx-libs for rpm based distros available have been built. Why?

[2016-10-17 23:22] uli42 commented on #229
Not sure that my previous changes are correct, since Jeremy Huddleston mentions XGetKeyboardMapping, not XkbKeycodeToKeysym: https://lists.freedesktop.org/archives/xorg-devel/2011-October/026193.html

[2016-10-17 23:40] uli42 commented on #229
I have removed those changes from my #230 pr for now and put my changes to a separate branch:  https://github.com/uli42/nx-libs/tree/pr/fix_keycode_to_keysym

Need to discuss the right solution.

[2016-10-18 08:50] uli42 opened #233 "packaging libX11"
[code]

These links should be part of the libNX_11 package, not of the nxagent package.

[2016-10-18 09:33] uli42 opened #234 "add libX11 links"
For testing it would help if there were `libX11` links in addition to the `libNX_X11` links in exports/lib after compilation. However, I cannot seem to find out how to instruct Imake for that...

[code]

Also, linking `libXcomp*` to that dir as well would help even more.

[2016-10-18 09:48] uli42 opened #235 "nx-X11/lib/X11/libX11.elist required?"
What do we need this file for?

autotools based upstream does not have it.

[2016-10-18 17:30] sunweaver commented on #235
The export list for libX11 is not used at all. Clearance for removal given. ;-)

[2016-10-18 17:31] sunweaver commented on #234
[...] (comment removed as it was placed here erroneously...

[2016-10-18 17:32] sunweaver commented on #234
sorry, comment was for #233... Putting it there...

[2016-10-18 17:32] sunweaver commented on #233
I don't agree on this (i.e. #233).

These special symlinks are not part of the libNX_X11 library, but part of our nasty LD_LIBRARY_PATH (or later on RPATH) hack for nxagent. That's why I included them in nxagent packaging. Debian's lintian tool will, furthermore, complain if a shared library packages contains more files than the actual shared library and closely related files.

[2016-10-18 17:34] sunweaver commented on #231
Yeah. I can add test builds to Jenkins, but don't have enough time to set up a range of RPM repos. Putting that on my list, but with lo prio for now.

[2016-10-18 17:34] sunweaver commented on #231
writing the above... consider this as an RFH (request for help)... @Ionic?

[2016-10-18 17:49] sunweaver commented on #229
@uli42: your approach seems correct: http://stackoverflow.com/questions/9838385/replace-of-xkeycodetokeysym#22418839

I have looked through the pile of macros in XKBstr.h and it seems that with some detours, XkbKeycodeToKeysym does what we expect from it. What is meant by XGetKeyboardMapping is that libX11 does not ship the keysyms statically any longer, but that dpy->syms gets populated via XGetK

[2016-10-18 17:50] sunweaver commented on #229
Don't forget to add a fixes statement to the commit solving this issue before filing the PR. Thanks.

[2016-10-18 17:54] sunweaver commented on #228
/me shrugs... No clue, either...

[2016-10-18 18:09] sunweaver commented on #227
IMHO we should enable it. From the code I read, it does not heard and then nxagent's libNX_X11 is compliant with libX11.

However, the COMPOSECACHE stuff only gets use if either of the folders exists:

[code]

I never tried it, but if you create .compose-cache in your home, do X11 applications start populating it?

[2016-10-18 18:14] sunweaver commented on #225
Only nxagent needs that.

[2016-10-18 18:14] sunweaver commented on #225
and... agreeing on this...

[2016-10-18 18:18] sunweaver commented on #226
the Debian package libX11 does not use -Wpedantic, at least...

[2016-10-19 07:03] uli42 commented on #233
Ok, I just wanted to point out that it looks wrong at first sight.

OTOH what else are those links than "closely related files"?

On Tue, Oct 18, 2016 at 7:32 PM, Mike Gabriel notifications@github.com wrote:

[2016-10-19 07:06] uli42 commented on #231
Having never worked with jenkins, so maybe a dumb question: Why do you
need to setup a range of repos? I my (maybe too simple) imagination of
jenkins you need an enviroment with the required devel packages
installed and can then build the rpms. Am I wrong? I think a manual
download is acceptable for nightlies, so again no repo needed.

On Tue, Oct 18, 2016 at 7:34 PM, Mike Gabriel notifications@gi

[2016-10-19 07:10] uli42 commented on #229
What really made me unsure about this is the conversion of the last
(two) parameter(s):

The stackoverflow post above states that

 idx = group_index \* key_width + shift_level

But I only see code where 0 is taken for the group parameter. I think
you'd need to determine key_width (probably from xkb structure) and
then to some div/mod calculation to do it right.

On Tue, Oct 18, 2016 at 7:50 PM, M

[2016-10-19 07:14] uli42 commented on #227
Hmm, I do not have these directories, but I have

[code]

Here are some manuals:

https://www.x.org/archive/X11R7.5/doc/man/man8/mkcomposecache.8.html
ftp://www.x.org/pub/xorg/X11R7.5/doc/man/man5/Compose.5.html

On Tue, Oct 18, 2016 at 8:09 PM, Mike Gabriel notifications@github.com
wrote:

[2016-10-19 07:15] uli42 commented on #226
Ok, so why do we use it in the normal build environment?

On Tue, Oct 18, 2016 at 8:18 PM, Mike Gabriel notifications@github.com wrote:

[2016-10-19 08:39] sunweaver commented on #226
Hi Ulrich,

On  Mi 19 Okt 2016 09:15:40 CEST, Ulrich Sibiller wrote:

... to become aware of such issues. However, we should move the
-Wpedantic flagging from imake stuff into the debian/rules's
CDEBUGFLAGS parameter.

When doing proper distro packaging, this flag can then easily be
omitted. Would this be a satisfying solution?

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobi

[2016-10-19 08:40] sunweaver commented on #231
Hi Ulrich,

On  Mi 19 Okt 2016 09:06:46 CEST, Ulrich Sibiller wrote:

I'll see to this... Let's start with test builds without binary
uploads to $SOMEWHERE for now... So we have the CI part covered.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail:

[2016-10-19 08:41] sunweaver commented on #233
On  Mi 19 Okt 2016 09:03:47 CEST, Ulrich Sibiller wrote:

They are simply not closely related enough for lintian (closely
related: libNX_X11.so symlink, pkg-config files, etc.).

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netz

[2016-10-19 08:59] uli42 commented on #226
Honestly, I do not understand that suggestion. Why move it to debian
and lose it for other distros this way?

On Wed, Oct 19, 2016 at 10:39 AM, Mike Gabriel notifications@github.com wrote:

[2016-10-19 09:00] uli42 commented on #231
agreed

On Wed, Oct 19, 2016 at 10:40 AM, Mike Gabriel notifications@github.com wrote:

[2016-10-19 09:20] sunweaver commented on #226
Hi Ulrich,

On  Mi 19 Okt 2016 10:59:29 CEST, Ulrich Sibiller wrote:

the background of the suggestion is: leave the decision of using
-Wpedantic or not to the package maintainer. Thus we don't add it to
CFLAGS, but the maintainer "may". For nightly builds, I would then set
it in debian/rules and nx-libs.spec (sorry, I forgot to mention the
.spec file in my previous post). For official distro pack

[2016-10-19 09:24] uli42 commented on #226
ok, but that would mean a normal make invocation will not have it,
right? So we will see these warning only for deb/rpm builds, but not
for test/development builds.

On Wed, Oct 19, 2016 at 11:20 AM, Mike Gabriel notifications@github.com wrote:

[2016-10-19 09:29] sunweaver commented on #226
Hi Ulrich,

On  Mi 19 Okt 2016 11:24:11 CEST, Ulrich Sibiller wrote:

Yes and no. When testing builds locally just using make, you can use
the same build parameters as found in debian/rules:
https://github.com/ArcticaProject/nx-libs/blob/3.6.x/debian/rules#L55

Something similar, you can see in the .spec file:
https://github.com/ArcticaProject/nx-libs/blob/3.6.x/nx-libs.spec#L391
(and below)

The

[2016-10-19 10:16] uli42 commented on #226
On Wed, Oct 19, 2016 at 11:29 AM, Mike Gabriel notifications@github.com
wrote:

[2016-10-19 10:24] uli42 commented on #226
I do not set any C*FLAGS at the moment, I just run make. Do the
current setup is quite convenient for me (and reproducable). The
debian part currently filters out -fPIE, so it could also filter out
-Wpedantic, I don't see the advantage.

On Wed, Oct 19, 2016 at 12:16 PM, Ulrich Sibiller uli42@gmx.de wrote:

[2016-10-19 20:17] sunweaver commented on #174
Fixed by ef5565f8ed86f05ca20ff1bfc5892fb8a2c557bc. Thus, closing this issue.

[2016-10-19 20:17] #174 closed, assigned to uli42

[2016-10-19 21:54] uli42 opened #237 "MITSHM define missing for Xserver/fb subdir"
I just noticed that `fb/fboverlay.c` has `#ifdef MITSHM` but the Makefile does not set it.

Upstream seems to have it enabled by default and NX also sets in e.g. in the `mi/` subdir. So is there a miss here?

[2016-10-20 08:57] sunweaver commented on #235
Fixed by da01dc8da1aedb1f75d62c03748a239c54b14483, this closing.

[2016-10-20 08:57] #235 closed, assigned to nobody

[2016-10-20 08:57] sunweaver commented on #233
Closing this issue, nothing to be changed.

[2016-10-20 08:57] #233 closed, assigned to nobody

[2016-10-20 09:02] sunweaver commented on #229
So we should go this path then? I guess, we should.

[code]

---->

[code]

[2016-10-20 09:05] sunweaver commented on #226
Are you saying, we should drop -Wpedantic again? Or that we shall keep it? In packaging, I can filter out flags set by the build env (e.g. dpkg-buildpackage), but I can filter out flags hard-coded in the Imakefiles. I can patch them out, of course.

So, as I am not fully getting your point on this, shall we leave things as they are now? Or drop -Wpedantic again?

[2016-10-20 09:21] Ionic commented on #226
(I think you meant to write "In packaging, I can filter out flags set by the build env (e.g. dpkg-buildpackage), but I **can't** filter out flags hard-coded in the Imakefiles." in your comment above.)

I'd prefer to keep warning flags such as `-Wpedantic`, `-Wall`, `-Wextra` etc.

If upstream decides otherwise, they can drop them themselves.

Ulis point is that as far as he saw it, `-Wpedantic` is

[2016-10-20 10:23] uli42 commented on #226
My builds (using just make) use `-Wpedantic`. I have not checked where that comes from. And I'd like to preserve it that way.

My point is: packaging should rely on the flags a plain make is using and adjust them in the packaging environment, if needed. But the reference should be the make invocation so that builds for all destinations are using the same flags.

[2016-10-20 10:26] sunweaver commented on #226
On  Do 20 Okt 2016 12:23:37 CEST, Ulrich Sibiller wrote:

https://github.com/ArcticaProject/nx-libs/commit/f4f0b4490962cb82f9ef4cf88356abcfea7eebf2

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwe

[2016-10-20 10:31] uli42 commented on #226
Maybe the even simpler point is: I do not want to rely on any distribution dependend scripts/tools/whatever. I have a source and want to compile that. Period. Packaging and toold related to that are totally out of scope here and are happening _outside_ the source.

[2016-10-25 13:17] uli42 opened #238 "harmonize XKB defaults"
XKB_BASE_DIRECTORY gets defined via the makefile:

[code]

Some source files check for that define and set a default otherwise. Because we set it in the makefile it does not matter that there are different defaults in the source files.  IMHO it should be that same everywhere nevertheless.

Also, I think we should drop NX_XKB_BASE_DIRECTORY and use XKB_BASE_DIRECTORY everywhere.

[code]

[2016-10-25 13:55] uli42 opened #239 "keyboard config file"
in `hw/nxagent/Keyboard.c` a file containing the keyboard config of the real X server is created in the agent's session dir, called `keyboard`. This file can be fed to `setxkmap` using the `-config` option:

[code]

Currently this does not work because setxkbmap is a bit picky about the correct format and will issue a `Couldn't find configuration file "/tmp/keyboard"` error message (which really m

[2016-10-26 08:15] uli42 opened #240 "revise keyboard configuration"
NX uses `xfree86` rules by default. If the client side is Linux and using `evdev` rules and model the nxagent activates a keycode mapping (see `nxagentConvertKeycode()` in `hw/nxagent/Keyboard.c`) to map `evdev` keycodes back to `xfree86` keycodes. I suppose this was necessary years ago because Xorg did not ship `evdev` support in the xkb database and NX was using `xfree86`. Starting 2009 (see htt

[2016-10-26 08:23] uli42 opened #241 "add defaults to nxagent manpage"
=reconnectchecks= and =sleep = do not have any documented defaults (or hints how achieve the defaults of previous versions). This amybe true for other options as well.

[2016-10-27 21:43] uli42 opened #244 "XServer Imakefile wrong"
`nx-X11/programs/Xserver/Imakefile` contains this:

[code]

`BuildIncludes()` creates these lines in the resulting `Makefile` (made more readable by me):

[code]

which gets excuted like this:

[code]

As you see, the rm tries to delete the file from the source directory while it should delete the one in the current dir. Fortunately, the relative path is _wrong_ and so rm tries to delete the non-e

[2016-10-27 22:14] uli42 opened #245 "/etc/nxagent hardcoded"
The central Makefile knows `ETCDIR_NX`:

[code]

But some source files have this hardcoded:

[code]

[2016-10-27 23:00] uli42 opened #246 "remove XFree86LOADER"
Currently we use this define: `-UXFree86LOADER`

Which means `xf86_ansic.h` and therefore `xf86_libc.h` are never included and can be removed. To be really clean here we should backport this upstream commit: https://cgit.freedesktop.org/xorg/xserver/commit/?id=c3d14036729fd186d4ec7ca1de603e1f2d174e2f

[2016-10-28 10:10] uli42 commented on #246
I have a branch that removes the xfree86 dir completely. This is working. However, the XFree86LOADER define stuff still should be backported. Here my branch: https://github.com/uli42/nx-libs/tree/pr/remove_xf86

[2016-10-28 12:05] sunweaver commented on #229
Reference, related to this: http://bugs.x2go.org/695

[2016-10-28 12:25] sunweaver commented on #246
Please file remove_xf86 as a PR now. I will backport the commit referenced above. Make sure you close this issue with one commit in your PR.

[2016-10-28 13:31] sunweaver commented on #240
It would be interesting, why NoMachine chose the original approach. In X2Go, we use the keyboard file, which you have already been playing with in https://github.com/ArcticaProject/nx-libs/pull/243.

Keyboard stuff is tricky in remote desktop approaches. Problematic is, that remote desktop shells have its own agenda around keyboard layout and such. In MATE, for example, you can override system-wid

[2016-10-28 14:00] sunweaver commented on #234
@uli42: When doing it the imake way, I guess this has to go into nx-X11/config/cf/lnxLib.rules (line 147 ff.). But would it also be acceptable to hack that into our main Makefile (somewhere below line  70)?

[2016-10-28 14:05] uli42 commented on #240
Well, the setxkbmap approach using the generated keyboard file did _not_ work for me because of the empty options line. That's why I have fixed that.

The xmodmap approach should always work. So it could be used as the one for all solution.

Regarding Desktop environments setting own keyboards: Nxagent has features to ignore keyboard changes coming from (inside) clients. But they do not seem to wo

[2016-10-28 14:22] sunweaver commented on #238
and... we define it as XKB_BASE_DIRECTORY=\"$(LIBDIR)/xkb\"...

Whereas X.org has it in DATADIR, meanwhile... So we should switch over to that.

[2016-10-28 14:55] sunweaver commented on #238
I just compared X.org approach with our (old X.org) approach. My suggestion here is:
- drop XKB_ALTERNATE_BASE_DIR.
- set the default XKB_BASE_DIR to /usr/local/share/X11/xkb.
- come-up with one or more include file(s) where _all_ those hard-coded paths get defined
- package maintainers must patch that file when they need different defaults (very likely)
- move more and more definitions into that

[2016-10-28 14:56] sunweaver commented on #238
Note, that there are also defaults for XKB rules, model, etc. ...

[2016-10-28 15:08] sunweaver commented on #229
I guess, we can straight away adopt the required code section from X.org's Xnest. I will do this, if I don't get any vetos.

[2016-10-28 15:12] sunweaver commented on #213
@uli42: can you add fixing this issue to your list? Thanks.

[2016-10-28 15:13] sunweaver commented on #224
This issue got probably fixed by https://github.com/ArcticaProject/nx-libs/commit/61b8d44f1f76df5abb9e53427f07e9f1ad987e32.

It has been resolved by now, thus closing.

[2016-10-28 15:13] #224 closed, assigned to nobody

[2016-10-28 22:53] uli42 commented on #213
[code]

-> we are at 1.6.4

[2016-10-28 22:53] #213 closed, assigned to uli42

[2016-10-28 23:07] uli42 commented on #229
No veto, but I have not found anything like that in Xnest!?

[2016-10-28 23:11] uli42 commented on #238
We could create those new include files using autotools right now!

[2016-10-28 23:14] uli42 commented on #223
As soon as #247 is merged this can be closed.

[2016-10-29 08:35] #223 closed, assigned to nobody

[2016-10-29 08:35] #244 closed, assigned to sunweaver

[2016-10-29 09:37] sunweaver opened #250 "remove VCS info lines (stemming from old X.org devs) from all nx-libs code files"
Over the past two years, I never needed any of the VCS info lines stemming from X.org / Xfree86. I suggest removing all of them (we already removed some / many, but I still find those on several files all over the code tree).

X.org has Git, we have Git, so that should be a valid replacement for those VCS info lines in the code.

[2016-10-29 09:44] sunweaver commented on #238
I am a bit reluctant doing the autotools step before 3.6.0. Part of that step will be splitting up the code in nx-libs into these individual Git repos...

  nxcomp
  libNX_X11
  nxcompext
  nxcompshad
  nxproxy
  nxagent

[2016-10-29 10:11] sunweaver opened #252 "nxagent: Drop Xserver/fb/fbmmx.c."
USE_MMX is not defined, so nothing from fbmmx.c gets built for nxagent. (+ the file has been dropped by X.org, too).

[2016-10-29 10:21] sunweaver commented on #234
... just saw, that you have the "fixes" statement in the commit msg... Ignore the that part of my noise.

[2016-10-29 12:52] uli42 commented on #234
So why did you reopen this issue?

Is it because of this?: "Also, linking libXcomp\* to that dir as well would help even more."

[2016-10-29 12:59] sunweaver commented on #234
On  Sa 29 Okt 2016 14:52:10 CEST, Ulrich Sibiller wrote:

Simply, because I erroneously clicked on "Comment & Close", instead of
"Comment"...

Ignore the close-reopen-flaw.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkt

[2016-10-29 13:01] uli42 commented on #234
What do you think about linking libXcomp\* to exports/lib, too?

[2016-10-29 13:06] sunweaver commented on #234
On  Sa 29 Okt 2016 15:01:37 CEST, Ulrich Sibiller wrote:

If exports/lib is only used at build time / for testing, then yes.

IIRC, exports/lib gets used at build time, whereas .build-exports/ is
the template for make install, right?

If so, we should make sure that what we put in exports/ does not end
up in .build-exports/.

At the moment, after build I have a copy of
.build-exports/include/nx-X1

[2016-10-29 21:31] uli42 opened #255 "nxcompext/NXlibint.h is unused"
It is linked to `exports/include/nx` but not referenced anywhere. Remove it?

[2016-10-30 01:08] uli42 opened #256 "Many unused files during build"
The list below contains a number of files that have not been read during build on Ubuntu 14.04 (files that had not change their access time). I have commented on most of the files. For some of the files I have prepared a PR (pr/unused_files). Please have a look at it and comment.
1. removed in my branch uli42:pr/unused files
2. can generate `initatoms.c` and `Xatom.h` but these files are in the re

[2016-10-30 01:13] uli42 commented on #80
I have not found much in in the changelogs.

It seems to me that it has never been integrated.

Using `xset` you can control the plain X11 screensaver. but I failed to force any screenblanking using those. This needs some investigation. The MIT-SCREEN-SAVER adds stuff on top of that but blanking should also work without the extension.

[2016-10-30 10:41] uli42 opened #257 "revisit keyboard blocking/ignoring options"
nxagent knows these command line options:

[code]

Their names indicate that blocking/ignoring is active by default. In all the time I have been using NX I never have needed them and could happily change keyboard settings within the session (always via setxkbmap). While playing around with keyboard stuff last week I came across one case where I needed `-noignore` and `-noxkblock` (but that was a m

[2016-10-30 12:49] uli42 opened #259 "why own rgb file?"
Why do we have an own `etc/rgb` file? It is identical to the `/usr/share/X11/rgb.txt` (on ubuntu 14.04) and that file should be existing on all systems offering an Xorg installation.

[2016-10-30 13:17] sunweaver commented on #256
On  So 30 Okt 2016 02:08:29 CET, Ulrich Sibiller wrote:

[code]

install-sh can go away, in theory...

[code]

The winbuild of nx-X11 and a like is really non-maintained and to my
sense we should really think about dropping that support. If someone
steps out and seriously wants to continue / reintroduce Windows
maintenance, this file can be re-added. But for now, we should drop
it, IMHO. And with

[2016-10-30 13:20] sunweaver commented on #259
On  So 30 Okt 2016 13:49:09 CET, Ulrich Sibiller wrote:

I agree on this. When removing that file, make sure that nxagent
depends on x11-common (Debian) and ??? (RPM based systems).

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-

[2016-10-30 13:32] #255 closed, assigned to sunweaver, Ionic

[2016-10-30 16:52] uli42 opened #261 "Remove install-sh and mkinstalldirs"
`nx{comp{,ext,shad},proxy}` all contain `install-sh` and `mkinstalldir`. Both should not be part of the repo but come with autotools.

[2016-10-30 17:02] Ionic commented on #259
Wait, haven't newer X.Org versions dropped the rbg.txt file completely?

[2016-10-30 17:20] sunweaver commented on #261
@uli42: Are you working on this already?

[2016-10-30 17:22] sunweaver opened #262 "nxcomp: add test script that illustrates NX_SLAVE_CMD"
@vatral (from TheQVD) recently added a new features that involves an NX_SLAVE_CMD on both ends of an NX based session.

@vatral: Please add a testscript that illustrates usage of that features to our testscripts/ subfolder. Thanks!!!

[2016-10-30 17:25] sunweaver commented on #257
@uli42: I wonder if we should postpone working on this for 3.7.x or a later 3.6.x point release. Comments? Feedback?

[2016-10-30 18:00] sunweaver commented on #259
@Ionic: x11-common 1:7.7+16 still has it. Where did you get that information from?

[2016-10-30 18:01] uli42 opened #263 "screensaver file unused."
`hw/nxagent/screensaver` is unused

Sunweaver:

(BTW: screensaver seem to work in X, but my observation is it does not blank the screen. This might be related)

[2016-10-30 18:08] uli42 opened #264 "libX11 xlibi18n unused?"
The following stuff is currently not used during build. Either fix that or remove them. Check, what upstream does.

[code]

[2016-10-30 18:19] uli42 opened #265 "Unused files in libX11 build"
These files are currently unused in the libX11 build. Check, if Imakefile is incomplete here.

[code]

[2016-10-30 18:20] uli42 commented on #256
On Sun, Oct 30, 2016 at 2:17 PM, Mike Gabriel notifications@github.com wrote:

Ok, have opened a separate issue for that: #261

Is there really no need for nxcompext? And was there ever an agent for
Windows? I have never seen that in action!

I would like to hear Ionic's opinion to this.

The screensaver extension (MIT-SCREEN-SAVER) is not built by default,
is has to be activated somewhere in `nx-

[2016-10-30 18:34] Ionic commented on #259
Maybe I'm confusing something here. In earlier versions, X.Org shipped a file called `rgb` in `/etc/X11`, while later versions switched to `/usr/share/.../rgb.txt`.

It was probably never dropped, but I remember having had problems due to the rgb file not being found or something like that in the past. What probably **was** removed is the explicit configuration of the file path in a standard `X.or

[2016-10-30 18:36] Ionic commented on #259
This said, if we remove it from `nx-libs` and don't ship a private copy, we'll need to make sure that the system file is being loaded and adapt the code for that. Just dropping the file without further work will probably lead to programs failing to start because they were unable to find the color `Black` or other stuff.

[2016-10-30 18:55] sunweaver commented on #256
On  So 30 Okt 2016 19:20:55 CET, Ulrich Sibiller wrote:

Seen that. Let me know if I should work on this or you.

Wait. I think there is a need for nxcompext. Why do you get to this
conclusion?

About nxagent on Win32 platforms. Never seen that either.

And @mikdep333's opinion, as he is a Cygwin guy and our potential maintainer.

Ah. Ok. Maybe we should enable it. I will check that.

The Qindel p

[2016-10-30 18:57] sunweaver commented on #259
Yeah, sure. Also we need to check other distros, installation paths of that file, etc.

I mark this issue for milestone 3.7.x, with 3.6.x we keep our own copy for now.

[2016-10-30 19:00] sunweaver commented on #261
@uli42: I have assigned myself to this for now. Veto, if you are already on it.

[2016-10-30 20:06] uli42 commented on #257
Yes, but changes here will probably change the default behaviour. So introducing that for 3.6 might be an advantage because x2go and maybe others will have to be adapted anyway (xinerama!)

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎30.‎10.‎2016 18:25
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibil

[2016-10-30 20:13] uli42 commented on #261
No

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎30.‎10.‎2016 18:20
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Mention" mention@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] Remove install-sh and mkinstalldirs(#261)

@uli42: Are you working on this already?
—
You ar

[2016-10-30 20:32] sunweaver commented on #257
Hi Ulrich,

On  So 30 Okt 2016 21:06:32 CET, Ulrich Sibiller wrote:

Ok. Leaving the 3.6.x milestone for this.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2016-10-30 22:57] Ionic commented on #256
On 30.10.2016 07:20 PM, Ulrich Sibiller wrote:

Hmm... I can't really give a clear opinion here. Theoretically, we don't need
nxagent on Windows, although it _might_ be buildable via Cygwin. The use is
limited though - you'd be able to start NX sessions on Windows and start X11
applications in there, which might be a nice feature to have, but probably not
very useful really. With the advent of Ubu

[2016-10-30 23:02] sunweaver commented on #256
Hi all,

On  So 30 Okt 2016 23:57:06 CET, Mihai Moldovan wrote:

Let's drop the Win32 support for now. If someone really ambitious pops
up regarding Win32 support for nxagent, then this person may dig out
files from Git history.

my 2¢

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF

[2016-10-31 11:45] #250 closed, assigned to sunweaver

[2016-10-31 14:19] uli42 opened #269 "Bug? "Xlib: resource ID allocation space exhausted!""
I had started an LXDE session last night (x2go client connected to localhost). My laptop went to standby. When I reactivated it just a few minutes ago I got a message from x2goclient telling me the session had been terminated (this is x2go's way telling me that the connection had been interrupted, I guess).

Looking at the session log I saw a message that I have never seen before: "Xlib: resource

[2016-11-02 11:08] uli42 commented on #256
No, I have no deep insight of the nxcomp\* libs. I was just wondering why Mike#1 was only refering to nxcomp and not nxcompext.

If nxcompshad is part of nxagent only we could also statically link it and keep it away from client-only installations.

BTW: Win.cpp contains a FIXME regarding `ErrorExit`, can we remove that?

[2016-11-02 11:09] uli42 commented on #269
It might be that I had a low memory situation when that happened. I have not seen it again.

[2016-11-02 11:57] sunweaver opened #271 "Drop OS/2 support"
Let's do something like backport these X.org commits:

[code]
[code]

[2016-11-02 12:00] sunweaver opened #272 "Drop Lynx support"
Some related X.org commits:

[code]

[2016-11-02 12:01] sunweaver opened #273 "Drop hpux support"
Related X.org commits:

[code]

[2016-11-02 12:01] sunweaver opened #274 "Drop AIXV3 support"
Related X.org commits:

[code]

[2016-11-02 12:03] sunweaver opened #275 "Drop more platforms we don't support"
Related X.org commits:

[code]

Not sure, if we still have all of the above ifdefs in nx-libs code. If yes, they should all go.

[2016-11-02 16:53] #234 closed, assigned to sunweaver

[2016-11-02 19:44] sunweaver commented on #269
Feel free to reopen this issues, if it occurs again. Closing for now.

[2016-11-02 19:44] #269 closed, assigned to nobody

[2016-11-02 21:13] uli42 commented on #264
This posting by Orion Popalski indicates we can drop them, I'd say: https://lists.fedoraproject.org/pipermail/scm-commits/Week-of-Mon-20131007/1126343.html

[2016-11-02 21:16] sunweaver opened #276 "move nxcompext into nx-X11/programs/Xserver/"
I just noticed that nxcompext includes (Xserver-only, private) headers from nx-X11/programs/Xserver/include/. As a shared library this is nothing it should do.

My suggestion is: moooooveeee nxcompext into nx-X11/programs/Xserver/.

[2016-11-02 22:21] sunweaver commented on #276
... I stumbled across this, because currently our builds fail in clean chroot envs...
https://jenkins.arctica-project.org/job/nx-libs.deb+nightly/138/

[2016-11-03 01:03] uli42 commented on #276
insert `#undef _XSERVER64` at the top of xcompext.c and it works!

[2016-11-03 08:43] sunweaver commented on #276
Hi Uli,

On  Do 03 Nov 2016 02:03:59 CET, Ulrich Sibiller wrote:

I fear that simply undeffing _XSERVER64 is no generic solution. I now
moved the nxcompext code directly into Xserver/hw/nxagent. The file
xcompext.c is not CompExt.c, all other files have been copied, except
Colormap.[ch] from nxcompext. These files are now named
ColormapComp.[ch].

I Xserver/hw/nxagent/CompExt.c, I added `#include

[2016-11-03 08:56] uli42 commented on #276
It was late... My combination consists of undef + Agent.h

Why don't you put xcompext into a subdir an leave the names?

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎03.‎11.‎2016 09:43
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Comment" comment@noreply.github.com
Betreff: Re:

[2016-11-03 09:51] sunweaver commented on #264
uli42: Very cool! Will you look into dropping that xlibi18n code completely, then? Or shall I?

[2016-11-03 09:58] uli42 commented on #264
I can do it this evening I think but go on if you like. Just let me know.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎03.‎11.‎2016 10:51
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Assign" assign@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] libX11 xlibi18n unused?

[2016-11-03 21:54] #252 closed, assigned to sunweaver

[2016-11-04 13:43] vatral opened #281 "Heavy transfer of data causes the use of freed memory and crashes"
This is rather imprecise as so far I'm still figuring this out.

I ran some stress tests using the newly introduced slave channel feature. Specifically when sending a large amount of data into the channel, some kind of race condition happens that results in the use of a freed memory block and subsequent decode errors and crashes.

Receiving data from the channel appears to work perfectly fine.

I

[2016-11-07 10:33] uli42 opened #282 "-Wpedantic does not work on RHEL6"
`-Wpedantic` is not supported on RHEL6`s gcc, I get

[code]

The provided compiler is

[code]

which knows about `-pedantic` but not `-Wpedantic`. However, [this](https://github.com/AltraMayor/f3/issues/4) suggests that it has a different meaning. Need to investigate...

[2016-11-08 07:01] #239 closed, assigned to nobody

[2016-11-15 09:25] uli42 opened #284 "Fix package names of rpms for RHEL"
The packages resulting from the spec file have unusual names:

[code]

Normally the library names do _not_ contain the library major version. Also they rather contain release numbers and not build numbers. And they should only contain `el6` or `el7` without an additional `centos` (as long as they are not specific for centos). So they should be named something like this:

[code]

[2016-11-15 09:33] uli42 opened #285 "RHEL: add font dependency"
On RHEL6 and 7  `xorg-x11-fonts-misc` is required. Otherwise nxagent will nor work and exit with `could not open default font fixed`

[2016-11-15 10:08] uli42 opened #286 "RHEL7: dangling link"
I built rpms on RHEL7 and installed them and found this:

[code]

The first link to `../libNX_X11.so` is dangling as the plain lib file is simply not there:
[code]
The RPM does not contain it:
[code]

[2016-11-15 10:29] uli42 opened #287 "RHEL7: still linking libX11"
On RHEL7 the nxagent wrapper script calls nxagent like this:
[code]

 Unfortunately this does not work. I can still see libX11 from the system in the linker output:
[code]

The reason for this is a missing link. If I add a the `libX11.so.6` link it works:
[code]

[2016-11-15 15:43] #276 closed, assigned to sunweaver

[2016-11-15 16:54] sunweaver commented on #284
Ionic: comments & feedback?
opoplawski: can you comment on this? Thanks! Mike.

[2016-11-15 17:48] sunweaver commented on #271
I have a fix for this pending...

[2016-11-15 19:07] sunweaver commented on #272
A have a fix pending for this...

[2016-11-15 20:05] sunweaver commented on #273
fix is available...

[2016-11-15 20:18] sunweaver opened #288 "Drop _osf_ support"
Like...

[code]

[2016-11-15 20:21] sunweaver commented on #274
I have a fix pending for this...

[2016-11-15 20:33] sunweaver commented on #288
I have a fix available for this...

[2016-11-15 20:52] sunweaver commented on #275
VXWORKS is not present in nx-libs.

[2016-11-15 21:04] sunweaver commented on #275
I have commits pending for this...

[2016-11-15 21:16] sunweaver opened #290 "drop WIN32 and __CYGWIN__ support (nx-X11 + nxagent)"
The nxagent Xserver makes most sense on *nix platforms. Thus we should drop all WIN32 and __CYGWIN__ macros from the code.

[2016-11-15 21:26] uli42 commented on #290
I object! This will probably complicate updating to upstream Xorg, I think

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎15.‎11.‎2016 22:16
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Betreff: [ArcticaProject/nx-libs] drop WIN32 and **CYGWIN** support (nx-X11 +nxagent) (#290)

The nxagent Xserver makes most sense

[2016-11-15 21:27] sunweaver commented on #264
Fix available as PR #279.

[2016-11-15 21:28] sunweaver commented on #262
@vatral, I assume this can be closed, right? Please do so with referencing the commit that brought the test scripts...

[2016-11-15 21:30] sunweaver commented on #290
Hi Ulrich

On  Di 15 Nov 2016 22:26:20 CET, Ulrich Sibiller wrote:

Then we should at least do it for hw/nxagent and hw/nxagent/compext.

The WIN32 really pollutes those files. I understand your concerns and
agree with you about the basic Xserver code base.

## Mike

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint

[2016-11-15 21:41] uli42 commented on #290
ok, with exception of the derived parts

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" notifications@github.com
Gesendet: ‎15.‎11.‎2016 22:30
An: "ArcticaProject/nx-libs" nx-libs@noreply.github.com
Cc: "Ulrich Sibiller" uli42@gmx.de; "Comment" comment@noreply.github.com
Betreff: Re: [ArcticaProject/nx-libs] drop WIN32 and **CYGWIN** support(nx-X11 + nxagent) (#2

[2016-11-16 05:31] Ionic commented on #290
Hmm... there's a lot of Windows code in compext AFAIK. They are either using the Xlib or WinAPI to do stuff - I haven't found out why but I'd be very careful about removing the Windows part.

[2016-11-16 09:12] sunweaver opened #291 "Check remaining platform ifdefs for correctness"
Suggested by @uli42:

We should check of the remaining ifdefs use the correct defines, I remember e.g `__sun__` instead of `sun`...

This was commented on PR #289.

[2016-11-17 19:52] #264 closed, assigned to uli42

[2016-11-17 23:23] sunweaver opened #292 "Add Generic Event extension to nx-X11/programs/Xserver"
We should start working on including GenericEvent support in nxagent:

[code]

[2016-11-21 15:48] vatral opened #293 "nxagentAdjustRandRXinerama uses freed memory"
While debugging another issue, I stumbled across this one:

1. nxagentAdjustRandRXinerama (Screen.c:3808) allocates memory by calling RRGetInfo
2. nxagentAdjustRandRXinerama (Screen.c:3872) frees memory by calling FreeResource
3. nxagentAdjustRandRXinerama (Screen.c:3986) attempts to use the memory it just freed with RRCrtcSet

It looks like pScrPriv->outputs should be compacted to remove the dele

[2016-11-21 15:55] uli42 commented on #293
While developing this I had the problem that the original xrandr code was missing a free() call. So I had to work around that somehow. The missing free() has been backported IIRC. So it _could_ be that the workaround is wrong now.

[2016-11-21 16:06] vatral commented on #293
It does look like something needs fixing.

FreeResource is a free() call, and the code that calls it doesn't decrement pScrPriv->numOutputs, so that entry is still in the array, and pointing to freed memory. It would seem the logical thing to do is to either compact the array after deletion, or to set the entry to NULL to mark it as unused.

I've not yet looked at what is the right thing to do the

[2016-11-30 07:22] #188 closed, assigned to sunweaver

[2016-11-30 09:34] sunweaver commented on #293
[code]

To me it seems we should / could simply drop the above code fraction.

@uli42: @vatral: ?

[2016-11-30 09:35] sunweaver commented on #293
Oh hang on... wrong section removed, I just realized. However, that above passage does not make sense either, does it? Where should non-NX Outputs come from?

[2016-11-30 09:36] sunweaver commented on #293
more noise... the above passage was the correct code block to be removed...

[2016-12-01 14:52] HolySephi commented on #161
So the process isn't segfaulting anymore but the rapid repeated setting of the screen size is still occuring

[2016-12-02 08:13] sunweaver commented on #293
@uli42: @vatral: ?

[2016-12-02 13:18] vatral commented on #293
@sunweaver  Hrmm. This is confusing. Let's see if I understand.

That chunk of code removes unneeded outputs. Note that there's another one right after it, so if you're going to remove something, it's probably both.

The code iterates from the end of the list, because RROutputDestroy actually compacts the pScrPriv->outputs array.

Lower down, the problem happens with "RRCrtcSet(pScrPriv->crtcs[i],

[2016-12-02 13:39] uli42 commented on #293
Well, concerning the NX outputs this 1:1 relationship is true, IIRC. If an output on the real xserver is not visible inside NX it gets switched off by removing the crtc. You can comment some of the cleanup routines and check what the servers knows using the xrandr binary. Maybe it gets clearer what's going on. I need to look deeper into this but I am lacking time currently, sorry.

[2016-12-03 23:47] uli42 commented on #293
Maybe the spec helps for better understanding of the output<->crtc relationship: https://cgit.freedesktop.org/xorg/proto/randrproto/tree/randrproto.txt (graphical representation around line 80)

The 1:1 relationship is true in NX as long as noone is adding additional outputs using the RAND extension. Which is something that should be prevented anyway, I'd say.

[2016-12-04 20:14] #246 closed, assigned to sunweaver, uli42

[2016-12-04 22:26] sunweaver opened #295 "Fix FTBFS on Debian unstable, build against libXfont2 (or use libXfont1 legacy)"
The new libXfont2 library is about to enter Debian testing. Currently, nx-libs FTBFS on Debian unstable, as libxfont-dev pulls in libxfont2. We should first fix the build dependency and use legacy libxfont1-dev, but in the long run we need to switch to libxfont2, I guess.

[2016-12-05 10:44] #295 closed, assigned to sunweaver

[2016-12-05 10:45] sunweaver opened #296 "Investigate building nx-libs against libXfont2"
The X.org project has worked on a new libXfont implementation, named libXfont2. We should condider converting nx-libs to build against the new libXfont2 API.

[2016-12-05 12:51] uli42 commented on #161
Hmm, can you please try this:

In `Screen.c` change line 3685 from
[code]

to

[code]

and recompile. Please also enable DEBUG and TEST in `Screen.c`.

Does it still happen then?

[2016-12-05 14:51] sunweaver commented on #292
I have worked on this today. Fix is pending...

[2016-12-07 21:38] uli42 opened #297 "drop temporary include files"
`nx-X11/programs/Xserver/hw/nxagent/X11/include/Xrandr_nxagent.h` contains this section:

[code]

I think this goal has been reached, hasn't it? So some (if not all) of these headers can be dropped.

As we are also having a X11 compatibility link now this should be droppable anyway.

[2016-12-10 20:52] sunweaver commented on #297
I can revisit those header files. But afair they were needed because of differences in the nx-libs X11 core proto headers used by the Xserver and the X.org X11 core proto headers shipped in libX* from X.org. I don't think that we can drop those temporary header files at the moment.

The moment those files can really be dropped is when we start using X.org X11 core proto headers instead of shipping

[2016-12-10 20:58] uli42 commented on #297
So then the problem really is that we want to be able to compile on
OSes shipping older Xorg headers.

[2016-12-10 21:15] sunweaver commented on #297
On  Sa 10 Dez 2016 21:58:42 CET, Ulrich Sibiller wrote:

Yes. Or rather, the problem is that the main sponsor of the nx-libs
work has this as a requirement (SLES 11).

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de

[2016-12-13 14:02] vatral opened #301 "atom.io editor fails to start possibly due to issue with BIG-REQUESTS extension"
When starting it under NX, this happens:

[code]

The problem is described and discussed here: https://github.com/atom/atom/issues/4360 and they suggest it's related to the BIG-REQUESTS extension. I have tried the `x11trace -e` workaround and it fixed it.

I have reproduced it on the 3.6.x branch.

[2017-01-04 15:44] uli42 opened #303 "debian/changelog references 3.5.99-3 twice"
... and supresses 3.5.99-2:

[code]

[2017-01-06 22:55] opoplawski opened #305 "Segmentation fault in ProcGetProperty"
With 3.5.99.3 on ScientificLinux 7.2
[code]

[2017-01-06 23:18] opoplawski opened #306 "Segmentation fault in GetGeometry"
With 3.5.99.3 on ScientificLinux 7.2:
[code]

[2017-01-11 11:35] uli42 commented on #306
Hmm, how did you compile nx for scientific linux? Did you run make or did you use the spec file?

[2017-01-12 09:23] #287 closed, assigned to nobody

[2017-01-13 21:00] opoplawski commented on #306
This is based on the Fedora rpm spec file that I use for the Fedora packages.  Just got this again:

(gdb) print *pDraw
$1 = {type = 80 'P', class = 200 '\310', depth = 241 '\361', bitsPerPixel = 230 '\346',
  id = 140527034957824, x = 2416, y = -6411, width = 32719, height = 0, pScreen = 0x0,
  serialNumber = 0}
(gdb) print *pDraw->pScreen
Cannot access memory at address 0x0

[2017-01-13 21:15] uli42 commented on #306
On Fri, Jan 13, 2017 at 10:00 PM, Orion Poplawski
<notifications@github.com> wrote:

This again looks like heavy data corruption. Two things to check:
1. Although I think you probably have done this I am asking anyway:
Did you ensure that the x2goagent is not linking to the system's
libX11 (see /proc/<pid>/maps)?
2. Does your spec file compile the code using -pie -fPIE?

[2017-01-13 21:31] opoplawski commented on #306
1 - I'm not linking to system X11:
[code]
2 - I'm compiling with the default Fedora hardened build flags, -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 which compile with -fPIE.

[2017-01-13 22:31] uli42 commented on #306
On Fri, Jan 13, 2017 at 10:31 PM, Orion Poplawski
<notifications@github.com> wrote:

Ok, looks good.

Please take that out and retry. We had problems with that so the
debian builds exclude it (see debian/rules:
SHLIBGLOBALSFLAGS='$(filter-out -pie,$(LDFLAGS))')

[2017-01-16 13:27] sunweaver commented on #306
Hi Orion, Ulrich,

On  Fr 13 Jan 2017 23:31:15 CET, Ulrich Sibiller wrote:

The Debian builds only excluding for building libNX_X11 where PIE
stuff does not make sense anyway. (We have PIC enabled instead, there).

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2

[2017-01-17 03:52] opoplawski commented on #306
Initial testing suggests that dropping -fPIE does not help.

[2017-01-19 00:39] opoplawski commented on #293
Just stumbled across this as well testing 3.5.99.3

[2017-01-27 15:53] opoplawski commented on #306
I still get this crash sometimes with 3.5.99.1 on startup, but it does feel more stable than 3.5.99.2 or .3.

[2017-02-03 13:27] sunweaver commented on #305
@opoplawski: can you provide more info on what this happens? Does the segfault happen at session start? Or does it occur after some specific actions in the running X session? Or does it happen arbitrarily?

[2017-02-03 13:31] sunweaver commented on #306
/me also wonders if this commit c61bb8cc59bf645f1bf4dbc5fd5464d559b3ecad, introdrucing the pScreen->root ABI change is flawed somewhere.

[2017-02-03 13:40] #303 closed, assigned to sunweaver

[2017-02-03 13:47] uli42 commented on #306
@sunweaver: good point, maybe that patch is not complete. We should try to provide a branch with that patch removed.

[2017-02-03 13:54] sunweaver commented on #286
The dangling symlink is not the real issue.

libNX_X11.so is only required when building something against libNX_X11. In Debian packaging libNX_X11.so is a file in libnx-x11-dev. so should it be in the .spec file, I guess.

I will fix this issue by removing the libX11.so symlink to libNX_X11.so entirely. Not needed at runtime.

[2017-02-03 14:03] #286 closed, assigned to nobody

[2017-02-03 14:06] sunweaver commented on #285
@opoplawski: does the above also apply to Fedora builds? Can you confirm the above? Thanks for feedback.

[2017-02-03 14:08] sunweaver commented on #284
@opoplawski: can you give input in nx-libs issue #284, please. Feedback highly appreciated.

Thanks!
Mike

[2017-02-03 14:09] sunweaver commented on #262
Request resolved by https://github.com/ArcticaProject/nx-libs/commit/e5091e0027c405674e0c87effc43576d085a054c

Closing on behalf of @vatral.

[2017-02-03 14:09] #262 closed, assigned to vatral

[2017-02-03 14:35] uli42 commented on #293
<i>it looks like pScrPriv->outputs should be compacted to remove the deleted entries, or the entry should be marked as unused.</i>

After looking through the code  I think this remark is correct.

Update:
Some code doing this can be found in rroutput.c/RROutputDestroyResource(void *value, XID pid):

[code]

If everything goes right RROutputDestroyResource() should be called automatically since it

[2017-02-03 15:31] sunweaver opened #309 "Xserver/randr: CreateNewResourceType() calls require a RegisterResourceName() calls with them in nxagent"
ABI backport. In nx-libs as of 3.5.99.3, you have to set a resource name with RegisterResourceName() after having it created with CreateNewResourceType().

With later X.org versions, the RegisterResourceName()  call is obsolete, as the naming directly happens in CreateNewResourceType().

Esp. in the RandR 1.5 backport, the calls to RegisterResourceName() have been erroneously removed.

[2017-02-03 16:21] opoplawski commented on #285
We currently carry the xorg-x1-fonts-misc dependency in the x2goserver package.  Perhaps it is more accurate to carry it in the nxagent package as it is the nxagent code the refers to "fixed" as the backup font name.  But yes, this would apply to current Fedora as well.

[2017-02-04 00:04] uli42 commented on #293
I have confirmed that RROutputDestroyResource() gets executed when FreeResource() is called for an output. So the output array gets compacted if necessary.

Update: we could have saved all this as RROutputDestroyResource happens to occur in the valgrind output above...

[2017-02-04 00:29] uli42 commented on #293
Now, this is interesting:

[code]

If I interpret valgrind's output correctly this tells me that nxagentAdjustRandRXinerama() calls FreeResource() which in turn calls RROutputDestroyResource(). So we can conclude that FreeResource() is used here to free an Output resource. However, the code contains only _one_ FreeResource() call, and that one is freeing a mode, not an Output!

[code]

So the ques

[2017-02-04 10:06] sunweaver commented on #265
@uli42: looking into this now.

The file

  * lcDynamic.[co]

is missing in libNX_X11's Imakefile, so I added that under LCSRCS/LCOBJS.

The files

  * XlcSL.[co]
  * XlcDL.[co]
  * XDefaultIMIF.[co]
  * XDefaultOMIF.[co]

do not get built, because there is a variable naming issue in libNX_X11's Imakefile. About to fix that.

The Xaixlcint.h will be handled by PR #289, so ignoring it here.

The fi

[2017-02-04 12:21] sunweaver commented on #265
The files...

  *  lcDynamic.[co]
  *  XlcSL.[co]
  *  XlcDL.[co]
  *  XDefaultIMIF.[co]
  *  XDefaultOMIF.[co]

are actually for building loadable i18n module support, which never was present in nxagent's libNX_X11.

So dropping that entirely, opposing what I said above.

[2017-02-04 13:15] sunweaver commented on #282
We will address that when moving over to autoconf/automake.

[2017-02-04 14:24] sunweaver commented on #309
I have just skimmed through X.org commits. Backporting the complete ABI change is to complex at the moment. This should be done for 3.7.x.

Closing this issue with my upcoming PR, fixing the missing RegisterResourceName() calls in Xserver/randr/. Opening a new issue report targetting 3.7.x mile stone, being about the actual ABI backport.

[2017-02-04 14:35] sunweaver opened #312 "CreateNewResourceType(): support resource name on creation immediately"
ABI backport. In nx-libs as of 3.5.99.3, you have to set a resource name with RegisterResourceName() after having it created with CreateNewResourceType().

With later X.org versions, the RegisterResourceName() call is obsolete, as the naming directly happens in CreateNewResourceType().

This is a reminder bug (cloned from #309) targetting the 3.7.x release series.

[2017-02-04 14:43] #2 closed

[2017-02-04 18:08] sunweaver commented on #225
Addressed and about to be resolved by #313, thus tagging with "fix available".

[2017-02-05 10:41] sunweaver commented on #77
The issue does not exists with Linux as a client (UTF-8 <-> UTF-8).

[2017-02-05 10:48] sunweaver commented on #60
@mikedep333: Do you have any recipe that allows me reproducing this issue on Linux-only setups?

[2017-02-05 11:43] sunweaver commented on #51
Any path starting with /dev/, /proc/, or /sys/ should be ignored. Providing a patch for that.

[2017-02-05 11:55] sunweaver commented on #51
Fix provided as PR #314.

[2017-02-05 12:07] sunweaver commented on #78
This issue has been resolved by the new Xinerama implementation. Reporting back down stream to X2Go and closing this issue here, now.

[2017-02-05 12:07] #78 closed, assigned to nobody

[2017-02-05 12:28] sunweaver commented on #82
This is a multi-topic bug. Basically, GNOME applications run (again) on nx-libs 3.5.99.3 and above. This has been tested with gedit and gnome-terminal from Debian jessie and Debian stretch. So that issues seems to be settled.

Evolution (not sure if it was mentioned above, but it also is a problematic application) fails to launch on jessie due to missing recent-enough GLX support. The stretch vers

[2017-02-05 12:28] #82 closed, assigned to nobody

[2017-02-05 16:36] sunweaver commented on #84
The real work to fix this is backporting this X.org patch:
https://cgit.freedesktop.org/xorg/xserver/commit/?id=49b93df8a3002db7196aa3fc1fd8dca1c12a55d6

[2017-02-05 16:48] sunweaver commented on #84
and this one:
https://cgit.freedesktop.org/xorg/xserver/commit/?id=f56cbe1ef24415d0142b9a7d0ab0a031069ccb52

[2017-02-05 21:49] sunweaver commented on #296
Porting to libXfont2 should be pretty easy:

[code]

However, we need to keep support for libXfont1 around for a while, too. So the porting will be an ifdef-else-endif pita.

[2017-02-05 21:58] sunweaver commented on #79
@uli42: @Ionic: @vatral: @mbecroft: @opoplawski: does anyone know about other issues with nxagent, where colors are incorrectly displayed? Ideally a FLOSS software. I hear such issues here and there, but mostly with proprietary products as X clients.

[2017-02-05 22:08] uli42 commented on #79
There was an x2go issue only last week which turned out to being caused by a broken System setup. But I am not aware of any other color issues.

Vom Smartphone gesendet.

----- Ursprüngliche Nachricht -----
Von: "Mike Gabriel" <notifications@github.com>
Gesendet: ‎05.‎02.‎2017 22:58
An: "ArcticaProject/nx-libs" <nx-libs@noreply.github.com>
Cc: "Ulrich Sibiller" <uli42@gmx.de>; "Mention" <mention@n

[2017-02-05 23:06] mbecroft commented on #79
I have occasionally had similar color issues on NX and possibly also X2go (I think it's an nxagent issue). But it's infrequent and in my experience has only affected minor things like a border color so wasn't worth investigating. Don't know if same or different issue. Mine was definitely not a config issue but a problem with nxagent. Vague, and not a lot of help, I know.

It may turn out to be a s

[2017-02-05 23:48] sunweaver commented on #79
On  Mo 06 Feb 2017 00:06:41 CET, Mario Becroft wrote:

Thanks for your feedback. One issue I noticed today, is this:
https://github.com/ArcticaProject/nx-libs/pull/315

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.d

[2017-02-06 16:38] sunweaver commented on #245
PR #319 reduces this issue to /etc/nxagent/keystrokes.cfg and /etc/nxagent/nxagent.keyboard.

However, those two are tricky, as there is some NX vs. X2Go code involved for both cases. We need an all-satisfying approach for this, that ideally does not break existing setups.

[2017-02-06 16:45] opoplawski commented on #79
I don't know of any myself.

[2017-02-06 19:58] uli42 opened #321 "valgrind reports invalid read"
I see this right at the start of valgrind --leak-check=full nxagent -ac :55

[code]

[2017-02-06 21:48] uli42 commented on #321
D'oh... My fault. After compiling libNX_X11 without -O3 that went away...

[2017-02-06 21:48] #321 closed, assigned to nobody

[2017-02-06 21:51] uli42 commented on #259
Has been addressed in #319

[2017-02-06 22:26] uli42 commented on #293
Update2: ignore this comment, it's nonsense. See further comments.

Well, while your commit seems to make the behaviour disappear I think I have taken a step towards the real cause: During writing Xinerama stuff I have added nxagentRandRCrtcSet() (in Extensions.c). This simply calls RRCrtcNotify(). I remember that this was the easiest approach to get the desired behaviour though I had been unsure

[2017-02-08 11:02] Kimmax opened #322 "Segault while using Libreoffice"
I found a somewhat reproducible segault.
When opening a new document in libreoffice writer and rapidly activating / deactivating the Kursive / Bold / Underline settings I crash into a segault:

server side versions:

client side:

I really hope that this error is somehow related to the other random segfaults that occur. We couldn't really find a pattern for them happening besides the libreoffice s

[2017-02-08 12:09] uli42 commented on #322
Wow, I admire you patience triggering that again and again and again ;-)

Can you please attach a gdb to the running x2goagent/nxagent process and - when the crash happens - run the bt command and post the resulting backtrace?

[2017-02-08 12:37] sunweaver commented on #322
I just gave some info on nxagent debugging here:
http://lists.x2go.org/pipermail/x2go-dev/attachments/20170206/e6afbde6/attachment.ksh

[2017-02-08 13:13] sunweaver commented on #293
Hi Uli,

On  Mo 06 Feb 2017 23:26:34 CET, Ulrich Sibiller wrote:

What exactly to you be by "to do the right thing"?

Mike
--

DAS-NETZWERKTEAM
mike gabriel, herweg 7, 24357 fleckeby
mobile: +49 (1520) 1976 148
landline: +49 (4354) 8390 139

GnuPG Fingerprint: 9BFB AEE8 6C0A A5FF BF22  0782 9AF4 6B30 2577 1B31
mail: mike.gabriel@das-netzwerkteam.de, http://das-netzwerkteam.de

[2017-02-08 14:04] uli42 commented on #293
I think "the right thing" is to do what RRCrtcNotify() does but without touch old stuff. The real problem is that the old output (that has been destroyed just before) is still referenced in the crtc struct and RRNotify() will try to set the "changed" flag on it.

It could also be that calling RROutputDestroy() it not sufficient and some more work is needed after it. I need to investigate but I am

[2017-02-08 15:41] sunweaver commented on #284
@opoplawski: reminder on a quick look at #284. Can you confirm that library names should not contain the major version when RPM packaging them?

Also, I am not quite sure where the ``.centos.`` strings in uli42's package names come from...

[2017-02-08 19:10] uli42 commented on #293
The real reason is identified: The "delete superfluous non-NX outputs" loop adjusts the number of outputs to the number of crtcs; both should match the number of outputs of the real server. It does that by calling RROutputDestroy() for all the outputs in the outputs array whose index exceeds the required number. But it does not check if any of these outputs is still in use by a crtc. So a crtc can

[2017-02-08 21:03] uli42 commented on #322
I can reproduce that on a local x2go session (x2go to localhost, running xfce on ubuntu 14.04). Here's the gdb backtrace:

[code]

It is the same as #306

[2017-02-08 21:35] #293 closed, assigned to sunweaver, uli42

[2017-02-08 21:50] uli42 commented on #322
@sunweaver could this have something to do with this commit? https://github.com/ArcticaProject/nx-libs/commit/c61bb8cc59bf645f1bf4dbc5fd5464d559b3ecad